mixin breadcrumbs(list)
  .l-breadcrumbs(itemscope itemtype="http://schema.org/BreadcrumbList" role="navigation" aria-label="現在位置")
    ol.l-breadcrumbs__list
      each item, index in list
        - var position = index + 1
        li.l-breadcrumbs__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
            if position != list.length
              a.l-breadcrumbs__target(href=item[1] itemprop="item")
                span(itemprop="name") #{item[0]}
                meta(itemprop="position" content=position)
            else
              span.l-breadcrumbs__target(itemprop="item")
                span(itemprop="name") #{item[0]}
                meta(itemprop="position" content=position)
