footer.l-footer#footer
  //- .l-footer__pagetop#pagetop
  //-   a.c-pagetop(href='#wrapper')
  //-     .c-pagetop__button
  //-       span.c-arrow.c-arrow-a.c-arrow-a--white.c-arrow-a--up.s-15.u-mt5
  .l-footer__container
    .l-footer__primary
      .footer-primary
        .footer-primary__content.c-cntw
          .footer-primary__section
          .footer-primary__section
    .l-footer__secondary
      .footer-secondary
        .footer-secondary__content.c-cntw
          p.footer-secondary__copyright
            small !{copyright}
