.l-gnav
  .l-gnav__header
    .gnav-header
      .gnav-header__logo
        a.c-logo-site.c-hover-opacity(href=rootURL)
          //- - var tag = pageId === 'index' ? 'h1' : 'p'
          p.c-logo-site__wrap
            span.c-logo-site__logo
              p ロゴ
      .gnav-header__button
        .c-button-icon-b
          a.c-button-icon-b__target(href="/foo/" target="_blank")
            .c-button-icon-b__icon
            p.c-button-icon-b__text ボタンテキスト
      .gnav-header__toggler
        button.c-toggler.js-toggler(aria-expanded="true")
          span.c-toggler__icon
            span
            span
            span
          //- span.c-toggler__text
  .l-gnav__body
    nav.l-gnav__nav
      ul.l-gnav__list(role="menu")
        li.l-gnav__item
          .gnav-unit
            ul.gnav-unit__list
              li.gnav-unit__item
                .c-link-s.icon-abs-right
                  a.c-link-s__target.c-hover-color.c-hover-uline.ext-pos1.ext-right(href=`${rootDir}/buzz/` role="menuitem")
                    p.c-link-s__text テキスト
                    .c-link-s__icon
                        span.c-arrow.c-arrow-a
              li.gnav-unit__item
                .c-link-s.icon-abs-right
                  a.c-link-s__target.c-hover-color.c-hover-uline.ext-pos1.ext-right(href=`${rootDir}/buzz/` role="menuitem")
                    p.c-link-s__text テキスト
                    .c-link-s__icon
                        span.c-arrow.c-arrow-a
        li.l-gnav__item
          dl.gnav-unit
            dt.gnav-unit__term
              .c-link-s
                .c-link-s__target
                  p.c-link-s__text テキスト
            dd.gnav-unit__desc
              ul.gnav-unit__list
                li.gnav-unit__item
                  .c-link-s.icon-abs-right
                    a.c-link-s__target.c-hover-color.c-hover-uline.ext-pos1.ext-right(href=`${rootDir}/fizz/` role="menuitem")
                      p.c-link-s__text テキスト
                      .c-link-s__icon
                        span.c-arrow.c-arrow-a
                li.gnav-unit__item
                  .c-link-s.icon-abs-right
                    a.c-link-s__target.c-hover-color.c-hover-uline.ext-pos1.ext-right(href=`${rootDir}/fizz/` role="menuitem")
                      p.c-link-s__text テキスト
                      .c-link-s__icon
                        span.c-arrow.c-arrow-a
        li.l-gnav__item
          dl.gnav-unit
            dt.gnav-unit__term
              .c-link-s
                .c-link-s__target
                  p.c-link-s__text テキスト
            dd.gnav-unit__desc
              ul.gnav-unit__list
                li.gnav-unit__item
                  .c-link-s.icon-abs-right
                    a.c-link-s__target.c-hover-color.c-hover-uline.ext-pos1.ext-right(href=`${rootDir}/bar/` role="menuitem")
                      p.c-link-s__text テキスト
                      .c-link-s__icon
                        span.c-arrow.c-arrow-a
                li.gnav-unit__item
                  .c-link-s.icon-abs-right
                    a.c-link-s__target.c-hover-color.c-hover-uline.ext-pos1.ext-right(href=`${rootDir}/bar/` role="menuitem")
                      p.c-link-s__text テキスト
                      .c-link-s__icon
                        span.c-arrow.c-arrow-a
