header.l-header#header
  .l-header__inner
    .l-header__content
      .l-header__toggler.l-header__toggler--sp
        button.c-toggler.js-toggler
          span.c-toggler__icon
            span
            span
            span
          //- span.c-toggler__text
      .l-header__logo
        a.c-logo-site.c-hover-opacity(href=rootURL)
          //- - var tag = pageId === 'index' ? 'h1' : 'p'
          //- #{tag}.c-logo-site__wrap
          p.c-logo-site__wrap
            span.c-logo-site__logo ロゴ
      .l-header__extnav
        ul.extnav__list
          li.extnav__item
            .c-button-icon-a
              a.c-button-icon-a__target(href=`${rootDir}/bar/`)
                p.c-button-icon-a__text テキスト
          li.extnav__item
            .c-button-icon-a
              a.c-button-icon-a__target(href=`${rootDir}/bar/`)
                p.c-button-icon-a__text テキスト
        .l-header__toggler
          button.c-toggler.js-toggler
            span.c-toggler__icon
              span
              span
              span
            //- span.c-toggler__text
    .l-header__drawer
      .l-overlay#overlay-1(aria-hidden="true")
      .l-drawer#drawer(aria-hidden="true")
        .l-drawer__inner
          .l-drawer__gnav
            include ./_gnav
