-
  const menus = {
    main: {
      heading: 'メインメニュー見出し',
      products: [
        {
          header: {
            text: 'テキスト',
            href: '/link/',
            target: 'self',
            open: false
          },
          list: [
            {
              icon: 'ico_foo_01b',
              text: 'テキスト',
              href: '/link/',
              target: 'self'
            },
            {
              icon: 'ico_foo_01b',
              text: 'テキスト',
              href: '/link/',
              target: 'self'
            },
            {
              icon: 'ico_foo_01b',
              text: 'テキスト',
              href: '/link/',
              target: 'self'
            }
          ]
        },
      ]
    },
    sub:{
      heading: 'サブメニュー見出し',
      item: {
        first: [
          {
            id: 'example',
            text: 'テキスト',
            href: '/#example',
            target: 'self'
          },
          {
            id: 'example',
            text: 'テキスト',
            href: '/#example',
            target: 'self'
          },
          {
            id: 'example',
            text: 'テキスト',
            href: '/#example',
            target: 'self'
          }
        ],
        second: [
          {
            id: 'example',
            text: 'テキスト',
            href: '/example/',
            target: 'self'
          },
          {
            id: 'example',
            text: 'テキスト',
            href: '/example/',
            target: 'self'
          },
          {
            id: 'example',
            text: 'テキスト',
            href: '/example/',
            target: 'self'
          }
        ]
      }
    }
  }
