meta(charset="utf-8")
//- if pageId === 'index'
//-   title=`${siteName} | ${author}`
//- else
title=`${title} | ${siteName} | ${author}`
meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1")
meta(name="format-detection" content="telephone=no")
meta(name="description" content=description)
//- meta(name="keywords" content=keywords)
meta(http-equiv="X-UA-Compatible" content="IE=edge")

meta(name="author" content=author)
meta(name="copyright" content=copyright)

meta(property="og:title" content=`${title} | ${siteName} | ${author}`)
meta(property="og:url" content=domain+url)
meta(property="og:description" content=ogDescription)
meta(property="og:type" content=pageType)
meta(property="og:image" content=domain+ogImage)
meta(property="og:site_name" content=siteName)
//- meta(property="fb:app_id" content="")
meta(name="twitter:card" content="summary_large_image")

link(rel="icon" href=`${imgPath}favicon.png`)
//- link(rel="apple-touch-icon" sizes="180x180" href=`${imgPath}apple-touch-icon.png`)
link(rel="stylesheet" href=`${relPath}assets/css/styles.css`)
