.p-pagination-b
  .p-pagination-b__pager
    .p-button-arrow
      a.p-button-arrow__target(href="")
        .p-button-arrow__arrow.left
          .c-arrow-a-double
            span.c-arrow.c-arrow-a.c-arrow-a--left
            span.c-arrow.c-arrow-a.c-arrow-a--left
    .p-button-arrow
      a.p-button-arrow__target(href="")
        .p-button-arrow__arrow.left
          span.c-arrow.c-arrow-a.c-arrow-a--left.u-block
  ol.p-pagination-b__list
    li.p-pagination-b__item
      a.p-pagination-b__target(href="" aria-current="page") 1
    li.p-pagination-b__item
      a.p-pagination-b__target(href="") 2
    li.p-pagination-b__item
      a.p-pagination-b__target(href="") 3
    li.p-pagination-b__item
      a.p-pagination-b__target(href="") 4
  .p-pagination-b__pager
    .p-button-arrow
      a.p-button-arrow__target(href="")
        .p-button-arrow__arrow.right
          span.c-arrow.c-arrow-a.c-arrow-a--right.u-block
    .p-button-arrow
      a.p-button-arrow__target(href="")
        .p-button-arrow__arrow.right
          .c-arrow-a-double
            span.c-arrow.c-arrow-a.c-arrow-a--right
            span.c-arrow.c-arrow-a.c-arrow-a--right
