.p-panel-modal(aria-hidden="true")
  .p-panel-modal__wrapper
    .p-panel-modal__container
      .l-overlay#overlay-2(aria-hidden="true")
      .p-panel-modal__content(role="dialog" aria-modal="true")
        figure.p-panel-modal__figure
          .p-panel-modal__imgwrap
            img.p-panel-modal__img(src="" alt="")
            .p-panel-modal__favorite
              span.c-icon-favorite
                +svg('c-icon-a red', 'ico_heart_02')
                +svg('c-icon-a', 'ico_heart_01')
          figcaption.p-panel-modal__caption
            .modal-caption
              .modal-caption__desc
                if modalPaging
                  .modal-caption__pager.modal-caption__pager--prev
                    .c-link-s
                      button.c-link-s__target.u-color-blue-light.c-hover-color
                        .c-link-s__icon
                          span.c-arrow.c-arrow-line.c-arrow-line--half.c-arrow-line--invert
                        p.c-link-s__text.u-fz14.u-text-mid 前へ
                p.modal-caption__id A0000-00000
                if modalPaging
                  .modal-caption__pager.modal-caption__pager--next
                    .c-link-s
                      button.c-link-s__target.u-color-blue-light.c-hover-color
                        p.c-link-s__text.u-fz14.u-text-mid 次へ
                        .c-link-s__icon
                          span.c-arrow.c-arrow-line.c-arrow-line--half
              //- ページャーが無くてボタンだけある場合
              if pageId === 'index'
                .
                  <!--
                  <div class="modal-caption__button">
                    <div class="c-button-b c-button-b--color icon-abs icon-right w-large h-medium h-regular-sp"><a class="c-button-b__target designEdit" href="javascript:void(0);" data-design="">
                        <p class="c-button-b__text u-fz18 u-fz16-sp">このデザインで作る</p>
                        <div class="c-button-b__icon right move-right"><span class="c-arrow c-arrow-line c-arrow-line--white s-large"></span></div></a></div>
                  </div>
                  -->
              if modalButton
                .modal-caption__button
                  .c-button-b.c-button-b--color.icon-abs.icon-right.w-large.h-medium.h-regular-sp
                    a.c-button-b__target.designEdit(href="javascript:void(0);" data-design="")
                      p.c-button-b__text.u-fz18.u-fz16-sp このデザインで作る
                      .c-button-b__icon.right.move-right
                        span.c-arrow.c-arrow-line.c-arrow-line--white.s-large
        .p-panel-modal__closebutton
          button.c-button.c-button-cross(aria-label="モーダルを閉じる")
            span.c-icon.c-icon-cross
