-
  var rootDir = `/nenga`
  var rootURL = `${rootDir}/`
  var assetsPath = `${rootDir}/assets/`
  var imgPath = `${rootDir}/assets/img/`
  var svgPath = `${rootDir}/assets/img/svg-sprite/`
  var svgPathAttr = `${rootDir}/assets/img/svg-sprite-attr/`
  var brkPoint = `767`
  var domain = 'https://www.foo.co.jp'
  var siteName = 'サイト名'
  var author = 'author name'
  var copyright = 'Copyright (c) 2003-2022 foo All Rights Reserved.'
  var contactUrl = ''
  var contactTel = ''
  var contactHours = ''
