extends ../_layout

block vars
  -
    var pageId = 'second'
        pageCategory = ''
        pageType = 'article'
        title = 'タイトル'
        description = 'ディスクリプション'
        keywords = ''
        url = '/second/'
        //- ogTitle = `${title} | ${siteName} | ${author}`
        ogDescription = description
        ogImage = `${imgPath}ogp.jpg`
        relPath = '../',
        pageTitle = 'ページタイトル',
        breadcrumbs = [
          ['トップ', '/'],
          ['セカンド', url]
        ]

block stylesheets
  //- link(rel="stylesheet" href=`${assetsPath}css/top.css`)

block hero
  +hero-a({
    lead: 'リード分',
    image: {
      class: '',
      name: 'ph_hero_01',
      ext: 'jpg',
      width: '650',
      height: '430',
      loading: 'eager',
      decoding: 'async',
      alt: ''
    }
  })
block content
  section.l-section.u-pb0
    .l-section__content.c-cntw
      .l-section__heading
        p 見出し


        p 見出し2


        p 見出し3
      .l-section-2
        .c-cntw.c-cntw--5.nopad
          p プロジェクト