
/* ==============================================
align
============================================== */

.u-align { //container
  .u-align__cnt { //contents
    display: inline-block;
  }
  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
}
