
/* ==============================================
anchor link
============================================== */

/* Usage
-----------------------
.l-section
  span.u-anchor#anchor-1
*/

//**
.u-anchor {
  display: block;
  margin-top: -$headerH;
  padding-top: $headerH;
  position: absolute;
  top: 0;
  //.u-anchor(sp)
  @include media-sp {
    margin-top: -$headerSPH;
    padding-top: $headerSPH;
  }
}
