
/* ==============================================
border
============================================== */

.u-border {
  &-t-none {
    border-top: none !important;
  }
  &-b-none {
    border-bottom: none !important;
  }
  &-l-none {
    border-left: none !important;
  }
  &-r-none {
    border-right: none !important;
  }
}
.u-circumference-border {
  border: 1px solid #d3d3d3;
}
