
/* ==============================================
color
============================================== */

.u-color {
  &-black {
    color: #000;
  }
  &-white {
    color: #fff;
    fill: #fff;
  }
  &-red {
    color: $color-red;
  }
  &-blue {
    color: $color-blue;
  }
  &-blue-light {
    color: $color-blue-light;
  }
  &-navy {
    color: $color-navy;
  }
  &-orange {
    color: $color-orange;
    &-light {
      color: $color-orange-light;
    }
  }
  &-gray {
    color: $color-gray;
    &-light {
      color: $color-gray-light;
    }
    &-exlight {
      color: $color-gray-exlight;
    }
    &-dark {
      color: $color-gray-dark;
    }
  }
}

.u-bgcolor {
  &-white {
    background-color: #fff;
  }
  &-blue {
    background-color: $color-blue;
  }
}

.u-opacity-0 {
  opacity: 0;
}
