
/* ==============================================
display
============================================== */

.u-only {
  &sp {
    display: none !important;
  }
  //.u-only(sp)
  @include media-sp {
    &pc {
      display: none !important;
    }
    &sp {
      display: inherit !important;
    }
  }
  //.u-only(min980)
  $vp: 980; //**
  &-min#{$vp} {
    @media (min-width: #{$vp}px) {
      display: inherit;
    }
    @media (max-width: #{$vp - 1}px) {
      display: none;
    }
  }
  //.u-only(max980)
  $vp: 980; //**
  &-max#{$vp} {
    @media (max-width: #{$vp}px) {
      display: inherit;
    }
    @media (min-width: #{$vp + 1}px) {
      display: none;
    }
    @include media-sp {
      display: none;
    }
  }
}

.u-block {
  display: block;
}

.u-iblock {
  display: inline-block;
}

.u-inline {
  display: inline;
}
