
/* ==============================================
flex
============================================== */

/*
* .u-flex
* .u-order
*/


/* .u-flex
----------------------- */
.u-flex {
  display: flex;
  > * {
    flex: 0 1 auto;
  }
  > &__img {
    flex: 0 0 auto;
  }
  &-inline {
    display: inline-flex;
  }
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
  &-stretch {
    align-items: stretch;
  }
  &-align-c {
    align-items: center;
  }
  &-align-end {
    align-items: flex-end;
  }
  &-wrap {
    flex-wrap: wrap;
  }
  &-column {
    flex-direction: column;
  }
  &-shrink-0 {
    flex-shrink: 0;
  }
  //.u-flex(sp)
  @include media-sp {
    &-sp {
      display: flex;
    }
    &-center-sp {
      justify-content: center;
    }
    &-between-sp {
      justify-content: space-between;
    }
    &-around-sp {
      justify-content: space-around;
    }
    &-stretch-sp {
      align-items: stretch;
    }
    &-align-center-sp {
      align-items: center;
    }
    &-align-end-sp {
      align-items: flex-end;
    }
    &-wrap-sp {
      flex-wrap: wrap;
    }
    &-column-sp {
      flex-direction: column;
    }
    &-spcol-sp {
      flex-direction: column;
    }
    &-spblock-sp {
      display: block;
    }
    &-align-start-sp {
      align-items: flex-start;
    }
  }
}

/* .u-order
----------------------- */
@for $i from 0 through 10 {
  .u-order#{$i} {
    order: #{$i};
  }
  //.u-order-sp(sp)
  @include media-sp {
    .u-order#{$i}-sp {
      order: #{$i};
    }
  }
}
