
/* ==============================================
height
============================================== */

// px
@for $i from 1 through 20 {
	.u-h#{$i * 5}px {
		height : 5px * $i !important;
	}
}

// %
@for $i from 1 through 20 {
	.u-h#{$i * 5} {
		height : 5% * $i !important;
	}
}
@media only screen and (max-width: #{$brkw-sp}px) {
	.u-height-sp100 {
		width : 100%;
	}
}
