
/* ==============================================
line-height
============================================== */

@for $i from 5 through 30 {
  .u-lh#{$i} {
    line-height: $i / 10;
  }
}

//(sp)
@media only screen and (max-width: #{$brkw-sp}px) {
  @for $i from 5 through 30 {
    .u-lh#{$i}-sp {
      line-height: $i / 10;
    }
  }
}
