
/* ==============================================
overflow
============================================== */

/*
* .u-overflow
*/


/* .u-overflow
----------------------- */
.u-overflow {
  &-h {
    overflow: hidden;
  }
}
