
/* ==============================================
position
============================================== */

/* position
----------------------- */
.u-rel {
  position: relative;
}
.u-abs{
  position: absolute;
}
.u-fix {
  position: fixed;
}

/* direction
----------------------- */
// px(pc)
@for $i from 0 through 10 {
  .u-left#{$i * 5} { left: 5px * $i !important; }
  .u-right#{$i * 5} { right: 5px * $i !important; }
  .u-top#{$i * 5} { top: 5px * $i !important; }
  .u-bottom#{$i * 5} { bottom: 5px * $i !important; }
}
@for $i from 1 through 10 {
  .u-left#{$i} { left: #{$i}px !important; }
  .u-right#{$i} { right: #{$i}px !important; }
  .u-top#{$i} { top: #{$i}px !important; }
  .u-top-#{$i} { top: #{$i * -1}px !important; }
  .u-bottom#{$i} { bottom: #{$i}px !important; }
}
//px(sp)
@include media-sp {
  @for $i from 0 through 10 {
    .u-left#{$i * 5}-sp { left: 5px * $i !important; }
    .u-right#{$i * 5}-sp { right: 5px * $i !important; }
    .u-top#{$i * 5}-sp { top: 5px * $i !important; }
    .u-bottom#{$i * 5}-sp { bottom: 5px * $i !important; }
  }
}
