
/* ==============================================
spacing
============================================== */

// px
@for $i from 0 through 30 {
  .u-mt#{$i * 5} { margin-top: 5px * $i !important; }
  .u-mt#{$i * -5} { margin-top: -5px * $i !important; }
  .u-mr#{$i * 5} { margin-right: 5px * $i !important; }
  .u-mb#{$i * 5} { margin-bottom: 5px * $i !important; }
  .u-mb#{$i * -5} { margin-bottom: -5px * $i !important; }
  .u-ml#{$i * 5} { margin-left: 5px * $i !important; }
  .u-pt#{$i * 5} { padding-top: 5px * $i !important; }
  .u-pr#{$i * 5} { padding-right: 5px * $i !important; }
  .u-pb#{$i * 5} { padding-bottom: 5px * $i !important; }
  .u-pl#{$i * 5} { padding-left: 5px * $i !important; }
  .u-pv#{$i * 5} {
    padding-top: 5px * $i !important;
    padding-bottom: 5px * $i !important;
  }
  .u-ph#{$i * 5} {
    padding-left: 5px * $i !important;
    padding-right: 5px * $i !important;
  }
  .u-pa#{$i * 5} { padding: 5px * $i !important; }
}
// px
@for $i from 1 through 10 {
  .u-mt#{$i} { margin-top: #{$i}px !important; }
  .u-mt#{$i * -1} { margin-top: #{$i * -1}px !important; }
  .u-mb#{$i} { margin-bottom: #{$i}px !important; }
  .u-mb#{$i * -1} { margin-bottom: #{$i * -1}px !important; }
  .u-ml#{$i} { margin-left: #{$i}px !important; }
  .u-mr#{$i} { margin-right: #{$i}px !important; }
}
// em(Integer)
@for $i from 1 through 5 {
  .u-mt#{$i}em { margin-top: 1em * $i !important; }
  .u-mb#{$i}em { margin-bottom: 1em * $i !important; }
  .u-ml#{$i}em { margin-left: 1em * $i !important; }
  .u-mr#{$i}em { margin-right: 1em * $i !important; }
}
// em(Decimal)
@for $i from 0 through 5 {
  .u-mt#{$i}_5em { margin-top: .5em + $i !important; }
  .u-mb#{$i}_5em { margin-bottom: .5em + $i !important; }
  .u-ml#{$i}_5em { margin-left: .5em + $i !important; }
  .u-mr#{$i}_5em { margin-right: .5em + $i !important; }
}
// px(sp)
@media only screen and (max-width: #{$brkw-sp}px) {
  @for $i from 0 through 30 {
    .u-mt#{$i * 5}-sp { margin-top: 5px * $i !important; }
    .u-mt#{$i * -5}-sp { margin-top: -5px * $i !important; }
    .u-mr#{$i * 5}-sp { margin-right: 5px * $i !important; }
    .u-mr#{$i * -5}-sp { margin-right: -5px * $i !important; }
    .u-mb#{$i * 5}-sp { margin-bottom: 5px * $i !important; }
    .u-mb#{$i * -5}-sp { margin-bottom: -5px * $i !important; }
    .u-ml#{$i * 5}-sp { margin-left: 5px * $i !important; }
    .u-ml#{$i * -5}-sp { margin-left: -5px * $i !important; }
    .u-pt#{$i * 5}-sp { padding-top: 5px * $i !important; }
    .u-pr#{$i * 5}-sp { padding-right: 5px * $i !important; }
    .u-pb#{$i * 5}-sp { padding-bottom: 5px * $i !important; }
    .u-pl#{$i * 5}-sp { padding-left: 5px * $i !important; }
    .u-pv#{$i * 5}-sp {
      padding-top: 5px * $i !important;
      padding-bottom: 5px * $i !important;
    }
    .u-ph#{$i * 5}-sp {
      padding-left: 5px * $i !important;
      padding-right: 5px * $i !important;
    }
    .u-pa#{$i * 5}-sp { padding: 5px * $i !important; }
  }
}

.u-sp-fit {
  @media only screen and (max-width: #{$brkw-sp}px) {
    @include margin(left, vpsp-vw($pad-sp));
    @include margin(right, vpsp-vw($pad-sp));
  }
}
