
/* ==============================================
text
============================================== */

/*
* .u-fz{n}
* .u-fz{n}per
* .u-text
*/


/* .u-fz{n}
----------------------- */
@for $i from 8 through 70 {
  .u-fz#{$i} { font-size: .1rem * $i !important; }
}
//.* .u-fz{n}(mid)
@media (max-width: 900px) {
  @for $i from 8 through 70 {
    .u-fz#{$i}-mid { font-size: .1rem * $i !important; }
  }
}

//.* .u-fz{n}(sp)
@include media-sp {
  @for $i from 8 through 60 {
    .u-fz#{$i}-sp { font-size: .1rem * $i !important; }
  }
}

/* .u-fz{n}per
----------------------- */
@for $i from 1 through 22 {
  .u-fz#{$i * 10}per { font-size: 10% * $i !important; }
}

/* .u-text
----------------------- */
.u-text {
  &-align-l {
    text-align: left;
  }
  &-align-r {
    text-align: right;
  }
  &-align-c {
    text-align: center;
  }
  &-bold {
    font-weight: 700;
  }
  &-mid {
    font-weight: 600 !important;
  }
  &-medium {
    font-weight: 500;
  }
  &-normal {
    font-weight: 400;
  }
  &-color-text {
    color: $color-text;
  }
  &-color-white {
    color: #fff;
  }
  &-loose {
    letter-spacing: .087em;
  }
  &-small {
    font-size: 80% !important;
  }
  &-serif {
    font-family: 'Shippori Mincho', serif;
  }
  &-roboto {
    font-family: 'Roboto', sans-serif;
  }
  &-arial {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  }
  &-sub {
    font-size: .5em;
    margin: 0 .1em;
    &--entity {
      font-size: 1.2rem;
    }
  }
  &-sup {
    font-size: 60%;
    margin: 0 .2em 0 0;
    vertical-align: super;
  }
  &-tight {
    letter-spacing: -.01em;
  }
  &-underline {
    text-decoration: underline;
  }
  &-vertical {
    writing-mode: vertical-rl;
  }
  &-nowrap {
    white-space: nowrap;
  }
  &-strong {
    font-size: 130%;
  }
  &-vert {
    text-orientation: upright;
    writing-mode: vertical-rl;
  }
  &-indent-init {
    text-indent: 0;
  }
  &-line-through {
    text-decoration: line-through;
    @for $i from 1 through 5 {
    	&.w-#{$i} {
    		text-decoration-thickness : #{$i}px;
    	}
    }
  }
  //.u-text(sp)
  @media only screen and (max-width: #{$brkw-sp}px) {
    &-align-l-sp {
      text-align: left;
    }
    &-align-r-sp {
      text-align: right;
    }
    &-align-c-sp {
      text-align: center;
    }
    &-vertical-sp {
      writing-mode: vertical-rl;
    }
  }
}
