
/* ==============================================
width
============================================== */

@for $i from 1 through 20 {
	.u-w#{$i * 5} {
		width : 5% * $i !important;
	}
}
@media only screen and (max-width: #{$brkw-sp}px) {
	.u-w50-sp {
		width : 50%;
	}
	.u-w100-sp {
		width : 100%;
	}
}
