
/* ==============================================
zindex
============================================== */

/*
* .u-zindex
*/


/* .u-zindex
----------------------- */
@for $i from 0 through 10 {
  .u-zindex#{$i} {
    z-index: #{$i};
  }
}
