
/* ==============================================
basic
============================================== */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

@font-face {
 font-family: 'Hiragino Sans';
 font-weight: 400;
 src: local('HiraginoSans-W3'), local('Hiragino Sans');
}
@font-face {
 font-family: 'Hiragino Sans';
 font-weight: 700;
 src: local('HiraginoSans-W6'), local('Hiragino Sans');
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  // scrollbar-width: none;
  // -ms-overflow-style: none;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
  &.fz-large {
    font-size: 78.125%;
  }
  &.scroll-fixed {
    overflow: hidden;
    // * {
    //   touch-action: none; // タッチデバイスのスクロール等を止める
    //   @media (orientation: landscape) {
    //     touch-action: auto; // （landscapeでは止めない）
    //   }
    // }
  }
  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
  //html(sp)
  @include media-sp {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

body {
  color: $color-text;
  // font-feature-settings: "palt";
  // font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', '游ゴシック  Medium', meiryo, sans-serif;
  font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', '游ゴシック  Medium', meiryo, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  // letter-spacing: .05em;
  line-height: 1.5;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  //body(sp)
  @include media-sp {
    font-size: 1.4rem;
  }
}

a[href*="tel:"] {
  @media only screen and (min-width: 768px) {
    cursor: default;
    pointer-events: none;
  }
}

[role="tab"] {
  cursor: pointer;
}

img {
  // background: rgba(white, .01);
  max-width: 100%;
	height : auto;
  transition: opacity .2s ease-out;
  vertical-align: bottom;
}

svg {
  overflow: initial;
  vertical-align: bottom;
}

[data-whatinput="mouse"] *:focus,
[data-whatinput="touch"] *:focus {
  outline: none;
}
