
/* ==============================================
function
============================================== */

@function vp-per($target) {
  @return ($target / $vw) * 100%;
}
@function vp-vw($target) {
  @return ($target / $vw) * 100vw;
}
@function vp2-vw($target) {
  @return ($target / $vw2) * 100vw;
}
@function brk-per($target) {
  @return ($target / $brkw) * 100%;
}
@function brk-vw($target) {
  @return ($target / $brkw) * 100vw;
}
@function brk1-vw($target) {
  @return ($target / $brkw1) * 100vw;
}
@function brk2-vw($target) {
  @return ($target / $brkw2) * 100vw;
}
@function brk3-vw($target) {
  @return ($target / $brkw3) * 100vw;
}
@function cnt-per($target) {
  @return ($target / $cntw) * 100%;
}
@function cnt1-per($target) {
  @return ($target / $cntw1) * 100%;
}
@function cnt2-per($target) {
  @return ($target / $cntw2) * 100%;
}
@function cnt3-per($target) {
  @return ($target / $cntw3) * 100%;
}
// @function cnt4-per($target) {
//   @return ($target / $cntw4) * 100%;
// }
@function cnt-vw($target) {
  @return ($target / $cntw) * 100vw;
}
@function cnt1-vw($target) {
  @return ($target / $cntw1) * 100vw;
}
@function cnt2-vw($target) {
  @return ($target / $cntw2) * 100vw;
}
@function cnt3-vw($target) {
  @return ($target / $cntw3) * 100vw;
}
@function vpsp-vw($target) {
  @return ($target / $vw-sp) * 100vw;
}

// @function w820-vw($target) {
//   @return ($target / 820) * 100vw;
// }
