
/* ==============================================
mixin
============================================== */

/*
* clearfix
* replace image
* contents margin
* hover
* @media
* text style
* box-shadow
* triangle
* grid
* focus-style
* marker(text)
*/


/* clearfix
----------------------- */
@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/* replace image
----------------------- */
@mixin repImage() {
  overflow: hidden;
  text-indent: 120%;
  white-space: nowrap;
}

/* contents margin
----------------------- */
$cnt-mgn: calc((100vw - #{$cntw}px) / 2);
$-cnt-mgn: calc((100vw - #{$cntw}px) / 2 * -1);
@mixin cnt-mgn-left() {
  margin-left: #{$-cnt-mgn};
  // padding-left: #{$cnt-mgn};
  @media only screen and (max-width: #{$brkw}px) {
    margin-left: #{-$pad}px;
    // padding-left: #{$pad}px;
  }
  @media only screen and (max-width: #{$brkw-sp}px) {
    margin-left: vpsp-vw(map-get($width-sp, padding) * -1);
    // padding-left: vpsp-vw(map-get($width-sp, padding));
  }
}
@mixin cnt-mgn-right() {
  margin-right: #{$-cnt-mgn};
  // padding-right: #{$cnt-mgn};
  @media only screen and (max-width: #{$brkw}px) {
    margin-right: #{-$pad}px;
    // padding-right: #{$pad};
  }
  @media only screen and (max-width: #{$brkw-sp}px) {
    margin-right: vpsp-vw(map-get($width-sp, padding) * -1);
    // padding-right: vpsp-vw(map-get($width-sp, padding));
  }
}
// negative margin
@mixin margin($direction, $val) {
  margin-#{$direction}: -#{$val};
}

/* hover
----------------------- */
@mixin hover($prop, $val) {
  .not-touch-device &:hover {
    #{$prop}: #{$val};
  }
  .touch-device &:active {
    #{$prop}: #{$val};
  }
}
@mixin hover-bgcolor($color: $color-gray-light) {
  transition: background .2s ease-out;
  &:hover {
    background: $color !important;
  }
}

/* @media
----------------------- */
@mixin media-vp {
  @media (max-width: #{$vw}px) {
    @content;
  }
}
@mixin media-vp2 {
  @media (max-width: #{$vw2}px) {
    @content;
  }
}
@mixin media-brk {
  @media (max-width: #{$brkw}px) {
    @content;
  }
}
@mixin media-brk1 {
  @media (max-width: #{$brkw1}px) {
    @content;
  }
}
@mixin media-brk2 {
  @media (max-width: #{$brkw2}px) {
    @content;
  }
}
@mixin media-cnt {
  @media (max-width: #{$cntw}px) {
    @content;
  }
}
@mixin media-cnt1 {
  @media (max-width: #{$cntw1}px) {
    @content;
  }
}
@mixin media-sp {
  @media (max-width: #{$brkw-sp}px) {
    @content;
  }
}
@mixin min-resol($image) {
  @media (min-resolution: 1.5dppx) {
    background-image: url(#{$imgPath}#{$image})
  }
}

/* text style
----------------------- */
// serif
@mixin serif() {
  font-family: 'Shippori Mincho', serif;
}
// roboto
@mixin roboto() {
  font-family: 'Roboto', sans-serif;
}
// arial
@mixin arial() {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
// text-shadow
@mixin text-shadow-a() {
  text-shadow: 0 3px 6px rgba(black, .03);
}
// font smoothing
@mixin font-smoothing() {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
// font size
$rootpx: 16;
@mixin fz($px) {
  font-size: ($px / $rootpx) + rem;
}

/* box-shadow
----------------------- */
@mixin box-shadow-a() {
  box-shadow: 0 3px 6px rgba(black, .16);
}
@mixin box-shadow-b() {
  box-shadow: 0 5px 10px rgba(black, .15);
}
@mixin box-shadow-c() {
  box-shadow: 0 0 10px rgba(black, .15);
}
@mixin box-shadow-d() {
  box-shadow: 0 0 5px rgba(black, .1);
}

/* triangle
----------------------- */
@mixin triangle-right($color) {
  background:
    linear-gradient(to bottom left, rgba(black, 0) 50%, $color 51%) no-repeat top left/100% 50%,
    linear-gradient(to top left, rgba(black, 0) 50%, $color 51%) no-repeat bottom right/100% 50%;
}
@mixin triangle-left($color) {
  background:
    linear-gradient(to top right, rgba(black, 0) 50%, $color 51%) no-repeat bottom left/100% 50%,
    linear-gradient(to bottom right, rgba(black, 0) 50%, $color 51%) no-repeat top right/100% 50%;
}
@mixin triangle-top($color) {
  background:
    linear-gradient(to bottom right, rgba(black, 0) 50%, $color 51%) no-repeat top left/50% 100%,
    linear-gradient(to bottom left, rgba(black, 0) 50%, $color 51%) no-repeat top right/50% 100%;
}
@mixin triangle-bottom($color) {
  background:
    linear-gradient(to top right, rgba(black, 0) 50%, $color 51%) no-repeat top left/50% 100%,
    linear-gradient(to top left, rgba(black, 0) 50%, $color 51%) no-repeat top right/50% 100%;
}
@mixin triangle-top-right($color) {
  background:
    linear-gradient(to top right, rgba(black, 0) 50%, $color 51%) no-repeat top left/100% 100%
}
@mixin triangle-top-left($color) {
  background:
    linear-gradient(to top left, rgba(black, 0) 50%, $color 51%) no-repeat top left/100% 100%
}
@mixin triangle-bottom-right($color) {
  background:
    linear-gradient(to bottom right, rgba(black, 0) 50%, $color 51%) no-repeat top left/100% 100%
}
@mixin triangle-bottom-left($color) {
  background:
    linear-gradient(to bottom left, rgba(black, 0) 50%, $color 51%) no-repeat top left/100% 100%
}

/* grid
----------------------- */
@mixin grid($cntw, $cols, $gap-hrzn, $gap-vert) {
  > .c-grid {
    &__wrap {
      margin-top: $gap-vert / $cntw * 100% * -1;
      > .c-grid__col {
        margin-top: $gap-vert / $cntw * 100%;
        width: calc(((#{$cntw} - #{$gap-hrzn} * (#{$cols} - 1)) / #{$cols}) / #{$cntw} * 100%);
        &:nth-child(#{$cols}n) {
          margin-right: 0;
        }
        &:not(:nth-child(#{$cols}n)) {
          margin-right: $gap-hrzn / $cntw * 100%;
        }
      }
    }
  }
}
// sp
@mixin grid-sp($cntw-sp, $cols, $gap-hrzn, $gap-vert) {
  > .c-grid {
    &__wrap {
      margin-top: $gap-vert / $cntw-sp * 100% * -1;
      > .c-grid__col {
        margin-top: $gap-vert / $cntw-sp * 100%;
        width: calc(((#{$cntw-sp} - #{$gap-hrzn} * (#{$cols} - 1)) / #{$cols}) / #{$cntw-sp} * 100%);
        &:nth-child(#{$cols}n) {
          margin-right: 0;
        }
        &:not(:nth-child(#{$cols}n)) {
          margin-right: vpsp-vw($gap-hrzn);
        }
      }
    }
  }
}
//reverse
@mixin reverse-1col($gap-vert) {
  #{$root} {
    &__wrap {
      flex-direction: column-reverse;
    }
    &__col {
      &:first-child {
        margin-bottom: 0;
      }
      &:not(:first-child) {
        margin-bottom: #{$gap-vert}px;
      }
    }
  }
}
// bottom alignment
@mixin bottom-align() {
  #{$root} {
    &__col {
      > * {
        align-items: flex-end;
        display: flex;
        justify-content: center;
      }
    }
  }
}
// hr(vert)
@mixin hr-vert($colw, $gap-hrzn, $bdrw, $bdrh, $bdrc) {
  #{$root} {
    &__col {
      position: relative;
      &:not(:last-child) {
        &::after {
          background: $bdrc;
          content: '';
          display: block;
          height: #{$bdrh};
          position: absolute;
          right: calc((#{$gap-hrzn} / 2) / #{$colw} * -100%);
          top: 50%;
          transform: translate(50%, -50%);
          width: #{$bdrw};
        }
      }
    }
  }
}
// hr(vert-reset)
@mixin hr-vert-reset() {
  #{$root} {
    &__col {
      &:not(:last-child) {
        &::after {
          content: none;
          height: auto;
          right: auto;
          top: auto;
          transform: none;
          width: auto;
        }
      }
    }
  }
}
// hr(hrzn)
@mixin hr-hrzn($cntw-sp, $gap-vert, $bdrh, $bdrw, $bdrc) {
  #{$root} {
    &__col {
      position: relative;
      &:not(:last-child) {
        &::after {
          background: $bdrc;
          bottom: calc((#{$gap-vert} / 2) / #{$cntw-sp} * 100% * -1);
          content: '';
          display: block;
          height: $bdrh;
          left: 50%;
          position: absolute;
          transform: translate(-50%, 50%);
          width: $bdrw;
        }
      }
    }
  }
}

/* focus-style
----------------------- */
@mixin focus-style-light {
  background: $color-blue-exlight;
  outline: none;
}
@mixin focus-style-dark {
  background: $color-blue-dark;
}

/* marker(text)
----------------------- */
@mixin marker($data) {
  $bdr: map-get($data, borderSize);
  $fz: map-get($data, fontSize);
  $lh: map-get($data, lineHeight);
  $clr: map-get($data, color);
  $pb: map-get($data, paddingBottom);
  $value: 100 - ($bdr / ($fz * $lh + $pb)) * 100;
  background: linear-gradient(transparent #{$value * 1%}, $clr 0%);
  padding-bottom: #{$pb}px;
}
