
/* ==============================================
reset
============================================== */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align: baseline;
  background:transparent;
  list-style: none;
}
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}
article,aside,details,figcaption,figure,
footer,header,main,menu,nav,section {
  display:block;
}
nav ul {
  list-style:none;
}
blockquote, q {
  quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}
a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  font: inherit;
  cursor: pointer;
  padding: 0;
}

ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: normal;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}
input, select {
  vertical-align: middle;
}


/* Reset form
----------------------- */
input {
  appearance: none;
  border-radius: 0;
  &::-ms-clear {
    visibility: hidden;
  }
  &[type="submit"],
  &[type="button"] {
    appearance: button;
    border: none;
    &::-webkit-search-decoration {
      display: none;
    }
    &:focus {
      outline-offset: -2px;
    }
  }
  &[type="search"] {
    // -webkit-box-sizing: content-box;
    &:focus {
      outline-offset: -2px;
    }
    &::-webkit-search-decoration {
      display: none;
    }
  }
  &[type="radio"],
  &[type="checkbox"] {
    opacity: 0;
    position: absolute;
  }
}
//入力クリアボタン
::-webkit-search-cancel-button {
  appearance: none;
}
select {
  appearance: none;
  border: none;
  // outline: none;
  background: transparent;
  &::-ms-expand {
    display: none;
  }
}
textarea {
  border: none;
}
