
/* ==============================================
variables
============================================== */

/*
* color
* path
* width
* header
*/


/* color
----------------------- */
$color-text: #343434; //**
$color-red: #C1272D; //**
$color-red-light: #F8E8E8; //**
$color-red-light2: #F5D8DA; //**
$color-red-exlight: #FF4A56; //**
$color-blue: #1E2678;
$color-blue-light: #1B96D5; //**
$color-blue-exlight: lighten($color-blue-light, 45); //**
$color-blue-exlight2: lighten($color-blue-light, 50); //**
$color-blue-exlight3: #EFEFF9;
$color-blue-dark: darken(#0D53B4, 10);
$color-navy: #1F2A66;
$color-navy-dark: #0B133C;
$color-navy-light: #6774B9;
$color-navy-light2: #9499B6;
$color-navy-exlight: #F2F3F8;
$color-purple-light: #AEBAF8;
$color-ocher: #BE9E66;
$color-orange: #F18B00;
$color-orange-light: #FFC136;
$color-orange-exlight: lighten($color-orange, 48%);
$color-orange-dark: darken($color-orange, 5);
$color-green-light: #BEBEBE; //**
$color-green-light2: #1CC900; //**
$color-green-exlight: #DEF1F0;
$color-gray: #898989;
$color-gray-light: #C3C3C3; //**
$color-gray-exlight: #F5F5F5; //**
$color-gray-exlight2: #D5D6D5; //**
$color-gray-exlight3: #E5E5E5; //**
$color-gray-dark: #707070; //**
$color-yellow: #FFF365; //**
// $color-blue-exlight: lighten(#9BAFD6, 25);

/* path
----------------------- */
// $dir: '/assets/';
$dir: (
  img: '../img/',
  font:'../fonts/'
);
$imgPath: map-get($dir, 'img');
$fontPath: map-get($dir, 'font');
$rootPath: '';

/* width
----------------------- */
$width: (
  viewport: 1400, //**
  viewport2: 1440, //**
  contents: 1200, //**
  contents1: 1000, //**
  contents2: 970, //**
  contents3: 1020,
  contents4: 800,
  contents5: 742,
  padding: 20 //**
);
$width-sp: (
  viewport: 390, //**
  contents: 360, //**
  break: 767, //**
  padding: 15 //**
);
$pad: map-get($width, padding); //20
$pad-sp: map-get($width-sp, padding); //15
$vw: map-get($width, viewport); //1400
$vw2: map-get($width, viewport2); //1440
$cntw: map-get($width, contents); //1200
$cntw1: map-get($width, contents1); //1000
$cntw2: map-get($width, contents2); //970
$cntw3: map-get($width, contents3);
$cntw4: map-get($width, contents4);
$cntw5: map-get($width, contents5);
$cntw4: map-get($width, contents4);
$cntw-sp: map-get($width-sp, contents); //360
$brkw: $cntw + $pad * 2; //1240
$brkw1: $cntw1 + $pad * 2; //1040
$brkw2: $cntw2 + $pad * 2; //1010
$brkw3: $cntw3 + $pad * 2;
$brkw4: $cntw4 + $pad * 2;
$brkw5: $cntw5 + $pad * 2;
$brkw4: $cntw4 + $pad * 2;
$vw-sp: map-get($width-sp, viewport); //390
$brkw-sp: map-get($width-sp, break); //767
// @debug $brkw;

/* header
----------------------- */
$header: (
  height: 80px,
  heightSP: 50px
);
$headerH: map-get($header, height);
$headerSPH: map-get($header, heightSP);
