
mixin checkbox(data)
  label.c-input-checkbox(class=data.modif)
    input(type='checkbox' class=data.inputClass id=data.id name=data.name value=data.value)
    span.c-input.c-input-checkbox__input.c-input-checkbox__input--inversion
      span.c-input-checkbox__check
    span.c-input-checkbox__bg
    span.inline-text.inline-text--suf!= data.text
