
mixin radio(data)
  label.c-input-radio(class=data.modif)
    if data.textpos === 'pre'
      span.inline-text.inline-text--pre !{data.text}
    span.c-input-radio__input
      input(class=data.inputClass id=data.inputID type='radio' name=data.name value=data.value checked=data.checked)
      span.c-input-radio__check
    if data.textpos === 'suf'
      span.inline-text.inline-text--suf !{data.text}
