
/* ==============================================
breadcrumbs
============================================== */

/*
* .l-breadcrumbs
* .l-breadcrumbs-sp
*/


/* .l-breadcrumbs
----------------------- */
.l-breadcrumbs {
  $root: &;
  overflow: hidden;
  position: relative;
  &-wrap {
    align-items: flex-end;
    display: flex;
    height: 37px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    // padding: .8em 0;
  }
  &__item {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    &:not(:first-child) {
      &::before {
        content: '';
        display: inline-block;
        flex: 0 0 auto;
        margin-right: .7em;
        width : 6px;
        height : 6px;
        border-top : 1px solid $color-text;
        border-right : 1px solid $color-text;
        transform : rotate(45deg);
      }
    }
    &:last-child {
      #{$root} {
        &__target {
          pointer-events: none;
        }
      }
    }
  }
  &__target {
    color: $color-text;
    line-height: 1.3;
    margin-right: .5em;
    transition: color .2s ease-out;
    @at-root {
      a#{$root}__target {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  //.l-breadcrumbs(vp)
  @include media-vp {
    // &-wrap {
    //   height: vp-vw(50);
    // }
  }
  @media only screen and (min-width: #{$brkw-sp + 1}px) {
    .l-breadcrumbs-sp & {
      display: none;
    }
  }
  //.l-breadcrumbs(sp)
  @include media-sp {
    &-wrap {
      align-items: center;
      height: 58px;
      padding-right: 0 !important;
    }
    overflow-x: auto;
    .l-breadcrumbs-pc & {
      // display: none;
    }
    &__list {
      flex-wrap: nowrap;
    }
  }
}

/* .l-breadcrumbs-sp
----------------------- */
.l-breadcrumbs-sp {
  border-bottom: 1px solid white;
  background: $color-navy;
  .l-breadcrumbs {
    &__list {
      padding: 1.2em 0;
    }
    &__item {
      &:not(:first-child) {
        &::before {
          border-color: white;
        }
      }
    }
    &__target {
      color: #fff;
    }
  }
}
