
/* ==============================================
drawer
============================================== */

/*
* .l-drawer
*/

/* .l-drawer
----------------------- */
.l-drawer {
  $root: &;
  background: #fff;
  height: 100vh;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform .2s ease-out;
  width: 480px;
  z-index: 2;
  &[aria-hidden=true] {
    transform: translateX(100%);
  }
  @include box-shadow-b;
  //.l-drawer(sp)
  @include media-sp {
    left: 0;
    right: auto;
    width: vpsp-vw(350);
    &[aria-hidden=true] {
      transform: translateX(-100%);
    }
  }
}
