
/* ==============================================
footer
============================================== */

/*
* .l-footer
  //.l-footer(brkw2)
  //.l-footer(max900)
  //.l-footer(max800)
  //.l-footer(sp)
* .l-footer__pagetop
*/


/* .l-footer
----------------------- */
.l-footer {
  $root: &;
  &-wrap {
    position: relative;
  }
  border-top: 1px solid $color-text;
  &__primary {
    padding: 40px 0;
    .footer-primary {
      &__section {
        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }
    }
  }
  &__services {
    .footer-services {
      align-items: center;
      display: flex;
      justify-content: space-between;
      &__item {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
  &__secondary {
    background: $color-gray-exlight;
    padding: 1.2em 0;
    .footer-secondary {
      &__copyright {
        font-size: 1.4rem;
        text-align: center;
      }
    }
  }
  //.l-footer(brkw2)
  @include media-brk2 {
    &__sitemap {
      .c-grid--3cols-footer2 {
        .c-grid {
          &__col {
            &:nth-child(1) {
              min-width: 295px;
            }
            &:nth-child(2) {
              min-width: 100px;
            }
            &:nth-child(3) {
              min-width: 138px;
            }
          }
        }
      }
      .p-links-b {
        &__body {
          .c-link-s {
            &__text {
              letter-spacing: -.05em;
            }
          }
        }
        .c-link-s {
          &__text {
            font-size: 1.2rem !important;
          }
        }
      }
    }
    &__asidelinks {
      .footer-asidelinks {
        .p-links-sns {
          &__term {
            margin-right: 10px;
          }
          &__item {
            &:not(:last-child) {
              margin-right: 10px;
            }
          }
          &__icon {
            height: 40px;
            width: 40px;
          }
        }
      }
    }
    &__secondary {
      .p-links-a {
        &__item {
          padding: 0 1em;
        }
      }
    }
  }
  //.l-footer(max900)
  @media (max-width: 900px) {
    &__primary {
      .c-grid--2cols-footer1 {
        > .c-grid__wrap {
          > .c-grid__col {
            &:nth-child(2) {
              flex-basis: 200px;
            }
          }
        }
      }
    }
    &__asidelinks {
      .footer-asidelinks {
        .register {
          .c-button-b {
            &__target {
              font-size: 1.2rem;
            }
          }
        }
        .p-links-sns {
          &__term {
            font-size: 1.2rem;
            margin-right: 5px;
          }
          &__item {
            &:not(:last-child) {
              margin-right: 5px;
            }
          }
          &__icon {
            height: 30px;
            width: 30px;
          }
        }
      }
    }
    &__secondary {
      .p-links-a {
        &__list {
          font-size: 1.2rem !important;
        }
      }
      .footer-secondary {
        &__copyright {
          font-size: 1.2rem;
        }
      }
    }
  }
  //.l-footer(max800)
  @media (max-width: 800px) {
    &__sitemap {
      .c-grid--3cols-footer2 {
        .c-grid {
          &__col {
            &:nth-child(1) {
              min-width: 270px;
            }
            &:nth-child(2) {
              min-width: 90px;
            }
            &:nth-child(3) {
              min-width: 128px;
            }
          }
        }
      }
      .p-links-b {
        .c-link-s {
          &__text {
            font-size: 1.1rem !important;
          }
        }
      }
    }
  }
  //.l-footer(sp)
  @include media-sp {
    &__primary {
      padding: 20px 0;
      .footer-primary {
        &__section {
          &:not(:last-child) {
            margin-bottom: 25px;
          }
        }
      }
    }
    &__sitemap {
      .c-grid__col {
        &:not(:first-child) {
          .p-links-b {
            &__heading {
              border-top: 1px solid $color-gray-exlight2;
              padding: .7em 0;
              @at-root {
                .c-acc__tab[aria-expanded=false] {
                  .p-links-b {
                    &__heading {
                      margin-bottom: 0;
                    }
                  }
                }
              }
            }
          }
        }
        &:not(:first-child):not(:last-child) {
          .c-acc__tab[aria-expanded=false] {
            .p-links-b {
              &__heading {
                border-bottom: none;
              }
            }
          }
        }
      }
      .p-links-b {
        &__heading {
          .c-link-s {
            &__text {
              font-size: 1.4rem !important;
            }
          }
        }
        &__body {
          padding: vpsp-vw(3) 0 vpsp-vw(10);
          .c-link-s {
            &__text {
              font-size: 1.3rem !important;
              letter-spacing: 0;
            }
          }
        }
      }
    }
    &__asidelinks {
      .footer-asidelinks {
        .register {
          .c-button-b {
            &__target {
              font-size: 1.4rem;
              max-width: 240px;
            }
          }
        }
        .p-links-sns {
          margin-left: auto;
          margin-right: auto;
          max-width: 300px;
          padding: 10px 20px;
          &__term {
            font-size: 1.4rem;
            margin-right: 20px;
          }
          &__item {
            &:not(:last-child) {
              margin-right: 20px;
            }
          }
          &__icon {
            height: 50px;
            width: 50px;
          }
        }
      }
    }
    &__services {
      .footer-services {
        padding: 0 10px;
        &__item {
          &:not(:last-child) {
            margin-right: 40px;
          }
        }
      }
    }
    &__secondary {
      .p-links-a {
        &__list {
          font-size: 14px !important;
        }
        &__item {
          padding: 0 10px;
          //.l-footer__secondary .p-links-a__item(portrait)
          @media (orientation: portrait) {
            &:nth-child(3),
            &:nth-child(5) {
              padding-right: 0;
              &::after {
                content: none;
              }
            }
          }
        }
      }
      .footer-secondary {
        &__copyright {
          font-size: 14px;
        }
      }
    }
  }
}

/* .l-footer__pagetop
----------------------- */
// .l-footer {
//   // $buttonMargin: -5;
//   position: relative;
//   &__pagetop {
//     // margin-right: #{-$brkw / 2 - $buttonMargin}px;
//     position: absolute;
//     right: 10px;
//     top: -10px;
//     transform: translateY(-100%);
//     transition:
//       opacity .3s linear,
//       visibility .3s linear;
//     &.is-fixed {
//       bottom: 10px;
//       position: fixed;
//       top: auto;
//       transform: none;
//     }
//     &[aria-hidden=true] {
//       opacity: 0;
//       visibility: hidden;
//     }
//     //.l-footer__pagetop(sp)
//     @include media-sp {
//       right: 10px;
//     }
//   }
// }
