
/* ==============================================
gnav
============================================== */

/*
* .l-gnav
*/

/* .l-gnav
----------------------- */
.l-gnav {
  $root: &;
  &[aria-hidden=false] {
    display: block;
  }
  &__header {
    background: $color-red;
    height: $headerH;
    .gnav-header {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: space-between;
      padding: 13px 30px;
      &__button {
        height: 100%;
        .c-button-icon-b {
          height: 100%;
          &__target {
            height: 100%;
          }
        }
      }
    }
  }
  &__body {
    padding: 0 30px;
  }
  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid $color-gray-exlight2;
    }
    .gnav-unit {
      padding: 1.2em 0;
      &__list {
        display: flex;
        flex-wrap: wrap;
      }
      &__term {
        font-weight: 600;
      }
      &__item {
        &:nth-child(odd) {
          flex: 1 1 54%;
        }
        &:nth-child(even) {
          flex: 1 1 46%;
        }
        &.ext-strong {
          .c-link-s {
            &__target {
              padding: .75em 0;
            }
          }
        }
      }
    }
    .c-link-s {
      &__target {
        font-size: 1.4rem;
        padding: .65em 0;
      }
      &__icon {
        &:last-child {
          display: none;
        }
      }
    }
  }
  &__target {
    color: $color-text;
    &[aria-current=page] {
      // pointer-events: none;
    }
  }
  //.l-gnav(sp)
  @include media-sp {
    &__header {
      height: $headerSPH;
      .gnav-header {
        padding: 10px 15px;
        &__toggler {
          .c-toggler {
            &__icon {
              height: 15px;
              width: 15px;
              span {
                height: 2px;
              }
            }
          }
        }
        &__logo {
          margin: 0 auto 0 15px;
          order: 1;
          .c-logo-site__img {
            height: 28px;
            width: 117px;
          }
        }
        &__button {
          order: 2;
        }
      }
    }
    &__body {
      padding: 0 0 100px;
    }
    &__item {
      .gnav-unit {
        padding: 0;
        &__list {
          flex-direction: column;
        }
        &__item {
          margin: 0 15px;
          &:not(:last-child) {
            border-bottom: 1px solid $color-gray-exlight2;
          }
          &.ext-strong {
            .c-link-s {
              &__target {
                padding: 1.3em 0;
              }
            }
          }
        }
        &__term {
          border-bottom: 1px solid $color-gray-exlight2;
          margin: 0 15px;
        }
        .c-link-s {
          &__target {
            font-size: 1.4rem;
            padding: 1em 0;
            width: 100%;
          }
          &__icon {
            display: flex;
            right: .2em !important;
            .c-icon-login {
              height: 18px;
              width: 18px;
            }
          }
        }
        &__desc {
          .c-link-s {
            &__target {
              padding-left: .8em;
            }
          }
        }
      }
    }
  }
}
