
/* ==============================================
header
============================================== */

/*
* .l-header
*/

/* .l-header
----------------------- */
.l-header {
  $root: &;
  background: $color-red;
  height: $headerH;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  &__inner {
    height: 100%;
    position: relative;
  }
  &__content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 13px 30px;
  }
  &__extnav {
    display: flex;
    .extnav {
      &__list {
        display: flex;
      }
      &__item {
        &:not(:last-child) {
          margin-right: 40px;
        }
      }
      &__login {
        margin-left: 45px;
        .c-button-icon-b {
          height: 100%;
          &__target {
            height: 100%;
          }
        }
      }
    }
  }
  &__toggler {
    margin-left: 30px;
    &--sp {
      display: none;
    }
  }
  &__gnav {
    height: 100%;
    padding-right: 2em;
  }
  &__subnav {
    height: 100%;
    padding: .1em 0 0 2em;
    position: relative;
    &::before {
      background: $color-gray-light;
      content: '';
      display: block;
      height: 1em;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
    }
    .subnav {
      display: flex;
      height: 100%;
      &__item {
        align-items: center;
        display: flex;
        &:not(:last-child) {
          margin-right: 1.5em;
          .safari & {
            margin-right: 1.2em;
          }
        }
      }
      &__target {
        align-items: center;
        color: $color-text;
        display: flex;
        font-size: 1.4rem;
        height: 100%;
        &::after {
          height: 3px;
        }
        &[aria-current=page] {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  //.l-header(max850)
  @media (max-width: 850px) {
    &__extnav {
      .extnav {
        &__item {
          &:not(:last-child) {
            margin-right: 20px;
          }
        }
        &__login {
          margin-left: 25px;
        }
      }
    }
  }
  //.l-header(sp)
  @include media-sp {
    height: $headerSPH;
    &__content {
      padding: 10px vpsp-vw(15);
    }
    &__logo {
      margin: 0 auto 0 15px;
      .c-logo-site {
        &__img {
          width: 117px;
        }
        &__statement {
          font-size: .9rem;
        }
      }
    }
    &__extnav {
      height: 100%;
      .extnav {
        &__list {
          background: #fff;
          border-radius: .6em;
          bottom: 20px;
          justify-content: center;
          left: 50%;
          padding: 10px;
          position: fixed;
          transform: translate(-50%, 0);
          transition: transform .3s ease-out;
          width: vpsp-vw(360);
          @include box-shadow-c;
          .c-button-icon-a {
            &__icon {
              .c-icon-a {
                fill: $color-text;
              }
            }
            &__text {
              color: $color-text;
            }
          }
          .scroll-down & {
            transform: translate(-50%, 200%);
          }
        }
        &__login {
          margin-left: 0;
        }
      }
    }
    &__toggler {
      display: none;
      &--sp {
        display: block;
        margin-left: 0;
        .c-toggler {
          &__icon {
            height: 14px; //**
            width: 15px; //**
            span {
              height: 2px; //**
              &:nth-child(3) {
                left: 0;
                right: auto;
              }
            }
          }
        }
      }
    }
    &__gnav {
      height: 40px;
      padding-right: 0;
      width: 100%;
    }
    //.l-header(landscape)
    @media (orientation: landscape) {
      position: absolute;
    }
  }
  //.l-header(min sp)
  @media (min-width: #{$brkw-sp + 1}px) {
  }
}
