
/* ==============================================
hero
============================================== */

/*
* mixins
* .l-hero-a //**
* .l-hero-b
* .l-hero-top //**
*/


/* mixins
----------------------- */
@mixin heroBg($num) {
  background-image: url(#{$imgPath}bg_hero_#{$num}.jpg);
}

/* .l-hero-a //**
----------------------- */
.l-hero-a {
  $root: &;
  &__content {
    padding-top: 40px;
    padding-bottom: 35px;
  }
  //.l-hero-a(sp)
  @include media-sp {
    &__content {
      padding: 0 0 27px;
    }
  }
}

/* .l-hero-b
----------------------- */
.l-hero-b {
  $root: &;
  $heroH: 200;
  $heroHSP: 120;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &::after {
    background: linear-gradient(to right, rgba($color-blue,1) 35%,rgba($color-blue,0.7) 100%);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &__inner {
    height: $heroH + px;
    margin: 0 auto;
    max-width: $vw + px;
    position: relative;
  }
  &__content {
    align-items: center;
    display: flex;
    height: 100%;
  }
  &__text {
    z-index: 1;
  }
  &__heading {
    .c-heading-s {
      &__sub {
        margin-bottom: 8px;
      }
    }
  }
  .qa & {
    @include heroBg('05');
  }
  .contact &,
  .confirm &,
  .thanks & {
    @include heroBg('04');
  }
  .column & {
    @include heroBg('06');
  }
  &--noimg {
    &::after {
      background: $color-blue !important;
    }
  }
  //.l-hero-a(sp)
  @include media-sp {
    background-position: right 23% top;
    background-size: auto 100%;
    &::after {
      background: linear-gradient(to right, rgba($color-blue,1) 25%,rgba($color-blue,0.7) 80%);
    }
    &__inner {
      height: $heroHSP + px;
    }
    &__heading {
      .c-heading-s {
        &__main {
          font-size: 2.2rem !important;
        }
        &__sub {
          font-size: 1.4rem !important;
          margin-bottom: 5px;
        }
      }
    }
  }
}

/* .l-hero-top //**
----------------------- */
.l-hero-top {
  $root: &;
  &__container {
    position: relative;
  }
  &__content {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin: 0 auto;
    max-width: #{$vw2}px;
    position: relative;
    &--1 {
      background-image: url(#{$imgPath}bg_hero-top_01.jpg);
      @include min-resol('bg_hero-top_01@2x.jpg');
    }
    &--2 {
      background-image: url(#{$imgPath}bg_hero-top_02.jpg);
      @include min-resol('bg_hero-top_02@2x.jpg');
    }
    &--3 {
      background-image: url(#{$imgPath}bg_hero-top_01.jpg);
      @include min-resol('bg_hero-top_01@2x.jpg');
    }
  }
  &__heading {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 30px;
    transform: translateX(-50%);
    width: 100%;
    .c-heading-s {
      &__main {
        font-size: 4rem;
        .small-text {
          font-size: 3rem;
        }
      }
    }
  }
  &__pagination {
    bottom: -35px !important;
    z-index: 1 !important;
    .swiper-pagination-bullet {
      height: 10px;
      width: 10px;
      &-active {
        background: $color-red;
      }
    }
  }
  //.l-hero-top(vp2)
  @include media-vp2 {
    &__content {
      height: vp2-vw(600);
    }
    &__heading {
      top: vp2-vw(30);
      .c-heading-s {
        &__main {
          font-size: vp2-vw(40);
          .small-text {
            font-size: vp2-vw(30);
          }
        }
      }
    }
  }
  //.l-hero-top(sp)
  @include media-sp {
    &__content {
      height: vpsp-vw(500);
      &--1 {
        background-image: url(#{$imgPath}bg_hero-top_01_sp.jpg);
      }
      &--2 {
        background-image: url(#{$imgPath}bg_hero-top_02_sp.jpg);
      }
    }
    &__heading {
      top: vpsp-vw(15);
      .c-heading-s {
        &__main {
          font-size: vpsp-vw(24);
          .small-text {
            font-size: vpsp-vw(18);
          }
        }
      }
    }
    &__pagination {
      bottom: -25px !important;
    }
  }
}
