
/* ==============================================
main
============================================== */

.l-main {
  position: relative;
  //.l-wrapper(cntw2)
  @media (max-width: #{$cntw2}px) {

  }
}
