
/* ==============================================
overlay
============================================== */

.l-overlay {
  &[aria-hidden=false] {
    background: rgba(#fff, .5);
    // background: transparent;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  &--3 {
    &[aria-hidden=false] {
      background: transparent;
      z-index: 1;
    }
  }

  /* .l-overlay(sp) */
  @media only screen and (max-width: #{$brkw-sp}px) {

  }
}
