
/* ==============================================
section
============================================== */

/*
* .l-section //**
* .l-section-1 //**
* .l-section-2 //**
* .l-section-3 //**
* .l-section-4 //**
* .l-section-5 //**
*/


$padding: '80px'; //**
$paddingSP: '50px'; //**
$paddingNarrow: '40px'; //**
$paddingNarrowSP: '20px'; //**
$paddingWide: '100px'; //**
$paddingWideSP: '60px'; //**

/* .l-section //**
----------------------- */
.l-section {
  padding: #{$padding} 0;
  position: relative;
  &:last-child {
    padding-bottom: 100px;
  }
  &__heading {
    margin-bottom: 45px;
  }
  &--gray {
    background: $color-gray-exlight;
  }
  &--blue {
    background: $color-blue-exlight3;
  }
  &--bg01 {
    background-image: url(#{$imgPath}bg_section_01.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-bottom: vp-vw(350);
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      background-image: url(#{$imgPath}bg_section_01@2x.jpg);
    }
  }
  &--pad {
    padding: #{$padding} 0;
  }
  &--nopad {
    padding: 0 !important;
  }
  &--75 {
    padding: 75px 0;
  }
  &--narrow {
    padding: #{$paddingNarrow} 0;
  }
  &--wide {
    padding: #{$paddingWide} 0;
  }
  &--bdr-top {
    border-top: 1px solid $color-gray-exlight2;
  }
  //.l-section(sp)
  @include media-sp {
    padding: #{$paddingSP} 0;
    &:last-child {
      padding-bottom: 50px;
    }
    &__heading {
      margin-bottom: 30px;
    }
    &--bg01 {
      background-image: url(#{$imgPath}bg_section_01_sp.jpg);
      padding-bottom: vpsp-vw(165);
    }
    &--narrow {
      padding: #{$paddingNarrowSP} 0;
    }
  }
}

/* .l-section-1 //**
----------------------- */
.l-section-1 {
  $root: &;
  position: relative;
  &:not(:last-child) {
    margin-bottom: #{$padding};
  }
  &--bg1 {
    position: relative;
    &::before {
      background: $color-gray-exlight;
      content: '';
      height: calc(100% - 35px);
      left: 50%;
      position: absolute;
      top: 35px;
      transform: translateX(-50%);
      width: cnt-per(1000);
    }
    #{$root} {
      &__content {
        padding-bottom: 60px;
        position: relative;
      }
    }
  }
  //.l-section-1(sp)
  @include media-sp {
    &:not(:last-child) {
      margin-bottom: #{$paddingSP};
    }
  }
}

/* .l-section-2 //**
----------------------- */
.l-section-2 {
  &:not(:last-child) {
    margin-bottom: #{$paddingWide};
  }
  //.l-section-2(sp)
  @include media-sp {
    &:not(:last-child) {
      margin-bottom: #{$paddingWideSP};
    }
  }
}

/* .l-section-3 //**
----------------------- */
.l-section-3 {
  &:not(:last-child) {
    margin-bottom: 50px;
  }
  //.l-section-3(sp)
  @include media-sp {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

/* .l-section-4 //**
----------------------- */
.l-section-4 {
  &:not(:last-child) {
    margin-bottom: #{$paddingNarrow};
  }
  //.l-section-4(sp)
  @include media-sp {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

/* .l-section-5 //**
----------------------- */
.l-section-5 {
  &:not(:last-child) {
    margin-bottom: #{$paddingWideSP};
  }
  //.l-section-5(sp)
  @include media-sp {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
