
/* ==============================================
wrapper
============================================== */

.l-wrapper {
  // background: url(/assets/img/bg_page_01.svg) repeat-y center top;
  overflow: hidden;
  padding-top: $headerH;
  position: relative;
  //.l-wrapper(sp)
  @include media-sp {
    padding-top: $headerSPH;
  }
}
