
/* ==============================================
article
============================================== */

/*
* .p-article-a //**
* .p-article-b
* .p-article-c
*/


/* .p-article-a //**
----------------------- */
.p-article-a {
  &__heading {
    background: $color-gray-exlight3;
    border-top: 1px solid $color-gray-light;
    border-bottom: 1px solid $color-gray-light;
    padding: 20px 30px;
    position: relative;
    transition: background .2s ease-out;
    &:hover {
      background: $color-gray-exlight2;
    }
  }
  &__toggler {
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-50%);
  }
  //.p-article-a(sp)
  @include media-sp {
    &__heading {
      padding: 10px 15px;
    }
    &__toggler {
      right: .7em;
    }
  }
}

/* .p-article-b
----------------------- */
.p-article-b {
  $root: &;
  padding: 60px 40px;
  &__section {
    &:not(:last-child) {
      margin-bottom: 80px;
    }
  }
  //.p-article-b(sp)
  @include media-sp {
    padding: 40px vpsp-vw(15);
  }
}

/* .p-article-c
----------------------- */
.p-article-c {
  $root: &;
  padding: 35px 40px;
  &__heading {
    margin-bottom: 1.5em;
  }
  //.p-article-c(sp)
  @include media-sp {
    padding: 30px vpsp-vw(5);
    &__heading {
      .c-heading-c {
        &__main {
          font-size: 2.4rem;
        }
      }
    }
  }
}
