
/* ==============================================
band
============================================== */

/*
* .p-band-favorite //**
* .p-band-news
*/


/* .p-band-favorite
----------------------- */
.p-band-favorite {
  $root: &;
  background: $color-text;
  bottom: 0;
  left: 0;
  position: fixed;
  transition: transform .2s ease-out;
  width: 100%;
  z-index: 2;
  &__desc {
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    line-height: 1.5;
    padding: .6em 0;
  }
  &__icon {
    margin-right: .5em;
  }
  &__text {
    .favorite-text {
      &[aria-hidden=true] {
        display: none;
      }
    }
  }
  &[aria-hidden=true] {
    transition: transform .4s ease-out;
    transform: translateY(100%);
  }
  &.is-added {
    #{$root} {
      &__icon {
        .c-icon-a.stroke {
          display: none;
        }
      }
      &__text {
        .favorite-text {
          &.removed {
            display: none;
          }
        }
      }
    }
  }
  &.is-removed {
    #{$root} {
      &__icon {
        .c-icon-a.fill {
          display: none;
        }
      }
      &__text {
        .favorite-text {
          &.added {
            display: none;
          }
        }
      }
    }
  }
}

/* .p-band-news
----------------------- */
.p-band-news {
  $root: &;
  background: rgba(black, .6);
  color: #fff;
  line-height: 1.75;
  &__inner {
    display: flex;
    padding: 1em 0;
  }
  &__heading {
    @include serif;
    margin-right: 2.2em;
  }
  &__content {
    display: flex;
  }
  &__term {
    margin-right: 2.2em;
  }
  &__target {
    color: #fff;
  }
  //.p-band-news(sp)
  @include media-sp {
    &__heading {
      margin-right: 1em;
    }
    &__content {
      flex-direction: column;
    }
    &__term {
      margin-bottom: .5em;
    }
  }
}
