
/* ==============================================
banners
============================================== */

/*
* .p-banners-a
*/


/* .p-banners-a
----------------------- */
.p-banners-a {
  $root: &;
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    background: $color-navy-exlight;
    flex: 1 1 50%;
    padding: vp-vw(85) vp-vw(55);
    &--green {
      background: $color-green-exlight;
    }
  }
  .c-banner-a {
    padding: vp-vw(40);
    &__heading {
      margin-bottom: vp-vw(30);
      .c-heading-d {
        &__main {
          font-size: vp-vw(32);
        }
      }
    }
    &__desc {
      margin-bottom: vp-vw(50);
      .c-heading-s {
        font-size: vp-vw(22);
      }
    }
    &__body {
      margin-bottom: vp-vw(32);
      .c-logo-kikumimi {
        width: vp-vw(378);
      }
      .c-address-a {
        &__content {
          font-size: vp-vw(65);
        }
        &__recept {
          font-size: vp-vw(16);
        }
      }
    }
    &__button {
      .c-button-b {
        &__target {
          font-size: vp-vw(18);
          height: vp-vw(60);
          margin: 0 auto;
          max-width: 100%;
          min-height: 100%;
          width: vp-vw(352);
        }
        &__icon {
          .c-icon-blank {
            height: vp-vw(19);
            width: vp-vw(19);
          }
        }
      }
    }
  }
  //.p-banners-a(sp)
  @include media-sp {
    &__list {
      flex-direction: column;
    }
    &__item {
      padding: vpsp-vw(80) vpsp-vw(15);
      &:last-child {
          padding-bottom: vpsp-vw(120);
      }
    }
    .c-banner-a {
      padding: vpsp-vw(40) vpsp-vw(20);
      &__heading {
        margin-bottom: vpsp-vw(20);
        .c-heading-d {
          &__main {
            font-size: vpsp-vw(26);
          }
        }
      }
      &__desc {
        margin-bottom: vpsp-vw(35);
        .c-heading-s {
          font-size: vpsp-vw(18);
        }
      }
      &__body {
        margin-bottom: vpsp-vw(30);
        .c-logo-kikumimi {
          width: vpsp-vw(300);
        }
        .c-address-a {
          &__content {
            font-size: vpsp-vw(45);
          }
          &__icon {
            .c-icon-tel {
              height: vpsp-vw(40);
              width: vpsp-vw(35);
            }
          }
          &__recept {
            font-size: vpsp-vw(16);
          }
        }
      }
      &__button {
        .c-button-b {
          &__target {
            font-size: vpsp-vw(18);
            height: vpsp-vw(60);
            width: 100%;
          }
          &__icon {
            .c-icon-blank {
              height: vpsp-vw(22);
              width: vpsp-vw(22);
            }
          }
        }
      }
    }
  }
}
