
/* ==============================================
boards
============================================== */

/*
* .p-boards-a
* .p-boards-b
* .p-boards-c
*/


/* .p-boards-a
----------------------- */
.p-boards-a {
  $root: &;
  &__list {
    display: flex;
    position: relative;
  }
  &__item {
    width: cnt2-per(500);
    &:not(:last-child) {
      margin-right: cnt2-per(100);
    }
    .c-board-a {
      height: 100%;
      &__p {
        line-height: 2;
      }
    }
  }
  &__x {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .c-icon-x {
    width: 60px;
    height: 60px;
    &::before , &::after {
      height: 2px;
      background: $color-blue;
    }
  }
  //.p-boards-a(sp)
  @include media-sp {
    &__list {
      flex-direction: column;
    }
    &__item {
      width: 100%;
      &:not(:last-child) {
        margin: 0;
      }
    }
    &__x {
      margin: 1em 0;
      position: static;
      text-align: center;
      transform: none;
    }
  }
}

/* .p-boards-b
----------------------- */
.p-boards-b {
  $root: &;
  &:not(:last-child) {
    margin-bottom: 50px;
  }
  .c-board-b {
    height: 100%;
  }
  //.p-boards-b(900)
  @media (max-width: 900px) {
    .c-board-b {
      &__heading {
        .c-heading-d {
          &__main {
            font-size: 2.8rem;
          }
          &__sub {
            font-size: 1.8rem;
          }
        }
      }
    }
    &--2cols {
      .c-board-b {
        &__icon {
          width: 80px;
        }
        &__text {
          .c-tel-a {
            &__number {
              font-size: 4.4rem;
            }
          }
        }
        &__p {
          font-size: 1.4rem;
        }
      }
    }
  }
  //.p-boards-b(sp)
  @include media-sp {
    &:not(:last-child) {
      margin-bottom: vpsp-vw(30);
    }
    &--2cols {
      .c-board-b {
        &__icon {
          width: 120px;
        }
        &__p {
          font-size: 1.6rem;
        }
      }
    }
  }
}

/* .p-boards-c
----------------------- */
.p-boards-c {
  $root: &;
  &:not(:last-child) {
    #{$root} {
      &__inner {
        margin-bottom: cnt2-per(60);
      }
    }
  }
  &__inner {
    display: grid;
    grid-template-columns: cnt2-per(360) 1fr;
    grid-template-areas:
      'areaA areaB'
      'areaA areaC';
    gap: 40px;
  }
  &__item {
    &:nth-child(1) {
      grid-area: areaA;
    }
    &:nth-child(2) {
      grid-area: areaB;
    }
    &:nth-child(3) {
      grid-area: areaC;
    }
  }
  .c-board-b {
    height: 100%;
  }
  //.p-boards-c(sp)
  @include media-sp {
    &:not(:last-child) {
      #{$root} {
        &__inner {
          margin-bottom: vpsp-vw(40);
        }
      }
    }
    &__inner {
      grid-template-columns: 100%;
      grid-template-areas:
      'areaA'
      'areaB'
      'areaC';
      gap: vpsp-vw(30);
    }
  }
}
