
/* ==============================================
button
============================================== */

/*
* .p-button-arrow //**
* .p-button-pager //**
* .p-buttons-wrap //**
* .p-buttons-dense //**
* .p-button-a
* .p-buttons-a
* .p-buttons-b
*/


/* .p-button-arrow //**
----------------------- */
/*
.p-button-arrow.p-button-arrow--left
  button.p-button-arrow__target
    span.p-button-arrow__arrow
      span.c-arrow.c-arrow-line.c-arrow-line--white.c-arrow-line--invert.s-large
*/
.p-button-arrow {
  $root: &;
  $size: '60px';
  $sizeSP: '30px';
  &__target {
    align-items: center;
    background: $color-red;
    border-radius: 50%;
    display: flex;
    height: #{$size};
    justify-content: center;
    transition: background .2s ease-out;
    width: #{$size};
    &:hover {
      background: $color-blue-light;
    }
  }
  &__arrow { // 微調整用
    &.left {
      transform: translateX(10%);
    }
    &.right {
      transform: translateX(-10%);
    }
    .c-arrow {
      display: block;
    }
  }
  //.p-button-arrow(sp)
  @include media-sp {
    &__target {
      height: #{$sizeSP};
      width: #{$sizeSP};
    }
  }
}

/* .p-button-pager //**
----------------------- */
.p-button-pager {
  $root: &;
  &__target {
    &:hover {
      #{$root} {
        &__term {
          background: $color-blue;
        }
        &__desc {
          background: $color-blue-exlight;
        }
        &__arrow {
          &.left {
            transform: translate(-50%, -50%);
          }
          &.right {
            transform: translate(50%, -50%);
          }
        }
      }
    }
  }
  &__button {
    border-radius: .3em;
    overflow: hidden;
    @include box-shadow-a;
  }
  &__term,
  &__desc {
    transition: background .2s ease-out;
  }
  &__term {
    background: $color-blue-light;
    color: #fff;
    padding: .7em;
    position: relative;
    .term-text {
      text-align: center;
    }
  }
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .2s ease-out;
    &.left {
      left: 20px;
    }
    &.right {
      right: 20px;
    }
    .c-arrow-a {
      display: block;
    }
  }
  &__desc {
    color: $color-text;
    font-size: 1.8rem;
    font-weight: 600;
    padding: .9em 1.3em 1em;
    @include font-smoothing;
  }
  //.p-button-pager(sp)
  @include media-sp {
    &__desc {
      font-size: 1.4rem;
    }
  }
}

/* .p-buttons-wrap //**
----------------------- */
/*
.p-buttons-wrap
  ul.p-buttons-wrap__list
    li.p-buttons-wrap__item
      .c-button-c
        a.c-button-c__target(href='' aria-current='true')
          p.c-button-c__text すべて
    li.p-buttons-wrap__item
      .c-button-c
        a.c-button-c__target(href='')
          p.c-button-c__text おすすめ
*/
.p-buttons-wrap {
  $root: &;
  $margin: 10;
  $marginSP: 5;
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: #{-$margin}px 0 0 #{-$margin / 2}px;
    &.f-center {
      justify-content: center;
    }
  }
  &__item {
    margin: #{$margin}px #{$margin / 2}px 0;
  }
  //.p-buttons-wrap(sp)
  @include media-sp {
    &__list {
      margin: #{-$marginSP}px 0 0 #{-$marginSP / 2}px;
      &.f-center-sp {
        justify-content: center;
      }
    }
    &__item {
      margin: #{$marginSP}px #{$marginSP / 2}px 0;
    }
  }
}

/* .p-buttons-dense //**
----------------------- */
/*
.p-buttons-dense
  ul.p-buttons-dense__list
    li.p-buttons-dense__item
      .c-button-c.c-button-c--2
        a.c-button-c__target.c-hover-bg.c-hover-bg--blue-exlight(href="" aria-current="true")
          p.c-button-c__text テキスト
*/
.p-buttons-dense {
  $root: &;
  $margin: 10;
  $overlap: 2; //ボタンの重なり幅
  &__list {
    display: flex;
  }
  &__item {
    &:not(:first-child) {
      margin-left: -#{$overlap}px;
    }
  }
}

/* .p-buttons-a
----------------------- */
.p-buttons-a {
  $root: &;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    flex: 1 1 265px;
    max-width: 265px;
    &:not(:last-child) {
      margin-right: 13px;
    }
  }
  .c-button-a {
    height: 100%;
    min-width: auto;
    width: 100%;
  }
  &--mt {
    margin-top: 5em;
  }
  //.p-buttons-a(brkw)
  @media (max-width: #{$brkw}px) {
    .c-button-a {
      &__text {
        font-size: 1.4rem;
      }
    }
  }
  //.p-buttons-a(cntw2)
  @media (max-width: #{$cntw2}px) {
    &__item {
      flex: 1 1 auto;
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
  //.p-buttons-a(sp)
  @include media-sp {
    &__list {
      flex-direction: column;
    }
    &__item {
      max-width: 100%;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    .c-button-a {
      &__text {
        font-size: 1.6rem;
      }
      &--anchor {
        padding-top: .7em;
        padding-bottom: .7em;
      }
    }
  }
}

/* .p-buttons-b
----------------------- */
.p-buttons-b {
  $root: &;
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 2em;
    }
  }
  //.p-buttons-b(sp)
  @include media-sp {
    &__list {
      flex-direction: column;
    }
    &__item {
      &:not(:last-child) {
        margin: 0 0 1.5em 0;
      }
    }
    &--sp-reverse {
      #{$root} {
        &__list {
          flex-direction: column-reverse;
        }
        &__item {
          &:not(:last-child) {
            margin: 1.5em 0 0 0;
          }
        }
      }
    }
    &--sp-center {
      #{$root} {
        &__list {
          align-items: center;
        }
      }
    }
  }
}
