
/* ==============================================
carousel
============================================== */

/*
* .p-carousel-a //**
*/


/* .p-carousel-a //**
----------------------- */
.p-carousel-a {
  $root: &;
  position: relative;
  &__container {
    overflow: hidden;
    padding: 0 150px;
  }
  &__arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    &.f-left {
      left: 0;
      transform: translate(-50%, -50%);
    }
    &.f-right {
      right: 0;
      transform: translate(50%, -50%);
    }
  }
  //.p-carousel-a(sp)
  @include media-sp {
    &__container {
      padding: 0 vpsp-vw(80);
    }
    &__item {
      width: vpsp-vw(150);
    }
    &__arrow {
      &.f-left {
        left: vpsp-vw(30);
      }
      &.f-right {
        right: vpsp-vw(30);
      }
    }
  }
}
