
/* ==============================================
card
============================================== */

/*
* .p-card-a //**
* .p-card-b //**
* .p-card-c //**
* .p-cards-a
* .p-cards-b
*/


/* .p-card-a //**
----------------------- */
.p-card-a {
  $root: &;
  position: relative;
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 20px 10px 20px;
    position: relative;
    text-align: center;
  }
  &__shoulder {
    left: 0;
    position: absolute;
    top: 0;
  }
  &__text {
    font-weight: 500;
    margin-bottom: .5em;
  }
  &__arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(125%, -50%);
    .c-arrow {
      display: block;
    }
  }
  //.p-card-a(sp)
  @include media-sp {
    &__header {
      align-items: center;
      display: flex;
      > * {
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
    &__heading {
      flex: 1 1 160px;
    }
  }
}

/* .p-card-b //**
----------------------- */
.p-card-b {
  position: relative;
  $root: &;
  &__container {
    padding: 30px 40px;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__thumb {
    margin-bottom: 15px;
  }
  &__desc {
    text-align: center;
  }
  &__heading {
    margin-bottom: 10px;
    .c-heading-s {
      &__main {
        line-height: 1.1;
      }
    }
  }
  &__button {
    padding-top: 30px;
  }
  &--row {
    #{$root} {
      &__container {
        padding: 30px;
      }
      &__content {
        align-items: center;
        flex-direction: row;
      }
      &__thumb {
        flex: 1 0 200px;
        margin: 0 10px 0 0;
      }
      &__desc {
        text-align: left;
      }
      &__heading {
        margin-bottom: 17px;
      }
    }
  }
  //.p-card-b(sp)
  @include media-sp {
    &__container {
      padding: 15px !important;
    }
    &__content {
      align-items: center;
      flex-direction: row;
    }
    &__thumb {
      flex: 1 1 100px;
      margin-right: 10px;
    }
    &__desc {
      text-align: left;
    }
    &__button {
      display: flex;
      justify-content: flex-end;
      padding-top: 15px;
      .c-button-b {
        flex: 1 1 auto;
        max-width: 190px;
      }
    }
  }
}

/* .p-card-c //**
----------------------- */
.p-card-c {
  $root: &;
  &__desc {
    padding: 35px;
  }
}

/* .p-cards-a
----------------------- */
.p-cards-a {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px 0 0 -15px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__item {
    margin: 15px 0 0 15px;
  }
  //.p-cards-a(sp)
  @include media-sp {
    &__list {
      margin: vpsp-vw(-5) 0 0 vpsp-vw(-5);
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    &__item {
      flex: 0 1 vpsp-vw(155);
      margin: vpsp-vw(5) 0 0 vpsp-vw(5);
    }
    .c-card-a {
      height: 100%;
      justify-content: flex-start;
      padding: vpsp-vw(3) vpsp-vw(7);
      width: 100%;
      &__icon {
        height: 25px;
        width: 25px;
      }
      &__text {
        font-size: 1.2rem;
      }
    }
  }
}

/* .p-cards-b
----------------------- */
.p-cards-b {
  $root: &;
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 25px;
    }
    .c-card-b {
      display: flex;
      flex-direction: column;
      height: 100%;
      &__figure {
        align-items: flex-end;
        display: flex;
        flex-grow: 1;
      }
    }
    .ie & {
      &:nth-child(3) {
        flex: 1 1 100%;
      }
    }
  }
  &--flow {
    #{$root} {
      &__item {
        &:not(:last-child) {
          margin-right: 35px;
          &::after {
            border-top: 2px solid $color-navy;
            border-right: 2px solid $color-navy;
            content: '';
            display: block;
            height: 22px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(100%, -50%) rotate(45deg);
            width: 22px;
          }
        }
      }
    }
    &#{$root}--2cols {
      #{$root} {
        &__item {
          &:not(:last-child) {
            margin-right: 80px;
            &::after {
              height: 30px;
              transform: translate(150%, -50%) rotate(45deg);
              width: 30px;
            }
          }
        }
      }
    }
  }
  //.p-cards-b(sp)
  @include media-sp {
    &__list {
      flex-direction: column;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
      }
      .c-card-b {
        padding: 15px;
        &__heading {
          font-size: 1.8rem;
        }
        &__body {
          flex-direction: row;
          justify-content: space-between;
        }
        &__desc {
          font-size: 1.4rem;
          margin: 0 .5em 0 0;
          text-align: left;
        }
        &__figure {
          flex: 0 0 130px;
        }
      }
    }
    &--flow {
      #{$root} {
        &__item {
          &:not(:last-child) {
            margin-right: 0 !important;
            margin-bottom: 35px;
            &::after {
              bottom: 0;
              right: 50%;
              top: auto;
              transform: translate(50%, 100%) rotate(135deg);
            }
          }
        }
      }
      &#{$root}--2cols {
        #{$root} {
          &__item {
            &:not(:last-child) {
              margin-bottom: 40px;
              &::after {
                transform: translate(50%, 70%) rotate(135deg);
              }
            }
          }
        }
      }
    }
  }
}
