
/* ==============================================
column
============================================== */

/*
* .p-column-a
* .p-column-b
* .p-column-d
* .p-column-e //**
* .p-column-scroll
*/


/* .p-column-a
----------------------- */
/*
.p-column-a
  dl.p-column-a__list
    dt.p-column-a__term
      p.term-text 屋外型トランクルームへ投資する場合
    dd.p-column-a__desc
      ul.c-list-a
        li.c-list-a__item ●アパート建築に比べ、投資費用が少額!
        li.c-list-a__item ●高利回りが期待できる!（12〜20％程度）!
*/
.p-column-a {
  $root: &;
  background: white;
  border: 2px solid $color-blue;
  border-radius: .4em;
  &__list {
    display: flex;
    font-weight: 700;
    line-height: 1.5;
    max-width: 825px;
    @include font-smoothing;
  }
  &__term {
    align-items: center;
    background: $color-blue;
    color: white;
    display: flex;
    flex: 0 1 310px;
    font-size: 2rem;
    line-height: 1.5;
    padding: 1.3em 2em;
    text-align: center;
  }
  &__desc {
    align-items: center;
    color: $color-blue;
    display: flex;
    padding: 1.3em 2.5em;
    text-align: left;
    .c-list-a {
      font-size: 2rem;
    }
  }
  //.p-column-a(sp)
  @include media-sp {
    &__list {
      flex-direction: column;
    }
    &__term {
      flex: 0 1 auto;
      font-size: 1.4rem;
      justify-content: center;
      padding: .7em 1em;
    }
    &__desc {
      padding: 1em;
      .c-list-a {
        font-size: 1.4rem;
      }
    }
  }
}

/* .p-column-b
----------------------- */
/*
.p-column-b
  .p-column-b__heading
    .c-heading-s.c-heading-s--white
      h3.c-heading-s__main 見出し見出し見出し
  .p-column-b__body
    .c-gutter-v40px.c-gutter-v25px-sp
      .p-column-b__text
        p.c-text-body
          | Lorem ipsum dolor sit amet consectetur adipisicing elit.
      .p-column-b__figure
*/
.p-column-b {
  background: #fff;
  border-radius: .3em;
  @include box-shadow-a;
  &__heading {
    background: $color-blue;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    padding: 1em;
    text-align: center;
  }
  &__body {
    padding: 40px;
  }
  &__text {
    .dlist {
      &__term {
        margin-bottom: .8em;
      }
    }
  }
  //.p-column-b(sp)
  @include media-sp {
    &__heading {
      padding: .8em;
      .c-heading-s {
        &--mark {
          &.mark-left {
            .c-heading-s__mark {
              margin-right: 8px;
            }
          }
        }
        &__mark {
          img {
            height: 28px;
            width: 58px;
          }
        }
        &__main {
          text-align: left;
        }
      }
    }
    &__body {
      padding: 30px vpsp-vw(15);
    }
    &__text {
      font-size: 1.3rem;
      .c-text-body {
        font-size: 1.3rem;
      }
    }
  }
}

/* .p-column-c
----------------------- */
.p-column-c {
  $root: &;
  &__heading {
    margin-bottom: 1.8em;
    padding: 0 20px;
  }
  &__icon {
    align-items: flex-end;
    display: flex;
    height: 97px;
    justify-content: center;
    margin-bottom: 20px;
    .c-icon-c {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  &__fig {
    text-align: center;
  }
  //.p-column-c(brkw)
  @include media-brk {
    &__icon {
      height: brk-vw(97);
      margin-bottom: brk-vw(20);
      .c-icon-c {
        &:not(:last-child) {
          margin-right: brk-vw(30);
        }
        &__fig {
          width: brk-vw(114);
        }
        &__text {
          font-size: brk-vw(16);
        }
      }
    }
  }
  //.p-column-c(sp)
  @include media-sp {
    &__heading {
      margin-bottom: 1.4em;
      padding: 0 10px;
    }
    &__icon {
      height: auto;
      margin-bottom: 11px;
      .c-icon-c {
        &__fig {
          width: 89px;
        }
        &__text {
          font-size: 12px;
        }
      }
    }
  }
}

/* .p-column-d
----------------------- */
.p-column-d {
  $root: &;
  &__heading {
    padding: 30px 20px 0;
    .c-heading-s {
      border-bottom: 1px solid $color-gray-light;
      padding-bottom: .7em;
      width: 100%;
    }
  }
  &__body {
    padding: 13px 20px 30px;
  }
  &__figure {
    margin-bottom: 20px;
  }
  &__text {
    font-size: 1.4rem;
    .dlist {
      &__unit {
        &:not(:last-child) {
          margin-bottom: 1.2em;
        }
      }
      &__term {
        margin-bottom: .5em;
      }
    }
  }
  &__button {
    margin-top: 1.5em;
  }
  //.p-column-d(sp)
  @include media-sp {
    &__heading {
      padding: 20px 15px 0;
      .c-heading-s {
        padding-bottom: 20px;
        [aria-expanded=false] & {
          border: none;
        }
      }
    }
    &__toggler {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  //.p-column-d(only-pc)
  @media (min-width: #{$brkw-sp + 1}px) {
    &__toggler {
      display: none;
    }
  }
}

/* .p-column-e //**
----------------------- */
.p-column-e {
  $root: &;
  &__wrapper {
    padding-top: 20px;
    position: relative;
  }
  &__heading {
    left: 40px;
    min-width: 400px;
    position: absolute;
    top: 0;
  }
  &__body {
    padding: 50px 40px;
  }
  &__content {
    display: flex;
  }
  &__subsec {
    &:not(:first-child) {
      margin-top: 40px;
    }
    #{$root} {
      &__icon {
        margin-right: 100 / 990 * 100% !important;
        img {
          filter: none !important;
        }
      }
    }
  }
  &__icon {
    display: flex;
    flex: 1 1 400px;
    justify-content: center;
    margin: 0 80 / 1120 * 100% 0 0;
    min-height: 300px;
    padding-top: 45px;
    text-align: center;
    &--wide {
      flex-basis: 500px !important;
      & + #{$root}__desc {
        flex-basis: 390px !important;
      }
    }
  }
  &__desc {
    display: flex;
    flex: 1 1 640px;
    flex-direction: column;
    justify-content: center;
  }
  &--quality {
    #{$root} {
      &__icon {
        margin: 0 100 / 1120 * 100% 0 0;
        min-height: auto;
        padding-top: 0;
        img {
          filter: drop-shadow(0 10px 10px rgba(black, .1));
        }
      }
    }
  }
  &--type2 {
    #{$root} {
      &__body {
        padding: 50px 105px;
      }
      &__content {
        align-items: center;
        margin-top: 30px;
      }
      &__icon {
        align-self: flex-start;
        flex: 0 1 auto;
        margin-right: 150 / 990 * 100%;
      }
      &__desc {
        flex: 0 1 550px;
      }
    }
  }
  .s-chooseable {
    align-items: center;
    display: flex;
    &__or {
      font-size: 3.2rem;
      margin: 0 15px;
      position: relative;
      top: -.7em;
    }
  }
  //.p-column-e(brkw)
  @include media-brk {
    &--type2 {
      #{$root} {
        &__body {
          padding: 50px brk-vw(105);
        }
        &__icon {
          img {
            height: 100%;
          }
        }
      }
    }
  }
  //.p-column-e(max980)
  @media (max-width: 980px) {
    .s-chooseable {
      &__caption {
        * {
          font-size: 1.4rem !important;
        }
      }
    }
  }
  //.p-column-e(sp)
  @include media-sp {
    &__heading {
      left: 50%;
      min-width: vpsp-vw(320);
      transform: translateX(-50%);
    }
    &__body {
      padding: 40px 20px 20px;
    }
    &__content {
      flex-direction: column;
    }
    &__subsec {
      &:not(:first-child) {
        margin-top: 40px;
      }
      #{$root} {
        &__icon {
          margin-right: 0 !important;
        }
      }
    }
    &__icon {
      flex: 1 1 auto;
      justify-content: center;
      margin: 0 0 15px;
      min-height: auto;
      padding-top: 0;
      &--wide {
        flex-basis: auto !important;
        & + #{$root}__desc {
          flex-basis: auto !important;
        }
      }
    }
    .s-chooseable {
      &__caption {
        * {
          font-size: 1.2rem !important;
        }
      }
      &__or {
        font-size: 2rem;
        margin: 0 10px;
      }
    }
    &__desc {
      flex: 1 1 auto;
    }
    &--quality {
      #{$root} {
        &__icon {
          margin: 0 100 / 1120 * 100% 0 0;
          min-height: auto;
          padding-top: 0;
          img {
            filter: drop-shadow(0 10px 10px rgba(black, .1));
          }
        }
      }
    }
    &--type2 {
      #{$root} {
        &__body {
          padding: 40px 20px 20px;
        }
        &__content {
          align-items: center;
          margin-top: 0;
        }
        &__icon {
          margin: 0 auto 20px;
          width: 100%;
          img {
            width: 162px;
          }
        }
        &__desc {
          flex: 0 1 auto;
        }
      }
    }
  }
}

/* .p-column-scroll
----------------------- */
/*
.p-column-scroll
  .p-column-scroll__content
    p □□□□■□□□□■
*/
.p-column-scroll {
  $root: &;
  &__content {
    border: 1px solid $color-gray-light;
    height: 222px;
    padding: 1em 1.3em;
    overflow: auto;
  }
}
