
/* ==============================================
contact
============================================== */

/*
* .p-contact-a //**
*/


/* .p-contact-a //**
----------------------- */
.p-contact-a {
  $root: &;
  background: #fff;
  border: 1px solid $color-blue;
  border-radius: .5em;
  padding: 10px;
  text-align: center;
  &__container {
    padding: .8em;
  }
  &__term {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: .5em;
    .term-text {
      font-weight: 500;
    }
  }
  .c-address-a {
    &__content {
      font-size: 5.2rem;
    }
    &__recept {
      font-size: 1.4rem;
      margin-top: .3em;
    }
  }
  &--row {
    display: flex;
    #{$root} {
      &__container {
        flex: 0 1 50%;
        &:not(:last-child) {
          border-right: 1px solid $color-blue;
        }
      }
    }
  }
  .l-drawer & {
    padding: 1em;
    #{$root} {
      &__container {
        padding: 0;
      }
      &__term {
        font-size: 1.6rem;
      }
    }
    .c-address-a {
      &__content {
        font-size: 3.8rem;
      }
      &__recept {
        font-size: 1.2rem;
        margin-top: .5em;
      }
    }
  }
  //.p-contact-a(max900)
  @media (max-width: 900px) {
    &__term {
      font-size: 1.7rem;
    }
    .c-address-a {
      &__content {
        font-size: 4.2rem;
      }
    }
    .c-button-b {
      &__target {
        font-size: 1.8rem;
      }
    }
  }
  //.p-contact-a(sp)
  @include media-sp {
    &__term {
      font-size: 1.6rem;
    }
    .c-address-a {
      &__content {
        font-size: 3.8rem;
      }
      &__recept {
        font-size: 1.2rem;
      }
    }
    .c-button-b {
      &__target {
        font-size: 1.6rem;
      }
    }
    &--row {
      &.sp-col {
        flex-direction: column;
        #{$root} {
          &__container {
            &:not(:last-child) {
              border-right: none;
              border-bottom: 1px solid $color-blue;
            }
            &:first-child {
              padding-top: .4em;
              padding-bottom: 1.2em;
            }
            &:not(:first-child) {
              padding-top: 1.3em;
            }
          }
        }
      }
    }
  }
}
