
/* ==============================================
controls
============================================== */

/*
* .p-controls-a //**
*/


/* .p-controls-a //**
----------------------- */
.p-controls-a {
  $root: &;
  &__section {
    padding: 20px 0;
    &--gray {
      background: $color-gray-exlight;
    }
  }
  &__primary {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 3px;
    position: relative;
    .p-panel-filter {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }
  //.p-controls-a(brkw)
  @include media-brk1 {
    &__primary {
      .p-panel-filter {
        max-width: 500px;
      }
    }
  }
  //.p-controls-a(max930)
  @media (max-width: 930px) {
    &__primary {
      .p-panel-filter {
        max-width: 400px;
      }
    }
  }
  //.p-controls-a(max820)
  @media (max-width: 820px) {
    &__primary {
      .p-panel-filter {
        max-width: 350px;
      }
    }
  }
  //.p-controls-a(sp)
  @include media-sp {
    &__primary {
      justify-content: center;
    }
  }
}
