
/* ==============================================
faqlist
============================================== */

/*
* .p-faqlist-a
* .p-faqlist-b //**
*/


/* .p-faqlist-a
----------------------- */
.p-faqlist-a {
  &__item {
    padding: 0 50px;
    &:not(:last-child) {
      .p-faqlist-a__item-in {
        border-bottom: 1px solid $color-red;
      }
    }
  }
  &__item-in {
    padding: 40px 0;
  }
  &__question {
    align-items: flex-start;
    display: flex;
    &:not(:last-child) {
      margin-bottom: 1.7em;
    }
    .q {
      color: $color-red;
      font-size: 2.7rem;
      font-weight: 500;
      line-height: 1;
      margin-right: .5em;
    }
    .text {
      display: inline-block;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.2;
      text-align: left;
    }
  }
  &__answer {
    align-items: flex-start;
    background: $color-gray-light;
    border-radius: .5em;
    padding: 1.8em 1.5em 1.2em 1.5em;
    &-in {
      display: flex;
    }
    .a {
      font-size: 2.7rem;
      font-weight: 700;
      line-height: 1;
      margin-right: .5em;
    }
    .text {
      font-size: 1.8rem;
      line-height: 1.5;
      text-align: left;
    }
  }
  &--top {
    display: inline-block;
    text-align: left;
  }
  &--common {
    .p-faqlist-a {
      &__item {
        &:not(:last-child) {
          .p-faqlist-a__item-in {
            border-bottom: 1px solid $color-orange;
          }
        }
      }
    }
  }
  &--time {
    .p-faqlist-a {
      &__item {
        &:not(:last-child) {
          .p-faqlist-a__item-in {
            border-bottom: 1px solid $color-blue;
          }
        }
      }
    }
  }
  //.p-faqlist-a(sp)
  @include media-sp {
    &__item {
      padding: 0;
    }
    &__item-in {
      padding: vpsp-vw(40) 0;
    }
    &__question {
      .q {
        font-size: vpsp-vw(20);
      }
      .text {
        font-size: vpsp-vw(18);
      }
    }
    &__answer {
      .a {
        font-size: vpsp-vw(20);
      }
      .text {
        font-size: vpsp-vw(18);
      }
    }
    &--time {
      .p-faqlist-a__item {
        &:last-child {
          .p-faqlist-a__item-in {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

/* .p-faqlist-b //**
----------------------- */
.p-faqlist-b {
  $root: &;
  &__list {
    border-bottom: 1px solid $color-gray-light;
    .c-icon-b {
      flex: 0 0 auto;
      position: relative;
    }
  }
  &__item {
    position: relative;
    text-align: left;
    &--term {
      cursor: pointer;
      line-height: 1.5;
      #{$root} {
        &__childitem {
          transition: background .2s ease-out;
          &:hover {
            background: $color-gray-exlight3;
          }
        }
        &__icon {
          position: relative;
          top: .2em;
        }
        &__toggler {
          height: 20px;
          position: absolute;
          right: 2em;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          .c-icon-plus {
            height: 100%;
            transition: transform .2s ease-out;
            width: 100%;
          }
        }
      }
    }
    &--desc {
      #{$root} {
        &__childitem {
          background: #fff;
        }
      }
    }
  }
  &__childitem {
    display: flex;
    padding: 1.5em 2em 2em;
  }
  &__icon {
    margin-right: 1.2em;
  }
  &__termtext {
    padding-top: .8em;
  }
  &__more {
    text-align: center;
    [aria-expanded=false] {
      .button-close {
        display: none;
      }
    }
    [aria-expanded=true] {
      .button-open {
        display: none;
      }
    }
  }
  &__more-button {
    display: inline-block;
    padding: 37px 0 42px;
  }
  //.p-faqlist-b(sp)
  @include media-sp {
    &__list {
      .c-icon-b {
        font-size: 1.5rem;
        height: 25px;
        width: 25px;
      }
    }
    &__item {
      &--term {
        #{$root} {
          &__childitem {
            &:hover {
              background: transparent;
            }
          }
          &__termtext {
            padding-right: 3.5em;
          }
          &__toggler {
            height: 20px;
            right: .7em;
            width: 20px;
          }
        }
      }
    }
    &__childitem {
      padding: .8em 1em 1em;
    }
    &__icon {
      margin-right: 1em;
    }
    &__termtext {
      padding-top: .2em;
    }
    &__more-button {
      padding: 12px 0 15px;
    }
  }
}
