
/* ==============================================
figure
============================================== */

/*
* .p-figure-a //**
*/


/* .p-figure-a //**
----------------------- */
/*
figure.p-figure-a
  .p-figure-a__figure
    .p-figure-a__label
      .c-label-a.c-label-a--iblock
        p.c-label-a__text メリット
          span.c-label-a__num 2
    .p-figure-a__icon
      .c-icon-round
        .c-icon-round__inner
          +svgAttr('c-icon-round__icon', item.icon)
  figcaption.p-figure-a__caption
    p.cap-text メインキャプション
*/
.p-figure-a {
  $root: &;
  text-align: center;
  &__label {
    position: relative;
    z-index: 1;
  }
  &__icon {
    margin-top: -1em;
  }
  &__caption {
    line-height: 1.5;
    margin-top: .8em;
    @include font-smoothing;
    .cap-text {
      font-size: 2rem;
      font-weight: 700;
    }
    .notes {
      font-size: 1.2rem;
      margin-top: .3em;
    }
    .desc {
      font-size: 1.4rem;
      margin-top: .6em;
    }
  }
}
