
/* ==============================================
fig-block
============================================== */

/*
* .p-figblock-a //**
*/


/* .p-figblock-a //**
----------------------- */
/*
.p-figblock-a
  ol.p-figblock-a__list
    li.p-figblock-a__item.before
      figure.p-figblock-a__ph
        figcaption.p-figblock-a__caption
          p.cap-text.cap-text--before Before
        +srcset(
          {
            class: 'p-figblock-a__img',
            name: 'ph_case_01',
            ext: 'jpg',
            width: '280',
            height: '186',
            loading: 'lazy',
            decoding: 'async',
            alt: 'Beforeの写真'
          }
        )
    li.p-figblock-a__item.after
      figure.p-figblock-a__ph
        figcaption.p-figblock-a__caption
          p.cap-text.cap-text--after After
        +srcset(
          {
            class: 'p-figblock-a__img',
            name: 'ph_case_02',
            ext: 'jpg',
            width: '350',
            height: '233',
            loading: 'lazy',
            decoding: 'async',
            alt: 'Afterの写真'
          }
        )
*/
.p-figblock-a {
  $root: &;
  &__list {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  &__item {
    $margin: '76px';
    position: relative;
    &:not(:last-child) {
      margin-right: #{$margin};
      &::after {
        content: '';
        display: block;
        height: 23px;
        position: absolute;
        right: -45px;
        top: 50%;
        width: 16px;
        @include triangle-right($color-blue);
      }
    }
  }
  &__caption {
    margin-bottom: .1em;
    .cap-text {
      font-weight: 700;
      &--before {
        color: $color-blue;
        font-size: 1.4rem;
      }
      &--after {
        color: $color-orange;
        font-size: 1.8rem;
      }
    }
  }
  &--col {
    #{$root} {
      &__list {
        flex-direction: column;
      }
      &__item {
        &:not(:last-child) {
          margin-right: 0;
          &::after {
            bottom: 0;
            right: 50%;
            top: auto;
            transform: translate(50%, 27px) rotate(90deg);
          }
        }
        &.before {
          #{$root} {
            &__caption {
              text-align: center;
            }
            &__img {
              width: 150px;
            }
          }
        }
      }
    }
  }
  //.p-figblock-a(sp)
  @include media-sp {
    &__list {
      flex-direction: column;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 0;
        &::after {
          bottom: 0;
          right: 50%;
          top: auto;
          transform: translate(50%, 27px) rotate(90deg);
        }
      }
      &.before {
        #{$root} {
          &__caption {
            text-align: center;
          }
          &__img {
            width: 150px;
          }
        }
      }
      &.after {
        #{$root} {
          &__ph {
            margin: 0 auto;
            width: 315px;
          }
          &__img {
            width: 100%;
          }
        }
      }
    }
  }
}
