
/* ==============================================
form
============================================== */

/*
* .p-form
*/


/* .p-form
----------------------- */
.p-form {
  $root: &;
  $inputHeight: '48px';
  $rowMgn: (
    vert: '20px',
    vertSP: '20px',
    hrzn: '2em',
    hrznSP: '2em'
  );
  $rowMgnNarrow: (
    vert: '10px',
    vertSP: '10px',
    hrzn: '10px',
    hrznSP: vpsp-vw(10)
  );
  $termFontSize: '16px';
  $termFontSizeSP: '14px';
  $termLineHeight: '1.5';
  &__unit {
    border-top: 1px solid rgba($color-blue, .2);
    display: flex;
    &:last-child {
      border-bottom: 1px solid rgba($color-blue, .2);
    }
    &[aria-hidden=true] {
      display: none;
    }
    &--hauto {
      #{$root}__term {
        #{$root}__row {
          min-height: auto;
          padding: 0;
        }
      }
      .c-input-radio {
        min-height: auto;
      }
    }
  }
  &__row {
    line-height: 1;
    &:not(:last-child) {
      margin-bottom: #{map-get($rowMgn, vert)};
    }
    .row-unit {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      margin-top: -#{map-get($rowMgn, vert)};
      &__item {
        align-items: center;
        display: flex;
        margin-top: #{map-get($rowMgn, vert)};
        &:not(:last-child) {
          margin-right: #{map-get($rowMgn, hrzn)};
        }
        .c-input-radio {
          &:not(:last-child) {
            margin-right: #{map-get($rowMgn, hrzn)};
          }
        }
        .mwform-checkbox-field {
          width: 100%;
        }
      }
      &--height {
        margin-top: 0;
        .row-unit__item {
          height: #{$inputHeight};
          margin-top: 0;
        }
      }
      &--narrow {
        margin-top: -#{map-get($rowMgnNarrow, vert)};
        .row-unit {
          &__item {
            margin-top: #{map-get($rowMgnNarrow, vert)};
            &:not(:last-child) {
              margin-right: #{map-get($rowMgnNarrow, hrzn)};
            }
          }
        }
      }
    }
  }
  &__term {
    background: $color-gray-exlight;
    flex: 0 0 300px;
    padding: #{map-get($rowMgn, vert)} 20px #{map-get($rowMgn, vert)} 30px;
    .term-text {
      font-size: #{$termFontSize};
      font-weight: 500;
      line-height: #{$termLineHeight};
    }
    #{$root} {
      &__row {
        align-items: flex-start;
        display: flex;
        min-height: #{$inputHeight};
        padding-top: calc((#{$inputHeight} - (#{$termFontSize} * #{$termLineHeight})) / 2);
      }
    }
  }
  &__desc {
    flex: 1 1 100%;
    padding: #{map-get($rowMgn, vert)} 30px;
  }
  .c-label-c {
    margin-left: auto;
  }
  .inline-text {
    &--pre {
      margin-right: .7em;
    }
    &--suf {
      margin-left: .7em;
    }
  }
  &__notes {
    font-size: 1.4rem;
    line-height: 1.75;
    margin-top: 1.3em;
    &--error {
      color: $color-red;
    }
  }
  &__button-unit {
    margin-top: 50px;
    .button-unit {
      text-align: center;
      &__button {
        &--row {
          display: flex;
          justify-content: center;
          .c-button-b {
            align-items: center;
            display: flex;
            flex: 0 1 370px;
            &:not(:last-child) {
              margin-right: 40px;
            }
          }
        }
      }
      &__text {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 55px;
        .c-link-a {
          display: inline-block;
          margin-bottom: 1em;
        }
      }
    }
  }
  &__thanks {
    #{$root} {
      &__p {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        &:not(:last-child) {
          margin-bottom: 2em;
        }
      }
    }
  }
  &--confirm {
    #{$root} {
      &__row {
        height: auto;
        min-height: auto;
        &:not(:last-child) {
          margin-bottom: .5em;
        }
      }
      &__term {
        #{$root} {
          &__row {
            padding-top: 0;
          }
        }
      }
    }
    .desc-text {
      line-height: 1.5;
    }
  }
  //.p-form(sp)
  @include media-sp {
    .c-input {
      font-size: 1.4rem;
    }
    &__unit {
      flex-direction: column;
    }
    &__row {
      &--term-sp {
        align-items: center;
        min-height: #{$inputHeight};
        &.u-onlysp {
          display: flex !important;
        }
      }
      .row-unit {
        margin-top: 0;
        &__item {
          flex: 0 1 auto;
          margin-top: 0;
          &:not(:nth-child(1)):not(:nth-child(2)) {
            flex-basis: vpsp-vw(167);
          }
        }
        &--narrow {
          .row-unit {
            &__item {
              &:not(:last-child) {
                margin-right: #{map-get($rowMgnNarrow, hrznSP)};
              }
            }
          }
        }
        &--spcol {
          align-items: flex-start;
          flex-direction: column;
          .row-unit__item {
            width: 100%;
            &:not(:last-child) {
              margin: 0 0 .5em 0;
            }
          }
        }
      }
    }
    &__term {
      flex: 1 1 auto;
      margin-right: 0;
      padding: 11px 15px;
      #{$root}__row {
        min-height: auto;
        padding: 0;
      }
      .term-text {
        font-size: #{$termFontSizeSP};
      }
    }
    .c-label-c {
      margin-left: 1em;
    }
    &__desc {
      padding: 15px 0;
    }
    &__notes {
      font-size: 1.3rem;
    }
    &__unit-2 {
      align-items: flex-start;
      flex-direction: column;
      .term {
        flex: 1 1 auto;
        margin: 0 0 .7em 0;
      }
      .desc {
        width: 100%;
      }
    }
    &__button-unit {
      margin-top: 30px;
      .button-unit {
        &__button {
          &--row {
            align-items: center;
            flex-direction: column;
            .c-button-b {
              flex: 1 1 auto;
              width: 100%;
              &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 1.3em;
              }
            }
          }
        }
        &__text {
          align-items: center;
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;
          .c-link-a {
            display: inline-block;
            margin-bottom: 1em;
          }
        }
      }
    }
    &__thanks {
      #{$root} {
        &__p {
          font-size: 1.8rem;
          text-align: left;
          br {
            display: none;
          }
        }
      }
    }
    &--confirm {
      #{$root} {
        &__desc {
          padding: 15px;
        }
      }
    }
  }
}
