
/* ==============================================
hgroup
============================================== */

/*
* .p-hgroup-a
*/


/* .p-hgroup-a
----------------------- */
.p-hgroup-a {
  border-bottom: 1px solid rgba($color-blue, .2);
  padding-bottom: 2em;
  $root: &;
  &__heading {
    margin-bottom: .5em;
  }
  &__meta {
    align-items: center;
    display: flex;
  }
  &__date {
    font-size: 1.4rem;
    margin-right: 1.5em;
  }
  &--mb {
    margin-bottom: cnt4-per(60);
  }
  //.p-hgroup-a(sp)
  @include media-sp {
    &__heading {
      margin-bottom: .8em;
    }
    &--mb {
      margin-bottom: 2.5em;
    }
  }
}
