
/* ==============================================
link
============================================== */

/*
* .p-links-a //**
* .p-links-b //**
* .p-links-sns //**
*/


/* .p-links-a //**
----------------------- */
/*
.p-links-a
  ul.p-links-a__list.u-fz14.u-flex-center
    li.p-links-a__item
      a.c-link-text(href="") トップ
    li.p-links-a__item
      a.c-link-text(href="") 運営会社
    li.p-links-a__item
      a.c-link-text(href="") マイブック年賀状ご利用規約
*/
.p-links-a {
  $root: &;
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -.5em;
  }
  &__item {
    margin-top: .5em;
    padding: 0 1.5em;
    position: relative;
    &:not(:last-child) {
      &::after {
        background: $color-text;
        content: '';
        height: 1em;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
        width: 1px;
      }
    }
  }
}

/* .p-links-b //**
----------------------- */
/*
dl.p-links-b
  dt.p-links-b__heading
    .c-link-s
      a.c-link-s__target.c-hover-color(href="")
        p.c-link-s__text.u-fz14 サービスについて
  dd.p-links-b__body
    ul.p-links-b__list
      li.p-links-b__item
        .c-link-s
          a.c-link-s__target.c-hover-color(href="")
            .c-link-s__mark
              span.c-arrow.c-arrow-a
            p.c-link-s__text.u-fz13 品質・仕様
*/
.p-links-b {
  $root: &;
  &__heading {
    border-bottom: 1px solid $color-gray-exlight2;
    font-weight: 600;
    margin-bottom: .2em;
    padding-bottom: .5em;
  }
  &__body {
    display: flex;
  }
}

/* .p-links-sns //**
----------------------- */
/*
*/
.p-links-sns {
  $root: &;
  align-items: center;
  background: $color-gray-exlight;
  display: flex;
  justify-content: center;
  padding: 10px;
  &__term {
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 20px;
  }
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__icon {
    height: 50px;
    width: 50px;
  }
}
