
/* ==============================================
list
============================================== */

/*
* .p-list-thumb
*/


/* .p-list-thumb
----------------------- */
.p-list-thumb {
  $root: &;
  &__shoulder {
    font-size: 1.4rem;
    margin-bottom: .7em;
    &.is-nodata {
      margin-bottom: 60px;
    }
  }
  //.p-list-thumb(sp)
  @include media-sp {
    &__section {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
    &__shoulder {
      &.is-nodata {
        margin-bottom: 0;
      }
    }
  }
}
