
/* ==============================================
media
============================================== */

/*
* .p-media-a
* .p-media-b
* .p-media-c
* .p-media-d //**
* .p-media-e //**
*/


/* .p-media-a
----------------------- */
.p-media-a {
  background: $color-blue-light;
  padding: 40px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &__heading {
    color: $color-blue;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 1.2em;
  }
  &__content {
    display: flex;
  }
  &__img {
    flex: 0 0 300px;
    margin-right: 2em;
    img {
      width: 100%;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    .term {
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: .7em;
    }
    .desc {
      margin-bottom: 1em;
    }
    .button {
      margin-top: auto;
      text-align: right;
      width: 100%;
    }
  }
  //.p-media-a(sp)
  @include media-sp {
    padding: 20px;
    &__heading {
      margin-bottom: .7em;
      text-align: center;
    }
    &__img {
      flex: 1 1 auto;
      margin-right: 0;
      margin-bottom: 1.5em;
    }
    &__content {
      flex-direction: column;
    }
    // .c-button-a {
    //   padding-top: .5em;
    //   padding-bottom: .5em;
    // }
  }
}

/* .p-media-b
----------------------- */
.p-media-b {
  $root: &;
  &__text {
    background: rgba(black, .8);
    color: #fff;
    margin: -155px auto 0;
    padding: 30px;
    position: relative;
    width: 80%;
  }
  &__heading {
    margin-bottom: 1em;
  }
  &__desc {
    margin-bottom: 1em;
  }
  &__button {
    text-align: right;
  }
  //.p-media-b(cntw2)
  @media (max-width: #{$cntw2}px) and (min-width: #{$brkw-sp + 1}px) {
    @at-root .c-grid--2cols-b {
      #{$root} {
        &__heading {
          .c-heading-d {
            &__main {
              font-size: 3rem;
            }
            &__sub {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
  //.p-media-b(sp)
  @include media-sp {
    &__text {
      margin-top: -60px;
      width: vpsp-vw($cntw-sp);
    }
  }
}

/* .p-media-c
----------------------- */
.p-media-c {
  $root: &;
  display: flex;
  &__text {
    background: linear-gradient(120deg, $color-blue 40%,#28ac97 100%);
    color: #fff;
    flex: 1 1 auto;
    margin: 40px -25px 0 -277px;
    transform: skewX(-4deg);
    &-inner {
      max-width: 806px;
      padding: 60px 75px;
      transform: skewX(4deg);
    }
    &--product {
      align-items: center;
      background-image:
        url(/assets/img/bg_product_01.png),
        linear-gradient(140deg, $color-blue 40%,#28ac97 100%);
      background-blend-mode: screen;
      background-position: center bottom;
      background-repeat: no-repeat;
      display: flex;
      #{$root} {
        &__text-inner {
          padding: 0 vp-vw(160) 0 vp-vw(180) !important;
        }
      }
    }
  }
  &__heading {
    margin-bottom: 1.8em;
  }
  &__desc {
    margin-bottom: 1em;
    max-width: 650px;
  }
  &--reverse {
    #{$root} {
      &__img {
        margin-left: -110px;
        order: 2;
      }
      &__text {
        margin: 70px 0 0 -50px;
      }
    }
  }
  //.p-media-c(min 1367)
  @media (min-width: #{$vw + 1}px) {
    @at-root .c-cntw--full {
      #{$root} {
        &__text-inner {
          max-width: 100%;
          padding: vp-vw(60) vp-vw(75);
        }
        &__heading {
          margin-bottom: vp-vw(30);
          .c-heading-d {
            &__main {
              font-size: vp-vw(40);
            }
            &__sub {
              font-size: vp-vw(24);
            }
          }
        }
        &__desc {
          font-size: vp-vw(16);
          margin-bottom: vp-vw(30);
          max-width: 100%;
        }
        &__button {
          .c-button-a {
            border-radius: vp-vw(30);
            padding: vp-vw(10);
            width: vp-vw(220);
            &__text {
              font-size: vp-vw(16);
            }
            &__arrow {
              right: vp-vw(14);
              .c-arrow-a {
                border-width: vp-vw(2);
                height: vp-vw(9);
                width: vp-vw(9);
              }
              img {
                width: vp-vw(16);
              }
            }
            &:hover {
              box-shadow: 0 vp-vw(3) vp-vw(4) rgba(black, .2);
            }
          }
        }
        &__img {
          flex: 0 0 auto;
          width: vp-vw(780);
          img {
            width: 100%;
          }
        }
      }
    }
  }
  //.p-media-c(brkw)
  @media (max-width: #{$brkw}px) {
    @at-root .c-cntw--full {
      #{$root} {
        &__img {
          margin-left: -150px;
          width: brk-vw(900);
          img {
            width: 100%;
          }
        }
        &__text {
          margin-left: brk-vw(-340);
        }
        &--reverse {
          #{$root} {
            &__text {
              margin: 70px 0 0 -50px;
            }
            &__img {
              margin-left: brk-vw(-150);
            }
          }
        }
      }
    }
  }
  //.p-media-c(sp)
  @include media-sp {
    flex-direction: column;
    @at-root .c-cntw {
      #{$root} {
        &__img {
          margin-left: 0;
          width: 100%;
        }
        &__text {
          margin: -57px 0 0 vpsp-vw($pad-sp);
          transform-origin: left bottom;
          &-inner {
            padding: 45px;
          }
        }
        &__desc {
          margin-bottom: 2em;
        }
        &--reverse {
          #{$root} {
            &__img {
              margin-left: 0;
            }
            &__text {
              margin: -80px vpsp-vw(40) 0 vpsp-vw(-30);
              order: 2;
              &--product {
                background-size: 170%, auto;
              }
            }
            &__text-inner {
              padding: 80px 40px 75px vpsp-vw(35) !important;
            }
          }
        }
      }
    }
  }
}

/* .p-media-d //**
----------------------- */
/*
.p-media-d.p-media-d--pamph
  .p-media-d__content
    .p-media-d__fig
      +srcset()
    .p-media-d__body
      .p-media-d__text
        .c-heading-s
          h3.c-heading-s__main
            | 見出し
            span.c-label-d PDF
        p.c-text-body テキスト
      .p-media-d__button
*/
.p-media-d {
  $root: &;
  position: relative;
  &__content {
    display: inline-flex;
  }
  &__fig {
    margin-right: 50px;
  }
  &__body {
    padding-bottom: 75px;
    text-align: left;
  }
  &__button {
    bottom: 0;
    position: absolute;
  }
  &--pamph {
    $mediaw: 800;
    text-align: center;
    #{$root} {
      &__content {
        max-width: #{$mediaw}px;
        width: 100%;
      }
      &__fig {
        margin-right: 80 / $mediaw * 100%;
      }
    }
  }
  //.p-media-d(sp)
  @include media-sp {
    &__fig {
      flex-shrink: 0;
      margin-bottom: 25px;
    }
    &__body {
      padding-bottom: 25px;
    }
    &__button {
      display: flex;
      justify-content: center;
      position: static;
      .c-button-b {
        width: 100%;
      }
    }
    &--pamph {
      #{$root} {
        &__fig {
          margin-right: 22px;
          width: 90px;
        }
      }
    }
  }
}

/* .p-media-e //**
----------------------- */
/*

*/
.p-media-e {
  $root: &;
  &__heading {
    margin-bottom: 1.3em;
  }
  &__meta {
    display: flex;
    justify-content: space-between;
  }
  &__fig {
    margin-top: 80px;
    text-align: center;
  }
  //.p-media-e(sp)
  @include media-sp {
    &__fig {
      margin-top: 50px;
    }
  }
}
