
/* ==============================================
megamenu
============================================== */

/*
* .p-megamenu-a
*/


/* .p-megamenu-a
----------------------- */
.p-megamenu-a {
  $root: &;
  background: $color-gray-exlight;
  padding: 60px 0;
  &__item {
    text-align: center;
  }
}
