
/* ==============================================
modal
============================================== */

/*
* .p-modal-a
*/


/* .p-modal-a
----------------------- */
.p-modal-a {
  $root: &;
  display: none;
  &.is-open {
    display: block;
    position: relative;
    z-index: 10;
  }
  &__overlay {
    align-items: flex-start;
    background: rgba(0,0,0,0.6);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
  }
  &__container {
    background: $color-gray-light;
    border-radius: 8px;
    line-height: 0;
    margin: 240px 15px 0;
    max-width: 880px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  &__video {
    .vimeo-iframe {
      border-radius: 6px;
    }
  }
  &__dialog {
    background: #fff;
    padding: 80px 30px;
    .c-heading-c {
      line-height: 1.5;
      margin-bottom: 1.7em;
    }
    .c-text-body {
      margin-bottom: 2.8em;
    }
  }
  &__close {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-120%);
  }
  //.p-modal-a(880)
  @media (max-width: 880px) {
    &__video {
      iframe {
        height: 478.125 / 880 * 100vw;
        width: 100%;
      }
    }
  }
  //.p-modal-a(landscape)
  @media (orientation: landscape) {
    .c-media-a--video + &,
    .c-media-b--video + & {
      #{$root} {
        &__container {
          max-height: 495px;
        }
      }
    }
    &__video,
    &__img {
      // height: 100vh;
      // max-height: 585px;
      // overflow-y: auto;
    }
  }
  //.p-modal-a(sp)
  @include media-sp {
    &__container {
      margin: vpsp-vw(240) vpsp-vw(15) 0;
    }
    &__video {
      iframe {
        height: vpsp-vw(194);
      }
    }
    //.p-modal-a(sp/landscape)
    @media (orientation: landscape) {
      &__container {
        margin-top: vpsp-vw(30);
      }
    }
  }
}
