
/* ==============================================
nav
============================================== */

/*
* .p-nav-a
* .p-nav-b
* .p-nav-c
* .p-nav-d //**
*/


/* .p-nav-a
----------------------- */
/*
.p-nav-a
  ul.p-nav-a__list
    li.p-nav-a__item
      a.p-nav-a__target(href="") メニュー
*/
.p-nav-a {
  $root: &;
  &__list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -1.5em;
    margin-top: -.3em;
    width: calc(100% + 3em);
  }
  &__item {
    margin-top: .3em;
    padding: 0 1.5em;
    position: relative;
    &:not(:last-child) {
      &::after {
        background: #fff;
        content: '';
        display: block;
        height: 1em;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-45%);
        width: 1px;
      }
    }
  }
  &__target {
    color: #fff;
    display: block;
    line-height: 1.4;
    padding: .2em 0;
  }
  //.p-nav-a(sp)
  @include media-sp {
    &__list {
      justify-content: flex-start;
      margin-left: -.7em;
      width: calc(100% + 1.4em);
    }
    &__item {
      padding: 0 .7em;
    }
    &__target {
      font-size: 1.4rem;
    }
  }
}

/* .p-nav-b
----------------------- */
/*
.p-nav-b
  .p-nav-b__content
    ul.p-nav-b__list
      li.p-nav-b__item
        a.p-nav-b__target.c-hover-bg.c-hover-bg--orange-exlight(href="")
          span.c-text-marker.c-text-marker--1
            | メニュー
            br
            | テキスト
          .p-nav-b__icon
            span.c-arrow.c-arrow-a.c-arrow-a--down
*/
.p-nav-b {
  $root: &;
  &__content {
    background: #fff;
    border-radius: .4em;
    @include box-shadow-a;
  }
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
    &:not(:last-child) {
      &::after {
        background: $color-gray-light;
        content: '';
        display: block;
        height: calc(100% - 20px);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
      }
    }
  }
  &__target {
    color: $color-text;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    padding: 1.1em 1em .4em;
    text-align: center;
    @include font-smoothing;
    &:hover {
      #{$root} {
        &__icon {
          transform: translateY(5px);
        }
      }
    }
  }
  &__icon {
    align-items: center;
    display: flex;
    height: 28px;
    justify-content: center;
    transition: transform .2s ease-out;
  }
  //.p-nav-b(max840)
  @media (max-width: 840px) {
    .c-grid--4cols-navb {
      #{$root} {
        &__target {
          font-size: 1.8rem;
        }
      }
    }
  }
  //.p-nav-b(sp)
  @include media-sp {
    &__list {
      overflow: hidden;
    }
    &__item {
      margin-top: -1px !important;
      padding-top: 1px;
      &:nth-child(2n) {
        &::after {
          content: none;
        }
      }
      &::before {
        background: $color-gray-light;
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        top: 0;
        width: calc(100% - 10px);
      }
      &:nth-child(odd) {
        &::before {
          right: 0;
        }
      }
    }
    &__target {
      padding: .6em .5em .2em;
    }
    &__icon {
      height: 24px;
    }
    .c-grid--4cols-navb {
      #{$root} {
        &__target {
          font-size: 1.6rem;
        }
      }
    }
  }
}

/* .p-nav-c
----------------------- */
.p-nav-c {
  $root: &;
  background: rgba($color-blue, .8);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  bottom: 80px;
  min-width: 138px;
  padding: 1em .7em 1em 1em;
  position: fixed;
  right: 0;
  transition:
    opacity .3s ease-out,
    visibility .3s ease-out;
  z-index: 1;
  &[aria-hidden=true] {
    opacity: 0;
    visibility: hidden;
  }
  &__item {
    text-align: right;
    &:not(:last-child) {
      margin-bottom: .7em;
    }
  }
  &__target {
    align-items: center;
    color: rgba(white, .5);
    display: flex;
    justify-content: flex-end;
    transition: color .2s ease-out;
    &::after {
      background: rgba(white, .5);
      border-radius: 50%;
      content: '';
      display: block;
      height: 8px;
      margin-left: .8em;
      transition: all .1s linear;
      width: 8px;
    }
    &[aria-current=page] {
      color: #fff;
      &::after {
        background: #fff;
        border: 3px solid rgba($color-blue, .8);
        box-shadow: 0 0 0 1px white;
      }
    }
    &:hover {
      color: white;
    }
  }
  //.p-nav-c(sp)
  @include media-sp {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    bottom: 10px;
    left: 0;
    min-width: 111px;
    right: auto;
    &__target {
      font-size: 1.2rem;
    }
  }
}

/* .p-nav-d //**
----------------------- */
.p-nav-d {
  $root: &;
  &__target {
    border-bottom: 1px solid $color-text;
    color: $color-text;
    display: flex;
    font-size: 1.8rem;
    padding-right: 25px;
    position: relative;
    transition: border-color .2s ease-out;
    &:hover {
      border-color: $color-red;
    }
  }
  &__icon {
    line-height: 1;
    position: absolute;
    right: 5px;
    top: 0;
    transform: translateY(-2px);
  }
  &--3cols {
    #{$root} {
      &__list {
        display: flex;
        flex-wrap: wrap;
      }
      &__item {
        flex: 0 1 cnt1-per(300);
        &:not(:nth-child(3n)) {
          margin-right: cnt1-per(50);
        }
        &:not(:nth-child(-n+3)) {
          margin-top: 20px;
        }
      }
    }
  }
  //.p-nav-d(1040)
  @include media-brk1 {
    &--3cols {
      #{$root} {
        &__text {
          font-size: 1.6rem;
        }
      }
    }
  }
  //.p-nav-d(max940)
  @media (max-width: 940px) {
    &--3cols {
      #{$root} {
        &__list {
          justify-content: space-between;
        }
        &__item {
          flex: 0 1 47%;
          &:not(:nth-child(3n)) {
            margin-right: 0;
          }
          &:not(:nth-child(-n+3)) {
            margin-top: 0;
          }
          &:not(:nth-child(-n+2)) {
            margin-top: 20px;
          }
        }
      }
    }
  }
  //.p-nav-d(sp)
  @include media-sp {
    &__list {
      flex-direction: column;
    }
    &__item {
      flex: 0 1 100%;
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
    &__text {
      font-size: 1.4rem !important;
    }
  }
}
