
/* ==============================================
newslist
============================================== */

/*
* .p-newslist
*/


/* .p-newslist
----------------------- */
.p-newslist {
  $root: &;
  &__item {
    border-bottom: 1px solid rgba($color-blue, .2);
    &:first-child {
      border-top: 1px solid rgba($color-blue, .2);
    }
  }
  &__target {
    display: flex;
  }
  &__date {
    color: rgba($color-text, .5);
    margin-right: 3em;
  }
  &__target {
    color: $color-text;
    padding: 1.3em 1em 1.3em 1.7em;
    transition: box-shadow .2s linear;
    &:hover {
      box-shadow: 0 0 30px rgba(black, .1);
    }
  }
  &__button {
    margin-top: 2.5em;
    text-align: center;
  }
  //.p-newslist(sp)
  @include media-sp {
    &__target {
      flex-direction: column;
      padding: 1em 0;
    }
  }
}
