
/* ==============================================
pagenation
============================================== */

/*
* .p-pagenation-a
* .p-pagenation-b //**
*/


/* .p-pagination-a
----------------------- */
.p-pagination-a {
  align-items: center;
  display: flex;
  justify-content: center;
  &__list {
    display: flex;
    margin: 0 .7em;
  }
  &__item {
    a {
      border-right: 1px solid #ccc;
      padding: .3em 1em;
      transition: background .2s ease-out;
      &[aria-current=page] {
        background: #000;
        color: #fff;
        pointer-events: none;
      }
      &:hover {
        background: #ccc;
      }
    }
    &:first-child {
      a {
        border-left: 1px solid #ccc;
      }
    }
  }
}

/* .p-pagination-b
----------------------- */
.p-pagination-b {
  $root: &;
  $gap: '6px';
  $size: '40px';
  $sizeSP: '36px';
  align-items: center;
  display: flex;
  justify-content: center;
  &__list {
    display: flex;
    margin: 0 #{$gap};
  }
  &__item {
    &:not(:last-child) {
      margin-right: #{$gap};
    }
  }
  &__target {
    align-items: center;
    border: 1px solid $color-gray-light;
    border-radius: 50%;
    color: $color-text;
    display: flex;
    font-size: 1.7rem;
    height: #{$size};
    justify-content: center;
    line-height: 1;
    transition: background .2s ease-out;
    width: #{$size};
    @include roboto;
    @include font-smoothing;
    &[aria-current=page] {
      background: $color-blue;
      border: none;
      color: #fff;
      pointer-events: none;
    }
    &:hover {
      background: $color-blue-exlight;
    }
  }
  &__pager {
    align-items: center;
    display: flex;
    > * {
      &:not(:last-child) {
        margin-right: #{$gap};
      }
    }
  }
  //.p-pagination-b(sp)
  @include media-sp {
    &__target {
      height: #{$sizeSP};
      width: #{$sizeSP};
    }
  }
}
