
/* ==============================================
panel
============================================== */

/*
* .p-panel-filter //**
* .p-panel-modal //**
*/


/* .p-panel-filter //**
----------------------- */
.p-panel-filter {
  $root: &;
  background: #fff;
  border: 2px solid $color-text;
  font-size: 1.4rem;
  max-width: 600px;
  width: 100%;
  &__tab {
    transition:
      border .2s ease-out,
      background .2s ease-out;
    border-bottom: 2px solid transparent;
    [aria-expanded=true] & {
      border-bottom: 2px solid $color-text;
    }
    .filter-tab {
      padding: 10px;
      &__content {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }
    }
    &:hover {
      background: $color-gray-exlight;
    }
  }
  &__panel {
    .filter-panel {
      padding: 30px 18px;
      &__button {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        .c-button-c {
          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }
    }
    .filter-control {
      &__unit {
        &:not(:last-child) {
          margin-bottom: 1em;
        }
      }
      &__term {
        font-weight: 600;
        margin-bottom: .7em;
      }
      &__desc {
        display: flex;
        flex-wrap: wrap;
        margin-top: -1em;
      }
      &__item {
        margin-top: 1em;
        &:not(:last-child) {
          margin-right: 1.5em;
        }
      }
    }
  }
}
// append先のスタイル
#append-panel-filter {
  position: relative;
  .p-panel-filter {
    position: absolute;
    width: vpsp-vw(360);
    z-index: 1;
  }
  //#append-panel-filter(sp)
  @include media-sp {
    padding-bottom: 68px;
  }
}

/* .p-panel-modal //**
----------------------- */
.p-panel-modal {
  $root: &;
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: auto;
  position: fixed;
  top: 0;
  visibility: visible;
  width: 100%;
  z-index: 2;
  &[aria-hidden=true] {
    display: none;
  }
  &__wrapper {
    display: table;
    height: 100%;
    width: 100%;
  }
  &__container {
    display: table-cell;
    padding: 20px 0;
    vertical-align: middle;
  }
  &__content {
    background: #fff;
    margin: 0 auto;
    max-width: 640px;
    padding: 40px;
    position: relative;
    text-align: center;
    @include box-shadow-b;
  }
  &__imgwrap {
    margin-bottom: 20px;
    position: relative;
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
  &__img {
    bottom: 0;
    filter: drop-shadow(0 0 7px rgba(black, .12));
    height: 100%;
    left: 0;
    object-fit: contain;
    font-family: 'object-fit: contain;';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
  &__favorite {
    bottom: 0;
    position: absolute;
    right: 0px;
  }
  &__caption {
    .modal-caption {
      &__desc {
        align-items: center;
        display: flex;
        justify-content: center;
      }
      &__id {
        font-size: 1.4rem;
        font-weight: 600;
        margin: 0 auto;
        .ie & {
          width: 100%;
        }
      }
      &__pager {
        .ie & {
          flex: 1 1 auto;
        }
        line-height: 1;
        .c-arrow-line--half {
          position: relative;
          top: 2px;
        }
      }
      &__button {
        margin-top: 20px;
      }
    }
  }
  &__closebutton {
    position: absolute;
    right: 0;
    top: 0;
  }
  //.p-panel-modal(sp)
  @include media-sp {
    &__content {
      padding: vpsp-vw(30) vpsp-vw(20);
      width: vpsp-vw(360);
    }
    &__closebutton {
      .c-button-cross {
        height: vpsp-vw(50);
        width: vpsp-vw(50);
        .c-icon-cross {
          height: vpsp-vw(15);
          width: vpsp-vw(15);
          &::before,
          &::after {
            height: vpsp-vw(2);
          }
        }
      }
    }
  }
}
