
/* ==============================================
section
============================================== */

/*
* .p-section-a //**
* .p-section-b
*/


/* .p-section-a //**
----------------------- */
.p-section-a {
  $root: &;
  display: flex;
  justify-content: space-between;
  &__text {
    flex: 0 1 590px;
    margin-right: 40px;
  }
  &__heading {
    margin-bottom: 1.4em;
  }
  &__button {
    margin-top: 1.7em;
    > * {
      display: inline-block;
    }
  }
  &__figure {
    flex: 0 1 370px;
  }
  &--reverse {
    flex-direction: row-reverse;
    #{$root} {
      &__text {
        margin-right: 0;
      }
      &__figure {
        margin-right: 40px;
      }
    }
  }
  //.p-section-a(sp)
  @include media-sp {
    flex-direction: column;
    &__text {
      flex: 1 1 100%;
      margin-right: 0;
      order: 0;
    }
    &__heading {
      margin-bottom: 1em;
      .c-heading-s {
        &__mark {
          .c-icon-b {
            font-size: 1.8rem !important;
            height: 30px;
            width: 30px;
          }
        }
        &__main {
          font-size: 2rem;
        }
      }
    }
    &__button {
      order: 2;
      margin-top: 1.5em;
      text-align: center;
      .c-button-b {
        width: 100%;
      }
    }
    &__figure {
      flex: 1 1 100%;
      margin-top: 1.2em;
      order: 1;
    }
    &--reverse {
      #{$root} {
        &__figure {
          margin-right: 0;
        }
      }
    }
  }
}

/* .p-section-b
----------------------- */
.p-section-b {
  $root: &;
  background: #fff;
  padding: cnt2-per(40) cnt2-per(50);
  &:not(:last-child) {
    margin-bottom: cnt2-per(40);
  }
  &__heading {
    margin-bottom: .3em;
  }
  &__content {
    @include serif;
  }
  &__section {
    &:not(:last-child) {
      margin-bottom: 1.8em;
    }
  }
  &__term {
    font-size: 2.2rem;
  }
  &__desc {
    font-size: 2rem;
  }
  //.p-section-b(sp)
  @include media-sp {
    padding: vpsp-vw(30) vpsp-vw(20);
    &:not(:last-child) {
      margin-bottom: vpsp-vw(20);
    }
    &__heading {
      font-size: 2.8rem;
    }
  }
}
