
/* ==============================================
sitemap
============================================== */

/*
* .p-sitemap
*/


/* .p-sitemap
----------------------- */
.p-sitemap {
  $root: &;
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  &__block {
    width: cnt4-per(240);
    &:not(:nth-child(3n)) {
      margin-right: cnt4-per(40);
    }
    &:not(:nth-last-child(-n+3)) {
      margin-bottom: cnt4-per(20);
    }
  }
  &__unit {
    border-top: 1px solid rgba($color-blue, .2);
    padding: 1em;
  }
  &__upper {
    &:not(:last-child) {
      margin-bottom: .8em;
    }
  }
  &__lower {
    padding-left: 1em;
    .lower-list {
      &__item {
        &:not(:last-child) {
          margin-bottom: .8em;
        }
      }
    }
  }
  &__text {
    color: $color-text;
    display: block;
    font-size: 1.8rem;
    transition: color .2s ease-out;
    &--upper {
      align-items: center;
      display: flex;
      font-weight: 700;
      justify-content: space-between;
    }
    @at-root {
      a#{$root}__text {
        &:hover {
          color: $color-blue;
        }
      }
    }
  }
  //.p-sitemap(sp)
  @include media-sp {
    &__inner {
      flex-direction: column;
    }
    &__block {
      width: 100%;
      &:not(:nth-child(3n)) {
        margin-right: 0;
      }
      &:not(:nth-last-child(-n+3)) {
        margin-bottom: 0;
      }
    }
  }
}
