
/* ==============================================
table
============================================== */

/*
* .p-table-a //**
*/


/* .p-table-a //**
----------------------- */
.p-table-a {
  $root: &;
  $bdrColor: $color-gray-exlight2;
  $bgColor: $color-red-light;
  $strongColor: $color-red;
  // overflow-x: auto;
  &__wrapper {
    display: flex;
  }
  &__table {
    background: #fff;
    line-height: 1.3;
    table-layout: fixed;
    &:first-child {
      flex: 1 1 600px;
      colgroup {
        &.heading {
          col {
            // width: calc(201 / 600 * 100%);
            min-width: 201px;
            .ie & {
              width: 201px;
            }
          }
        }
        &.body {
          col {
            width: calc(133 / 600 * 100%)
          }
        }
      }
      .ie & {
        width: 60%;
      }
    }
    &:not(:first-child) {
      flex: 1 1 400px;
      colgroup {
        &.heading {
          display: none;
        }
        &.body {
          col {
            width: calc(133 / 400 * 100%)
          }
        }
      }
      th,
      td {
        &:first-child {
          display: none;
        }
      }
      .ie & {
        width: 40%;
      }
    }
  }
  colgroup {
    &.body {
      border-left: 3px solid $bdrColor;
      col {
        &:not(:last-child) {
          border-right: 1px dotted $bdrColor;
        }
      }
    }
  }
  thead {
    tr {
      th {
        font-weight: 400;
      }
    }
  }
  tbody {
    tr {
      &:last-child {
        border-bottom: none;
      }
    }
    th[scope=row] {
      padding-left: 20px;
      text-align: left;
    }
  }
  tr {
    border-bottom: 1px solid $bdrColor;
  }
  th,
  td {
    padding: 1.2em 0;
    text-align: center;
    vertical-align: middle;
  }
  .s-bgcolor-light {
    background: $bgColor;
  }
  .s-text-strong {
    color: $strongColor;
    font-weight: 600;
  }
  .s-border-double {
    border-bottom: 3px double $bdrColor;
  }
  .s-border-bold {
    border-bottom: 3px solid $bdrColor;
  }
  .s-border-bold-top {
    border-top: 3px solid $bdrColor;
  }
  .s-onlysp {
    display: none;
  }
  &--shipping {
    tbody {
      th[scope=row] {
        background: $bgColor;
      }
      .s-arrow {
        &-start {
          color: $strongColor;
          /* font-size: 1.2rem; */
          position: relative;
          &::before {
            background: $strongColor;
            content: '';
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translateX(-50%);
            width: 4px;
            .ie & {
              top: 55%;
            }
          }
          &--4days {
            &::before {
              height: 200px;
            }
          }
          &--3days {
            &::before {
              height: 140px;
            }
          }
          &--2days {
            &::before {
              height: 80px;
            }
          }
          &--1day {
            &::before {
              height: 20px;
            }
          }
        }
        &-end {
          position: relative;
          &::after {
            bottom: 0;
            content: '';
            display: block;
            height: 10px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 18px;
            @include triangle-bottom($strongColor);
            .ie & {
              bottom: -10px;
            }
          }
        }
      }
    }
    #{$root} {
      &__table {
        &:first-child {
          flex-basis: 580px;
          colgroup {
            &.heading {
              col {
                min-width: 160px;
              }
            }
            &.body {
              col {
                width: calc(210 / 580 * 100%);
                .ie & {
                  width: 36%;
                }
              }
            }
          }
        }
        &:not(:first-child) {
          flex-basis: 420px;
          colgroup {
            &.body {
              col {
                .ie & {
                  width: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
  &--quality {
    tbody {
      .s-2lines {
        height: 81px;
      }
      @media (max-width: 980px) {
        .s-3lines-max980 {
          height: 101px;
        }
      }
    }
    #{$root} {
      &__table {
        &:first-child {
          flex-basis: 600px;
          colgroup {
            &.heading {
              col {
                min-width: 200px;
              }
            }
            &.body {
              col {
                width: calc(400 / 600 * 100%);
                .ie & {
                  width: 67%;
                }
              }
            }
          }
        }
        &:not(:first-child) {
          flex-basis: 400px;
          colgroup {
            &.body {
              col {
                .ie & {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    &#{$root}--compact {
      tbody {
        th {
          &[scope=row] {
            padding-left: 10px;
          }
        }
      }
      th,
      td {
        padding: .8em .5em;
      }
      #{$root} {
        &__table {
          &:first-child {
            colgroup {
              &.heading {
                col {
                  min-width: 160px;
                }
              }
            }
            .ie & {
              width: 100%;
            }
          }
        }
      }
    }
  }
  //.p-table-a(sp)
  @include media-sp {
    &__wrapper {
      flex-direction: column;
    }
    &__table {
      flex: 1 1 100% !important;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      colgroup {
        &.heading {
          col {
            min-width: auto !important;
            width: vpsp-vw(120) !important;
          }
        }
        &.body {
          col {
            width: vpsp-vw(80) !important;
          }
        }
      }
      &:not(:first-child) {
        colgroup {
          &.heading {
            display: table-column-group;
          }
        }
        th,
        td {
          &:first-child {
            display: table-cell;
          }
        }
      }
    }
    tbody {
      th[scope=row] {
        padding-left: 10px;
      }
    }
    th,
    td {
      padding: .8em 0;
    }
    .s-onlysp {
      display: table-cell;
    }
    .s-onlypc {
      display: none !important;
    }
    &--shipping {
      colgroup {
        &.heading {
          col {
            width: vpsp-vw(80) !important;
          }
        }
        &.body {
          col {
            width: vpsp-vw(140) !important;
          }
        }
      }
      tbody {
        .s-arrow {
          &-start {
            font-size: 1rem;
            &--4days {
              &::before {
                height: 140px;
              }
            }
            &--3days {
              &::before {
                height: 95px;
              }
            }
            &--2days {
              &::before {
                height: 55px;
              }
            }
            &--1day {
              &::before {
                height: 12px;
              }
            }
          }
        }
      }
      #{$root} {
        &__table {
          flex-basis: 100%;
        }
      }
    }
    &--quality {
      tbody {
        .s-2lines {
          height: auto;
        }
        .s-3lines-max980 {
          height: auto;
        }
      }
      #{$root} {
        &__table {
          colgroup {
            &.heading {
              col {
                min-width: vpsp-vw(120) !important;
              }
            }
            &.body {
              col {
                width: vpsp-vw(240) !important;
              }
            }
          }
        }
      }
    }
  }
}
