
/* ==============================================
thumb
============================================== */

/*
* .p-thumb-a //**
*/


/* .p-thumb-a //**
----------------------- */
.p-thumb-a {
  $root: &;
  &__target {
    background: #fff;
    border: 1px solid $color-gray-exlight3;
    display: block;
    position: relative;
    transition:
      background .2s ease-out,
      border .2s ease-out;
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    @at-root {
      a#{$root}__target {
        &:hover {
          background: $color-blue-exlight2;
          border-color: $color-blue-light;
        }
      }
    }
  }
  &__thumb {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    img {
      filter: drop-shadow(0 0 5px rgba(black, .1));
      height: 100%;
      object-fit: contain;
      font-family: 'object-fit: contain;';
      padding: 10px;
      width: 100%;
    }
  }
  &__favorite {
    bottom: 8px;
    right: 10px;
    position: absolute;
    width: 30 / 285 * 100%;
    .c-icon-favorite {
      width: 100%;
    }
  }
  &__rank {
    left: 0;
    position: absolute;
    top: 0;
  }
  &--nolink {
    #{$root} {
      &__target {
        border: none;
        pointer-events: none;
      }
      &__thumb {
        img {
          padding: 0;
        }
      }
    }
  }
  //.p-thumb-a(sp)
  @include media-sp {
    &__favorite {
      .c-icon-favorite {
        height: vpsp-vw(20);
        width: vpsp-vw(20);
      }
    }
  }
}
