
/* ==============================================
accordion
============================================== */

/*
* .c-acc(mixin)
* .c-acc
* .c-acc-●（個別設定）
*/


/* .c-acc(mixin)
----------------------- */
@mixin acc() {
  &__tab {
    cursor: pointer;
  }
  &__panel {
    display: block;
    overflow: hidden;
    &[aria-hidden=true] {
      opacity: 0;
      transition:
        height .2s linear,
        opacity .4s linear;
    }
    &[aria-hidden=false] {
      height: auto;
      opacity: 1;
      transition:
        height .2s linear,
        opacity .4s linear;
    }
  }
  &__child {
    margin: 0;
  }
}

/* .c-acc
----------------------- */
.c-acc {
  @include acc;
  //.c-acc-sp(sp)
  @include media-sp {
    // &-sp {
    //   @include acc;
    // }
  }
}

/* .c-acc-●（個別設定）
----------------------- */
.c-acc-1 {
  .c-acc {
    &__tab {
      cursor: default;
    }
  }
}
