
/* ==============================================
address
============================================== */

/*
* .c-address-a //**
*/


/* .c-address-a //**
----------------------- */
/*
address.c-address-a
  .c-address-a__content
    .c-address-a__icon
      svg.c-icon.c-icon-tel(class="")
        use(xlink:href=`${svgPath}svg-icons.svg#ico_tel_01`)
    a.c-address-a__number(href=`tel:${contactTel}`) #{contactTel}
  p.c-address-a__recept #{contactHours}
*/
.c-address-a {
  display: inline-block;
  font-style: normal;
  &__content {
    align-items: center;
    display: flex;
    font-size: 2.7rem;
    line-height: 1;
  }
  &__icon {
    align-items: center;
    display: flex;
    .c-icon-tel {
      fill: $color-blue;
      height: .8em;
      margin: 0;
      top: .05em;
      width: 28 * .8 / 32 + em;
    }
  }
  &__number {
    color: $color-blue;
    position: relative;
    top: .07em;
    @include roboto;
    @include font-smoothing;
  }
  &__recept {
    color: #000;
    font-feature-settings: "palt";
    font-size: 1.1rem;
    text-align: center;
  }
}
