
/* ==============================================
arrow
============================================== */

/*
* .c-arrow
* .c-arrow-a //**
* .c-arrow-a-double
* .c-arrow-line //**
* .c-arrow-circle
*/


/* .c-arrow
----------------------- */
.c-arrow {
  display : inline-block;
  flex-shrink: 0;

  /* .c-arrow(sp) */
  @media only screen and (max-width: #{$brkw-sp}px) {
  }
}

/* .c-arrow-a //**
----------------------- */
/*
span.c-arrow.c-arrow-a.c-arrow-a--down.s-8.s-6-sp
*/
.c-arrow-a {
  $bdrW: '1px';
  $size: '6px';
  border-top : #{$bdrW} solid $color-text;
  border-right : #{$bdrW} solid $color-text;
  height : #{$size};
  position: relative;
  transform : rotate(45deg);
  width : #{$size};
  &--white {
    border-color: #fff;
  }
  &--color-text {
    border-color: $color-text;
  }
  &--blue-light {
    border-color: $color-blue-light;
  }
  &--up {
    transform: rotate(-45deg);
  }
  &--down {
    top: -.1em;
    transform: rotate(135deg);
  }
  &--left {
    transform: rotate(-135deg);
  }
  @for $i from 0 through 30 {
    &.s-#{$i} {
      height: #{$i}px;
      width: #{$i}px;
    }
  }
  @for $i from 1 through 5 {
    &.b-#{$i} {
      border-width: #{$i}px;
    }
  }
  //.c-arrow-a(sp)
  @include media-sp {
    @for $i from 0 through 30 {
      &.s-#{$i}-sp {
        height: #{$i}px;
        width: #{$i}px;
      }
    }
  }
}

/* .c-arrow-a-double
----------------------- */
.c-arrow-a-double {
  display: flex;
  .c-arrow-a {
    position: relative;
    &--left {
      &:first-child {
        left: 2px;
      }
    }
    &--right {
      &:last-child {
        right: 2px;
      }
    }
  }
}

/* .c-arrow-line //**
----------------------- */
/*
span.c-arrow.c-arrow-line
span.c-arrow.c-arrow-line.c-arrow-line--half.c-arrow-line--invert
*/
.c-arrow-line {
  $root: &;
  $color: $color-blue-light;
  background: $color;
  border-radius: 2px;
  height: 2px;
  position: relative;
  width: 15px;
  &::before,
  &::after {
    background: $color;
    border-radius: 2px;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
    transform-origin: right center;
    width: 8px;
  }
  &::before {
    transform: rotate(-40deg) translateY(-30%);
  }
  &::after {
    transform: rotate(40deg) translateY(30%);;
  }
  &--up {
    transform: rotate(-90deg);
  }
  &--down {
    transform: rotate(90deg);
    .c-acc__tab[aria-expanded=true] & {
      transform: rotate(-90deg);
    }
  }
  &--white {
    background: white;
    &::before,
    &::after {
      background: white;
    }
  }
  &--color-text {
    background: $color-text;
    &::before,
    &::after {
      background: $color-text;
    }
  }
  &--red {
    background: $color-red;
    &::before,
    &::after {
      background: $color-red;
    }
  }
  &--invert {
    transform: scaleX(-1);
  }
  &.s-exlarge {
    border-radius: 1px;
    height: 4px;
    width: 27px;
    &::before,
    &::after {
      border-radius: 1px;
      height: 4px;
      width: 16px;
    }
  }
  &.s-ex2large {
    border-radius: 4px;
    height: 6px;
    width: 40px;
    &::before,
    &::after {
      border-radius: 4px;
      height: 6px;
      width: 24px;
    }
  }
  &.s-large {
    border-radius: 2px;
    height: 3px;
    width: 20px;
    &::before,
    &::after {
      border-radius: 2px;
      height: 3px;
      width: 12px;
    }
  }
  &--half {
    border-radius: 0px;
    &::before,
    &::after {
      border-radius: 0px;
    }
    &::before {
      content: none;
    }
  }
  //.c-arrow-line(sp)
  @include media-sp {
    &.s-medium-sp {
      border-radius: 2px;
      height: 2px;
      width: 15px;
      &::before,
      &::after {
        border-radius: 2px;
        height: 2px;
        width: 8px;
      }
    }
    &.s-small-sp {
      border-radius: 1px;
      height: 2px;
      width: 11px;
      &::before,
      &::after {
        border-radius: 1px;
        height: 2px;
        width: 7px;
      }
    }
  }
}

/* .c-arrow-circle
----------------------- */
.c-arrow-circle {
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  display: inline-flex;
  height: 1.4em;
  justify-content: center;
  width: 1.4em;
  &::before {
    border-top: 2px solid white;
    border-right: 2px solid white;
    content: '';
    display: block;
    height: .3em;
    transform: translateX(-.1em) rotate(45deg);
    width: .3em;
  }
  &--up {
    &::before {
      transform: translateY(.1em) rotate(-45deg);
    }
  }
}
