
/* ==============================================
background
============================================== */

/*
* .c-bg-dot
*/


/* .c-bg-dot
----------------------- */
.c-bg-dot {
  background: url(/assets/img/bg_dot_01.svg);
  height: 100%;
}
