
/* ==============================================
banner
============================================== */

/*
* .c-banner-img //**
* .c-banner-a

*/


/* .c-banner-img //**
----------------------- */
.c-banner-img {
  &__target {
    display: inline-block;
  }
}

/* .c-banner-a
----------------------- */
.c-banner-a {
  background: #fff;
  border-radius: .5em;
  box-shadow: 0 3px 6px rgba(black, .16);
  padding: 40px;
  &__heading {
    margin-bottom: .5em;
  }
  &__desc {
    margin-bottom: 2.5em;
  }
  &__body {
    margin-bottom: 2em;
    text-align: center;
  }
}
