
/* ==============================================
button
============================================== */

/*
* .c-button
* .c-button-wrap
* .c-button-a
* .c-button-b //**
* .c-button-c //**
* .c-button-d //**
* .c-button-icon-a //**
* .c-button-icon-b //**
* .c-button-icon-c //**
* .c-button-cross //**
* .c-button-round
* .c-button-arrow
*/


/* .c-button
----------------------- */
.c-button {
  display: inline-block;
  position: relative;
  &:disabled {
    opacity: .5;
    pointer-events: none;
  }
}

/* .c-button-wrap
----------------------- */
.c-button-wrap {
  display: block;
  &--center {
    text-align: center;
  }
}

/* .c-button-a
----------------------- */
.c-button-a {
  $root: &;
  $color: $color-navy;
  &__target {
    align-items: center;
    border: 1px solid $color;
    border-radius: .5em;
    color: $color;
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    line-height: 1.4;
    margin: 0;
    padding: 1em 2em 1em 1em;
    position: relative;
    transition: background .2s ease-out;
    width: 100%;
    &:hover {
      #{$root} {
        &__arrow {
          &.move-down {
            transform: translateY(-30%);
          }
        }
      }
    }
    &[aria-selected=true] {
      background: $color-navy;
      color: white;
      .c-arrow-a {
        border-color: white;
      }
      &:hover {
        background: $color-navy;
      }
    }
  }
  &__text {
    pointer-events: none;
    text-align: center;
  }
  &__arrow {
    line-height: 0;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .2s ease-out;
  }
  .c-arrow-a {
    border-color: $color;
    transition-duration: .2s;
    transition-property: all;
    transition-timing-function: ease-out;
    &--down {
      transition-property: top;
    }
  }
  &--noarrow {
    #{$root} {
      &__target {
        padding: 1em;
      }
    }
  }
  &--tab {
    #{$root} {
      &__target {
        background: $color-navy-exlight;
      }
    }
    .c-icon {
      position: absolute;
      right: 1em;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  //.c-button-a(sp)
  @include media-sp {
    &__target {
      min-width: 100%;
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }
}

/* .c-button-b //**
----------------------- */
/*
.c-button-b.c-button-b--color.icon-abs.icon-right.w-large.w-medium-sp.h-medium.h-regular-sp.u-mt35.u-mt20-sp.u-text-align-c
  a.c-button-b__target(href='#')
    p.c-button-b__text.u-fz18.u-fz16-sp はがきの仕様・品質はこちら
    .c-button-b__icon.right.move-right
      span.c-arrow.c-arrow-line.c-arrow-line--white.s-large
*/
.c-button-b {
  $root: &;
  $color: $color-blue-light;
  $height: (
    large: '70px',
    medium: '60px',
    regular: '50px',
    small: '40px',
    tiny: '20px'
  );
  $width: (
    large: '380px',
    medium: '320px',
    regular: '240px',
    small: '190px',
    tiny: '100px'
  );
  &__target {
    align-items: center;
    background: #fff;
    border: 2px solid $color;
    border-radius: 2.5em;
    color: $color;
    display: inline-flex;
    font-size: 1.6rem;
    justify-content: center;
    line-height: 1.4;
    margin: 0 auto;
    max-width: #{map-get($width, regular)};
    min-height: #{map-get($height, regular)};
    padding: .3em 1em .4em;
    position: relative;
    transition:
      background .2s ease-out,
      border-color .2s ease-out;
    width: 100%;
    &::before {
      border-radius: 2em;
    }
    .ie & {
      height: #{map-get($height, regular)};
    }
    &:hover {
      background: $color-blue-exlight;
      #{$root} {
        &__icon {
          &.move-right {
            transform: translateX(50%);
          }
          &.move-left {
            transform: translateX(-50%);
          }
          &.move-down {
            transform: translateY(-50%);
          }
        }
      }
    }
    &.disabled {
      background: $color-gray !important;
      border-color: $color-gray !important;
      pointer-events: none;
    }
    &[aria-current=page] {
      background: $color-blue;
      color: #fff;
      pointer-events: none;
    }
  }
  &__text {
    font-weight: 500;
    pointer-events: none;
    position: relative;
    text-align: center;
    .c-icon-blank {
      position: relative;
      top: -.15em;
    }
  }

  &__icon {
    align-items: center;
    display: flex;
    line-height: 0;
    pointer-events: none;
    transition: transform .2s ease-out;
    &.left {
      margin-right: .4em;
    }
    &.right {
      margin-left: .4em;
    }
  }
  .c-arrow-a {
    border-color: $color;
    transition-duration: .2s;
    transition-property: all;
    transition-timing-function: ease-out;
  }
  &.w-large {
    #{$root} {
      &__target {
        max-width: #{map-get($width, large)};
      }
    }
  }
  &.w-medium {
    #{$root} {
      &__target {
        max-width: #{map-get($width, medium)};
      }
    }
  }
  &.w-regular {
    #{$root} {
      &__target {
        max-width: #{map-get($width, regular)};
      }
    }
  }
  &.w-small {
    #{$root} {
      &__target {
        max-width: #{map-get($width, small)};
      }
    }
  }
  &.w-tiny {
    #{$root} {
      &__target {
        max-width: #{map-get($width, tiny)};
      }
    }
  }
  &.h-large {
    #{$root} {
      &__target {
        min-height: #{map-get($height, large)};
        .ie & {
          height: #{map-get($height, large)};
        }
      }
    }
  }
  &.h-medium {
    #{$root} {
      &__target {
        min-height: #{map-get($height, medium)};
        .ie & {
          height: #{map-get($height, medium)};
        }
      }
    }
  }
  &.h-regular {
    #{$root} {
      &__target {
        min-height: #{map-get($height, regular)};
        .ie & {
          height: #{map-get($height, regular)};
        }
      }
    }
  }
  &.h-small {
    #{$root} {
      &__target {
        min-height: #{map-get($height, small)};
        .ie & {
          height: #{map-get($height, small)};
        }
      }
    }
  }
  &.h-tiny {
    #{$root} {
      &__target {
        min-height: #{map-get($height, tiny)};
        .ie & {
          height: #{map-get($height, tiny)};
        }
      }
    }
  }
  &--color {
    #{$root} {
      &__target {
        background: $color;
        border-color: $color;
        color: #fff;
        overflow: hidden;
        .c-icon {
          fill: #fff;
        }
        .c-arrow {
          border-color: #fff;
        }
        &:hover {
          background: $color-text;
          border-color: $color-text;
        }
      }
    }
    &#{$root}--green {
      #{$root} {
        &__target {
          background: linear-gradient(to right, rgba($color-green-exlight,1) 0%,rgba($color-green-light2,1) 60%);
          border-color: $color-green-light2;
          &::before {
            background: $color-green-light2;
          }
        }
      }
    }
  }
  &.icon-abs {
    #{$root} {
      &__target {
        padding-left: 2em;
        padding-right: 2em;
        &:hover {
          #{$root} {
            &__icon {
              &.move-right {
                transform: translate(30%, -50%);
              }
              &.move-left {
                transform: translate(-30%, -50%);
              }
            }
          }
        }
      }
    }
    &.icon-right {
      #{$root} {
        &__icon {
          &.right {
            position: absolute;
            right: 1.2em;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    &.icon-left {
      #{$root} {
        &__icon {
          &.left {
            left: 1.2em;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  //.c-button-b(sp)
  @include media-sp {
    &__target-sp {
      font-size: 1.4rem;
      max-width: 315px;
      min-height: 50px;
    }
    &.w-large-sp {
      #{$root} {
        &__target {
          max-width: #{map-get($width, large)};
        }
      }
    }
    &.w-medium-sp {
      #{$root} {
        &__target {
          max-width: #{map-get($width, medium)};
        }
      }
    }
    &.w-regular-sp {
      #{$root} {
        &__target {
          max-width: #{map-get($width, regular)};
        }
      }
    }
    &.w-small-sp {
      #{$root} {
        &__target {
          max-width: #{map-get($width, small)};
        }
      }
    }
    &.w-tiny-sp {
      #{$root} {
        &__target {
          max-width: #{map-get($width, tiny)};
        }
      }
    }
    &.h-large-sp {
      #{$root} {
        &__target {
          min-height: #{map-get($height, large)};
          .ie & {
            height: #{map-get($height, large)};
          }
        }
      }
    }
    &.h-medium-sp {
      #{$root} {
        &__target {
          min-height: #{map-get($height, medium)};
          .ie & {
            height: #{map-get($height, medium)};
          }
        }
      }
    }
    &.h-regular-sp {
      #{$root} {
        &__target {
          min-height: #{map-get($height, regular)};
          .ie & {
            height: #{map-get($height, regular)};
          }
        }
      }
    }
    &.h-small-sp {
      #{$root} {
        &__target {
          min-height: #{map-get($height, small)};
          .ie & {
            height: #{map-get($height, small)};
          }
        }
      }
    }
    &.h-tiny-sp {
      #{$root} {
        &__target {
          min-height: #{map-get($height, tiny)};
          .ie & {
            height: #{map-get($height, tiny)};
          }
        }
      }
    }
  }
}

/* .c-button-c //**
----------------------- */
/*
.c-button-c.c-button-c--2.c-button-c--invert
  a.c-button-c__target(href="")
    .c-button-c__icon
      +svg('c-icon c-icon-search', 'ico_search_01')
    p.c-button-c__text 検索
*/
.c-button-c {
  $root: &;
  $keyColor: $color-blue-light;
  $borderW: 2;
  $height: (
    large: '70px',
    medium: '60px',
    regular: '50px',
    small: '40px',
    tiny: '20px'
  );
  $width: (
    large: '380px',
    medium: '320px',
    regular: '240px',
    small: '150px',
    tiny: '120px'
  );
  @mixin current-style {
    box-shadow: 0 0 0 #{$borderW}px inset $keyColor;
    + #{$root}__text,
    #{$root}__text {
      color: $keyColor;
    }
  }
  @include box-shadow-d;
  &__target {
    align-items: center;
    background: #fff;
    color: $color-text;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.4rem;
    font-weight: 600;
    justify-content: center;
    padding: .7em 1.5em;
    position: relative;
    text-align: center;
    transition: all .2s ease-out;
    white-space: nowrap;
    &:hover {
      @include current-style;
    }
    &[aria-current=page] {
      @include current-style;
    }
    &.is-selected {
      pointer-events: none;
    }
    &.is-checked {
      background: $keyColor;
      .c-input-text,
      .c-button-c__text {
        color: #fff;
      }
      &:hover {
        background: $keyColor !important;
      }
    }
    input {
      &[type=radio] {
        &:checked {
          + #{$root}__bg {
            @include current-style;
          }
        }
      }
      &[type=checkbox] {
        &:checked {
          + #{$root}__bg {
            background: $color-blue-light;
          }
        }
      }
    }
    .c-input-text {
      pointer-events: none;
      position: relative;
    }
    &.f-pad-h-narrow {
      padding-left: 1.2em;
      padding-right: 1.2em;
    }
  }
  &__bg {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: box-shadow .2s ease-out;
    width: 100%;
    &:hover {
      @include current-style;
    }
  }
  &__text {
    pointer-events: none;
    position: relative;
    transition: color .2s ease-out;
  }
  &__icon {
    left: 1.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &--2 {
    $borderW: 2;
    box-shadow: none;
    #{$root} {
      &__target {
        color: $keyColor;
        box-shadow: 0 0 0 #{$borderW}px inset $keyColor;
        min-width: 120px;
        padding: .7em 1.5em;
        &[aria-current=true] {
          background: $keyColor;
          color: white;
          &:hover {
            background: $keyColor !important;
          }
        }
        .ie & {
          box-shadow: 0 0 0 #{$borderW}px $keyColor;
        }
      }
    }
    &#{$root}--invert {
      #{$root} {
        &__target {
          background: $keyColor;
          color: white;
          &:hover {
            background: $color-text;
            box-shadow: 0 0 0 2px inset $color-text;
            #{$root} {
              &__text {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  &.w-large {
    #{$root} {
      &__target {
        width: #{map-get($width, large)};
      }
    }
  }
  &.w-medium {
    #{$root} {
      &__target {
        width: #{map-get($width, medium)};
      }
    }
  }
  &.w-small {
    #{$root} {
      &__target {
        width: #{map-get($width, small)};
      }
    }
  }
  &.w-tiny {
    #{$root} {
      &__target {
        width: #{map-get($width, tiny)};
      }
    }
  }
  &.h-large {
    #{$root} {
      &__target {
        min-height: #{map-get($height, large)};
        .ie & {
          height: #{map-get($height, large)};
        }
      }
    }
  }
  &.h-medium {
    #{$root} {
      &__target {
        min-height: #{map-get($height, medium)};
        .ie & {
          height: #{map-get($height, medium)};
        }
      }
    }
  }
  &.h-regular {
    #{$root} {
      &__target {
        min-height: #{map-get($height, regular)};
        .ie & {
          height: #{map-get($height, regular)};
        }
      }
    }
  }
  &.h-small {
    #{$root} {
      &__target {
        min-height: #{map-get($height, small)};
        .ie & {
          height: #{map-get($height, small)};
        }
      }
    }
  }
  &.h-tiny {
    #{$root} {
      &__target {
        min-height: #{map-get($height, tiny)};
        .ie & {
          height: #{map-get($height, tiny)};
        }
      }
    }
  }
  //.c-button-c(sp)
  @include media-sp {
    &__target {
      &.f-pad-h-narrow-sp {
        padding-left: 1.2em;
        padding-right: 1.2em;
      }
    }
    &--2 {
      #{$root} {
        &__target {
          .android & {
            box-shadow: 0 0 0 #{$borderW}px $keyColor;
          }
        }
      }
    }
  }
}

/* .c-button-d //**
----------------------- */
/*
a.c-button-d__target(href="")
  p.c-button-d__text.u-fz14.u-fz12-sp.u-text-mid テキスト
  .c-button-d__icon
    span.c-arrow.c-arrow-a.c-arrow-a--down.s-8
*/
.c-button-d {
  $root: &;
  &__target {
    align-items: center;
    border: 1px solid $color-text;
    color: $color-text;
    display: inline-flex;
    padding: .5em 1.1em;
    transition: background .2s ease-out;
    &:hover {
      background: $color-blue-exlight;
    }
  }
  &__icon {
    margin-left: .5em;
    .c-arrow {
      display: block;
    }
  }
  //.c-button-d(sp)
  @include media-sp {
    &__target {
      padding: .3em .55em;
    }
  }
}

/* .c-button-icon-a //**
----------------------- */
/*
.c-button-icon-a
  a.c-button-icon-a__target(href="")
    .c-button-icon-a__icon
      svg.c-icon-a.white(role='img')
        use(xlink:href='/nenga/assets/img/svg-sprite/svg-icons.svg#ico_search_01')
    p.c-button-icon-a__text テキスト
*/
.c-button-icon-a {
  $root: &;
  text-align: center;
  &__target {
    display: block;
    &:hover {
      #{$root} {
        &__icon {
          transform: scale(1.2);
        }
      }
    }
  }
  &__icon {
    margin-bottom: 5px;
    transition: transform .2s ease-out;
  }
  &__text {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    @include font-smoothing;
  }
  //.c-button-cross(sp)
  @include media-sp {
  }
}

/* .c-button-icon-b //**
----------------------- */
/*
.c-button-icon-b
  a.c-button-icon-b__target(href="")
    .c-button-icon-b__icon
      svg.c-icon-user.white(role='img')
        use(xlink:href='/nenga/assets/img/svg-sprite/svg-icons.svg#ico_user_01')
    p.c-button-icon-b__text テキスト
*/
.c-button-icon-b {
  $root: &;
  &__target {
    align-items: center;
    border: 2px solid white;
    border-radius: .5em;
    display: flex;
    padding: .5em 1em;
    &:hover {
      #{$root} {
        &__icon {
          transform: scale(1.2);
        }
      }
    }
  }
  &__icon {
    margin-right: 10px;
    transition: transform .2s ease-out;
  }
  &__text {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    @include font-smoothing;
  }
  //.c-button-icon-b(sp)
  @include media-sp {
    &__target {
      border: 1px solid white;
      padding-left: .7em;
      padding-right: .7em;
    }
    &__icon {
      .c-icon-user {
        height: 18px;
        width: 13px;
      }
    }
    &__text {
      font-size: 1rem;
    }
  }
}

/* .c-button-icon-c //**
----------------------- */
.c-button-icon-c {
  $root: &;
  &__target {
    border: 2px solid $color-red;
    display: block;
    transition: transform .2s ease-out;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__mark {
    padding: 20px;
    text-align: center;
  }
  &__desc {
    background: $color-red;
    color: #fff;
    padding: 5px;
    position: relative;
  }
  &__text {
    text-align: center;
  }
  &__icon {
    position: absolute;
    right: 10px;
    top: 55%;
    transform: translateY(-50%);
    .c-arrow {
      display: block;
    }
  }
  &__img {
    width: 100%;
  }
}

/* .c-button-cross //**
----------------------- */
.c-button-cross {
  $root: &;
  $sizeH: 80;
  $sizeW: 80;
  align-items: center;
  background: $color-red;
  display: flex;
  height: #{$sizeH}px;
  justify-content: center;
  transition: background .2s ease-out;
  width: #{$sizeW}px;
  &:hover {
    background: $color-text;
  }
  .c-icon {
    pointer-events: none;
  }
  &--round {
    border-radius: 50%;
  }
}

/* .c-button-round
----------------------- */
.c-button-round {
  $root: &;
  $roundSize: 36;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: #{$roundSize}px;
  width: #{$roundSize}px;
  &__icon {
    fill: $color-navy;
    &.mail {
      width: 20 / $roundSize * 100%;
    }
  }
}
