
/* ==============================================
card
============================================== */

/*
* .c-card-mark //**
* .c-card-a
* .c-card-b
* .c-card-c
*/


/* .c-card-mark //**
----------------------- */
.c-card-mark {
  $root: &;
  max-width: 455px;
  &__container {
    align-items: center;
    border: 1px solid $color-gray-dark;
    display: flex;
    padding: 1em;
  }
  &__mark {
    flex: 0 0 auto;
    &:first-child {
      margin-right: 1em;
    }
  }
  &__text {
    line-height: 1.75;
  }
}

/* .c-card-a
----------------------- */
.c-card-a {
  align-items: center;
  background: $color-navy;
  border-radius: .3em;
  display: inline-flex;
  height: 55px;
  justify-content: center;
  padding: .5em 1.5em;
  &__icon {
    fill: white;
    height: 35px;
    margin-right: 10px;
    width: 35px;
  }
  &__text {
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3;
    @include font-smoothing;
  }
  &--type1 {
    background: $color-blue-light;
  }
  &--type2 {
    background: $color-green-light;
  }
}

/* .c-card-b
----------------------- */
.c-card-b {
  $root: &;
  padding: 25px;
  text-align: center;
  &__heading {
    margin-bottom: .8em;
  }
  &__body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__desc {
    color: $color-navy;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1.5em;
    &--large {
      font-size: 1.7rem;
    }
  }
  &__figure {
    img {
      width: 100%;
    }
  }
}

/* .c-card-c
----------------------- */
.c-card-c {
  $root: &;
  margin-bottom: 33px;
  padding: 15px;
  position: relative;
  &__caption {
    align-items: center;
    background: #fff;
    border: 1px solid currentColor;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 50%;
    line-height: 1.5;
    max-width: 100%;
    min-height: 4em;
    padding-bottom: 2px;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 50%);
    width: 375px;
    &--blue {
      color: $color-blue;
    }
    &--red {
      color: $color-red;
    }
  }
  //.c-card-c(sp)
  @include media-sp {
    font-size: 1.4rem;
    &__caption {
      max-width: 90%;
    }
  }
}
