
/* ==============================================
contents width
============================================== */

/*
* .c-cntw
*/

/* .c-cntw
----------------------- */
.c-cntw {
  $root: '&';
  margin: 0 auto;
  max-width: #{$brkw}px;
  padding-left: #{$pad}px;
  padding-right: #{$pad}px;
  width: 100%;
  &__inner {
    position: relative;
  }
  &--full {
    max-width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  &--1 {
    max-width: #{$brkw1}px;
  }
  &--2 {
    max-width: #{$brkw2}px;
  }
  &--3 {
    max-width: #{$brkw3}px;
  }
  &--4 {
    max-width: #{$brkw4}px;
  }
  &--5 {
    max-width: #{$brkw5}px;
    &.nopad {
      max-width: #{$cntw5}px;
      padding-left: 0;
      padding-right: 0;
    }
  }
  /* .c-cntw(brkw) */
  @media only screen and (max-width: #{$cntw}px) {

  }
  //.c-cntw(sp)
  @include media-sp {
    padding-left: vpsp-vw($pad-sp);
    padding-right: vpsp-vw($pad-sp);
  }
}
