
/* ==============================================
copyright
============================================== */

/*
* .c-copyright
*/


/* .c-copyright
----------------------- */
.c-copyright {
  $root: &;
  &__text {
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: .1em;
  }
  &--center {
    #{$root} {
      &__text {
        text-align: center;
      }
    }
  }
}
