
/* ==============================================
desvg
============================================== */

/*
* .c-desvg
*/


/* .c-desvg
----------------------- */
.c-desvg {
  &--blue {
    g,
    path {
      fill: $color-blue;
    }
  }
  &--white {
    g,
    path {
      fill: white;
    }
  }
  &--blue-stroke {
    g,
    path {
      stroke: $color-blue;
    }
  }
}
