
/* ==============================================
dlist
============================================== */

/*
* .c-dlist-a
* .c-dlist-b //**
* .c-dlist-c
* .c-dlist-fig
*/


/* .c-dlist-a
----------------------- */
.c-dlist-a {
  &__list {
    display: flex;
  }
  &__term {
    width: 9em;
  }
}

/* .c-dlist-b //**
----------------------- */
.c-dlist-b {
  align-items: flex-start;
  display: flex;
  &__term {
    flex: 0 0 auto;
    margin-right: .2em;
  }
  &--br {
    display: block;
  }
}

/* .c-dlist-c
----------------------- */
.c-dlist-c {
  display: table;
  &__list {
    display: table-row;
  }
  &__term,
  &__desc {
    display: table-cell;
  }
}

/* .c-dlist-fig
----------------------- */
.c-dlist-fig {
  display: flex;
  font-size: 1.2rem;
  &__figure {
    margin-right: .8em;
    &.c-icon {
      top: .5em;
    }
  }
  &__list {
    line-height: 1.5;
  }
  &__term {
    font-weight: 500;
  }
}
