
/* ==============================================
grid
============================================== */

/*
* .c-grid
* .c-grid--●●●(classの定義)【PC】
* .c-grid--●●●-sp(classの定義)【SP】
*/


/* Usage(example)
-----------------------
.c-grid.c-grid--2cols.c-grid--1col-sp
  .c-grid__wrap
    .c-grid__col
    .c-grid__col
*/

/* .c-grid
----------------------- */
$root: '.c-grid';
#{$root} {
  margin: 0;
  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }
  &--center {
    #{$root} {
      &__wrap {
        justify-content: center;
      }
    }
  }
  //.c-grid(sp)
  @include media-sp {
    &__wrap {
      flex-wrap: wrap;
    }
  }
}

/* .c-grid--●●●(classの定義)【PC】
===================================================== */
//**
#{$root}--4cols-design { //class名（任意）
  $cntw: $cntw; // コンテナの横幅
  $cols: 4; //コラム数
  $gap-hrzn: 20; //横方向のマージン
  $gap-vert: 20; //縦方向のマージン
  @include grid($cntw, $cols, $gap-hrzn, $gap-vert);
}
//**
#{$root}--4cols-flow { //class名（任意）
  $cntw: $cntw; // コンテナの横幅
  $cols: 4; //コラム数
  $gap-hrzn: 40; //横方向のマージン
  $gap-vert: 0; //縦方向のマージン
  @include grid($cntw, $cols, $gap-hrzn, $gap-vert);
}
//**
#{$root}--4cols-a { //class名（任意）
  $cntw: $cntw1; // コンテナの横幅
  $cols: 4; //コラム数
  $gap-hrzn: 20; //横方向のマージン
  $gap-vert: 20; //縦方向のマージン
  @include grid($cntw, $cols, $gap-hrzn, $gap-vert);
  #{$root} {
    &__col {
      .ie & {
        width: 23.5% !important;
      }
    }
  }
}
//**
#{$root}--3cols-lineup { //class名（任意）
  $cntw: $cntw; // コンテナの横幅
  $cols: 3; //コラム数
  $gap-hrzn: 55; //横方向のマージン
  $gap-vert: 0; //縦方向のマージン
  @include grid($cntw, $cols, $gap-hrzn, $gap-vert);
}
//**
#{$root}--3cols-option { //class名（任意）
  $cntw: $cntw1; // コンテナの横幅
  $cols: 3; //コラム数
  $gap-hrzn: 50; //横方向のマージン
  $gap-vert: 0; //縦方向のマージン
  @include grid($cntw, $cols, $gap-hrzn, $gap-vert);
}
//**
#{$root}--2cols-footer1 { //class名（任意）
  $cntw: $cntw; // コンテナの横幅
  $cols: 2; //コラム数
  $gap-hrzn: 140; //横方向のマージン
  $gap-vert: 0; //縦方向のマージン
  @include grid($cntw, $cols, $gap-hrzn, $gap-vert);
  #{$root} {
    &__wrap {
      flex-wrap: nowrap;
    }
    &__col {
      &:nth-child(1) {
        flex: 0 1 760px;
      }
      &:nth-child(2) {
        flex: 1 1 300px;
      }
    }
  }
}
//**
#{$root}--2cols-feature { //class名（任意）
  $cntw: $cntw1; // コンテナの横幅
  $cols: 2; //コラム数
  $gap-hrzn: 40; //横方向のマージン
  $gap-vert: 0; //縦方向のマージン
  @include grid($cntw, $cols, $gap-hrzn, $gap-vert);
  #{$root} {
    &__wrap {
      flex-wrap: nowrap;
      &--reverse {
        #{$root} {
          &__col {
            &:nth-child(2) {
              flex: 0 1 500px;
            }
            &:nth-child(1) {
              flex: 1 1 460px;
            }
          }
        }
      }
    }
    &__col {
      &:nth-child(1) {
        flex: 0 1 500px;
      }
      &:nth-child(2) {
        flex: 1 1 460px;
      }
    }
  }
}
//**
#{$root}--3cols-footer2 { //class名（任意）
  $cntw: 760; // コンテナの横幅
  $cols: 3; //コラム数
  $gap-hrzn: 60; //横方向のマージン
  $gap-vert: 0; //縦方向のマージン
  @include grid($cntw, $cols, $gap-hrzn, $gap-vert);
  #{$root} {
    &__col {
      &:nth-child(1) {
        flex: 1 1 350px;
        min-width: 330px;
      }
      &:nth-child(2) {
        flex: 1 1 140px;
        min-width: 120px;
      }
      &:nth-child(3) {
        flex: 1 1 160px;
        min-width: 156px;
      }
    }
  }
  //.c-grid--3cols-footer2(brkw1)
  @include media-brk1 {
    #{$root} {
      &__col {
        &:not(:last-child) {
          margin-right: vp-vw(30) !important;
        }
      }
    }
  }
}
//**
#{$root}--2cols-footer3 { //class名（任意）
  $cntw: 970; // コンテナの横幅
  $cols: 2; //コラム数
  $gap-hrzn: 103; //横方向のマージン
  $gap-vert: 0; //縦方向のマージン
  @include grid($cntw, $cols, $gap-hrzn, $gap-vert);
  #{$root} {
    &__wrap {
      flex-wrap: nowrap;
    }
    &__col {
      &:nth-child(1) {
        flex: 0 1 412px;
      }
      &:nth-child(2) {
        flex: 0 1 455px;
      }
    }
  }
}
//**
#{$root}--2cols-howto { //class名（任意）
  $cntw: $cntw1; // コンテナの横幅
  $cols: 2; //コラム数
  $gap-hrzn: 40; //横方向のマージン
  $gap-vert: 0; //縦方向のマージン
  @include grid($cntw, $cols, $gap-hrzn, $gap-vert);
  #{$root} {
    &__wrap {
      flex-wrap: nowrap;
    }
    &__col {
      &:nth-child(1) {
        flex: 0 1 500px;
      }
      &:nth-child(2) {
        flex: 0 1 460px;
      }
    }
  }
}
//**
#{$root}--2cols-howto2 { //class名（任意）
  $cntw: $cntw1; // コンテナの横幅
  $cols: 2; //コラム数
  $gap-hrzn: 40; //横方向のマージン
  $gap-vert: 0; //縦方向のマージン
  @include grid($cntw, $cols, $gap-hrzn, $gap-vert);
  #{$root} {
    &__wrap {
      flex-wrap: nowrap;
    }
    &__col {
      &:nth-child(1) {
        flex: 0 1 660px;
      }
      &:nth-child(2) {
        flex: 0 1 300px;
      }
    }
  }
}
//**
#{$root}--2cols-howto3 { //class名（任意）
  $cntw: $cntw1; // コンテナの横幅
  $cols: 2; //コラム数
  $gap-hrzn: 60; //横方向のマージン
  $gap-vert: 0; //縦方向のマージン
  @include grid($cntw, $cols, $gap-hrzn, $gap-vert);
  #{$root} {
    &__wrap {
      flex-wrap: nowrap;
    }
    &__col {
      &:nth-child(1) {
        flex: 0 1 460px;
      }
      &:nth-child(2) {
        flex: 0 1 460px;
      }
    }
  }
}
#{$root}--2cols { //class名（任意）
  $cntw: $cntw; // コンテナの横幅
  $cols: 2; //コラム数
  $gap-hrzn: 40; //横方向のマージン
  $gap-vert: 0; //縦方向のマージン
  @include grid($cntw, $cols, $gap-hrzn, $gap-vert);
}
#{$root}--2cols-a { //class名（任意）
  $cntw: $cntw2; // コンテナの横幅
  $cols: 2; //コラム数
  $gap-hrzn: 40; //横方向のマージン
  $gap-vert: 0; //縦方向のマージン
  @include grid($cntw, $cols, $gap-hrzn, $gap-vert);
  @include hr-vert( // 垂直ボーダーの設定
    $colw: 440, // コラム幅
    $gap-hrzn: $gap-hrzn,
    $bdrw: 1px, // ボーダー幅
    $bdrh: 100%, // ボーダー高さ
    $bdrc: $color-gray-light // ボーダーカラー
  );
}
#{$root}--2cols-pamph { //class名（任意）
  $cntw: 800; // コンテナの横幅
  $cols: 2; //コラム数
  $gap-hrzn: 80; //横方向のマージン
  $gap-vert: 0; //縦方向のマージン
  @include grid($cntw, $cols, $gap-hrzn, $gap-vert);
  #{$root} {
    &__col {
      &:nth-child(1) {
        flex: 0 1 140px;
      }
      &:nth-child(2) {
        flex: 1 1 580px;
      }
    }
  }
}

/* .c-grid--●●●-brk2(classの定義)【brk2】
===================================================== */
@include media-brk2 {
  //**
  #{$root}--3cols-design-brk2 { //class名（任意）
    $cntw: $cntw2; // コンテナの横幅
    $cols: 3; //コラム数
    $gap-hrzn: 20; //横方向のマージン
    $gap-vert: 20; //縦方向のマージン
    @include grid($cntw, $cols, $gap-hrzn, $gap-vert);
  }
}

/* .c-grid--●●●-sp(classの定義)【SP】
===================================================== */
@include media-sp {
  //**
  #{$root}--2cols-design-sp { //class名（任意）
    $cntw-sp: $cntw-sp;
    $cols: 2; //コラム数
    $gap-hrzn: 10; //横方向のマージン
    $gap-vert: 10; //縦方向のマージン
    @include grid-sp($cntw-sp, $cols, $gap-hrzn, $gap-vert);
  }
  //**
  #{$root}--2cols-a-sp { //class名（任意）
    $cntw-sp: $cntw-sp;
    $cols: 2; //コラム数
    $gap-hrzn: 8; //横方向のマージン
    $gap-vert: 10; //縦方向のマージン
    @include grid-sp($cntw-sp, $cols, $gap-hrzn, $gap-vert);
  }
  //**
  #{$root}--1col-footer1-sp { //class名（任意）
    $cntw-sp: $cntw-sp;
    $cols: 1; //コラム数
    $gap-hrzn: 0; //横方向のマージン
    $gap-vert: 20; //縦方向のマージン
    @include grid-sp($cntw-sp, $cols, $gap-hrzn, $gap-vert);
    #{$root} {
      &__wrap {
        flex-wrap: wrap;
      }
    }
  }
  //**
  #{$root}--1col-footer2-sp { //class名（任意）
    $cntw-sp: $cntw-sp;
    $cols: 1; //コラム数
    $gap-hrzn: 0; //横方向のマージン
    $gap-vert: 0; //縦方向のマージン
    @include grid-sp($cntw-sp, $cols, $gap-hrzn, $gap-vert);
    #{$root} {
      &__col {
        flex: 1 1 100% !important;
        min-width: 100% !important;
      }
    }
  }
  //**
  #{$root}--1col-footer3-sp { //class名（任意）
    $cntw-sp: $cntw-sp;
    $cols: 1; //コラム数
    $gap-hrzn: 0; //横方向のマージン
    $gap-vert: 30; //縦方向のマージン
    @include grid-sp($cntw-sp, $cols, $gap-hrzn, $gap-vert);
    #{$root} {
      &__wrap {
        flex-wrap: wrap;
      }
    }
  }
  //**
  #{$root}--1col-flow-sp { //class名（任意）
    $cntw-sp: $cntw-sp;
    $cols: 1; //コラム数
    $gap-hrzn: 0; //横方向のマージン
    $gap-vert: 70; //縦方向のマージン
    @include grid-sp($cntw-sp, $cols, $gap-hrzn, $gap-vert);
  }
  //**
  #{$root}--1col-feature-sp { //class名（任意）
    $cntw-sp: $cntw-sp;
    $cols: 1; //コラム数
    $gap-hrzn: 0; //横方向のマージン
    $gap-vert: 20; //縦方向のマージン
    @include grid-sp($cntw-sp, $cols, $gap-hrzn, $gap-vert);
    #{$root} {
      &__wrap {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
  //**
  #{$root}--1col-lineup-sp { //class名（任意）
    $cntw-sp: $cntw-sp;
    $cols: 1; //コラム数
    $gap-hrzn: 0; //横方向のマージン
    $gap-vert: 15; //縦方向のマージン
    @include grid-sp($cntw-sp, $cols, $gap-hrzn, $gap-vert);
    #{$root} {
      &__wrap {
        flex-wrap: wrap;
      }
    }
  }
  //**
  #{$root}--1col-howto-sp { //class名（任意）
    $cntw-sp: $cntw-sp;
    $cols: 1; //コラム数
    $gap-hrzn: 0; //横方向のマージン
    $gap-vert: 0; //縦方向のマージン
    @include grid-sp($cntw-sp, $cols, $gap-hrzn, $gap-vert);
    #{$root} {
      &__wrap {
        flex-wrap: wrap;
      }
      &__col {
        flex: 1 1 100% !important;
      }
    }
  }
  #{$root}--1col-sp { //class名（任意）
    $cntw-sp: $cntw-sp;
    $cols: 1; //コラム数
    $gap-hrzn: 0; //横方向のマージン
    $gap-vert: 0; //縦方向のマージン
    @include grid-sp($cntw-sp, $cols, $gap-hrzn, $gap-vert);
    &--full {
      margin-left: vpsp-vw(-$pad-sp);
      width: 100vw;
    }
  }
  #{$root}--1col-a-sp { //class名（任意）
    $cntw-sp: $cntw-sp;
    $cols: 1; //コラム数
    $gap-hrzn: 0; //横方向のマージン
    $gap-vert: 60; //縦方向のマージン
    @include grid-sp($cntw, $cols, $gap-hrzn, $gap-vert);
    &.f-reverse { // column-reverse
      @include reverse-1col($gap-vert);
    }
  }
}
