
/* ==============================================
gutter
============================================== */

/*
* .c-gutter-v{n}px
* .c-gutter-v{n}rem
*/

/* .c-gutter-v{n}px
----------------------- */
@for $i from 0 through 30 {
  .c-gutter-v#{$i * 5}px {
    > *:not(:last-child) {
      margin-bottom: #{$i * 5}px;
    }
  }
}
//.c-gutter-v{n}px(sp)
@include media-sp {
  @for $i from 0 through 30 {
    .c-gutter-v#{$i * 5}px-sp {
      > *:not(:last-child) {
        margin-bottom: #{$i * 5}px;
      }
    }
  }
}

/* .c-gutter-v{n}rem
----------------------- */
@for $i from 1 through 15 {
  .c-gutter-rem {
    &#{$i} {
      > *:not(:last-child) {
        margin-bottom: #{$i}rem;
      }
    }
  }
}
