
/* ==============================================
heading
============================================== */

/*
* .c-heading-s //**
* .c-heading-frame //**
* .c-heading-uline //**
* .c-heading-a
* .c-heading-b
* .c-heading-c
* .c-heading-d
* .c-heading-e
* .c-heading-f
* .c-heading-g
*/


/* .c-heading-s //**
----------------------- */
/*
.c-heading-s.c-heading-s--icon.icon-left.c-heading-s--border
  h3.c-heading-s__main.u-fz40.u-fz20-sp.u-text-mid 見出しテキスト
  p.c-heading-s__sub サブ見出し
*/
.c-heading-s {
  $root: &;
  color: $color-text;
  @include font-smoothing;
  &__main {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.5;
    @for $i from 1 through 50 {
      &.s-#{$i} { font-size: #{$i * .1}rem; }
    }
  }
  &__sub {
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 1em;
  }
  &--mb { //**
    margin-bottom: 2em;
  }
  &--mb1 { //**
    margin-bottom: 1em;
  }
  &--mb2 {
    margin-bottom: 2.5em;
  }
  &--mb3 {
    margin-bottom: .25em;
  }
  &--white {
    color: #fff;
  }
  &--blue {
    color: $color-blue;
  }
  &--icon {
    align-items: center;
    display: inline-flex;
    &.icon-align-top {
      align-items: flex-start;
    }
    &.icon-left {
      #{$root} {
        &__icon {
          margin-right: .6em;
        }
      }
    }
    &.icon-right {
      #{$root} {
        &__icon {
          margin-left: .6em;
        }
      }
    }
    .c-icon-a {
      margin-right: .5em;
      position: relative;
      top: -.5em;
    }
  }
  &--border {
    border-bottom: 1px solid $color-gray-exlight3;
    padding-bottom: .5em;
  }
  &--dashed {
    width: 100%;
    &::after {
      background: linear-gradient(90deg, rgba(#fff,0) 50%, rgba($color-gray-exlight2,1) 50%, rgba($color-gray-exlight2,1) 100%) repeat-x;
      background-size: 8px 100%;
      content: '';
      display: inline-block;
      flex: 1 1 100%;
      height: 1px;
    }
    #{$root} {
      &__main {
        flex: 1 0 auto;
        margin-right: .8em;
      }
    }
  }
  //.c-heading-s(sp)
  @include media-sp {
    &__main {
      @for $i from 1 through 30 {
        &.s-#{$i}-sp { font-size: #{$i * .1}rem; }
      }
    }
    &__sub {
      font-size: 2rem;
    }
    &--icon {
      .c-icon-a {
        height: 30px;
        top: -.1em;
        width: 30px;
      }
    }
    &--mb {
      margin-bottom: 1.5em;
    }
  }
}

/* .c-heading-frame
----------------------- */
/*
.c-heading-frame
  .c-heading-frame__main 見出しテキスト
*/
.c-heading-frame {
  $root: &;
  $color: $color-red;
  &__main {
    background: #fff;
    border: 2px solid $color;
    color: $color;
    font-size: 2rem;
    font-weight: 600;
    padding: .4em;
    text-align: center;
  }
  //.c-heading-frame(sp)
  @include media-sp {
    &__main {
      border: 2px solid $color;
      font-size: 1.8rem;
      padding: .2em;
    }
  }
}

/* .c-heading-uline //**
----------------------- */
/*
.c-heading-uline.c-heading-uline--mb1
  .c-heading-uline__icon
    | アイコン
  .c-heading-uline__text
    h3.c-heading-uline__main.u-fz20-sp 見出しテキスト
*/
.c-heading-uline {
  $root: &;
  $color: $color-text;
  border-bottom: 1px solid $color-gray-light;
  display: flex;
  padding-bottom: .5em;
  @include font-smoothing;
  &__icon {
    margin-right: .6em;
  }
  &__main {
    font-size: 2.4rem;
    font-weight: 600;
  }
  &--mb1 {
    margin-bottom: 1em;
  }
  //.c-heading-uline(sp)
  @include media-sp {
    &--mb1 {
      margin-bottom: 1.5em;
    }
  }
}

/* .c-heading-a
----------------------- */
/*
+heading-a(sect1.heading)
*/
.c-heading-a {
  $root: &;
  color: $color-text;
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
  &__icon {
    align-items: center;
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    height: 125px;
    justify-content: center;
    margin-bottom: .5em;
    width: 125px;
  }
  &__main {
    @include font-smoothing;
    font-weight: 700;
  }
  //.c-heading-a(sp)
  @include media-sp {
    font-size: 2.8rem;
    &__icon {
      height: 75px;
      width: 75px;
      img {
        height: 29px;
        width: 60px;
      }
    }
    &__main {
      font-size: 2rem;
      font-weight: 600;
    }
    &__sub {
      font-size: 1.6rem;
      margin-top: .3em;
    }
  }
}

/* .c-heading-b
----------------------- */
/*
+heading-b({
  modifier: 'c-heading-b--mb',
  tag: 'h2',
  main: '<span class="u-iblock">屋外型トランクルーム</span> <span class="u-iblock">契約の流れ</span>'
})
*/
.c-heading-b {
  color: $color-text;
  position: relative;
  text-align: center;
  @include font-smoothing;
  &__icon {
    margin-bottom: .7em;
  }
  &__text {
    display: inline-block;
    padding-bottom: .3em;
    position: relative;
  }
  &__main {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.75;
    position: relative;
  }
  + .c-text-lead {
    margin-top: 1.5em;
  }
  &--mb {
    margin-bottom: 1.5em;
  }
  &--mb2 {
    margin-bottom: 3em;
  }
  //.c-heading-b(sp)
  @include media-sp {
    &__icon {
      img {
        width: 120px;
      }
    }
    &__main {
      font-size: 2.4rem;
    }
  }
}

/* .c-heading-c
----------------------- */
.c-heading-c {
  $root: &;
  background: $color-blue;
  border-radius: 1em;
  color: white;
  padding: 1em;
  position: relative;
  text-align: center;
  &::after {
    bottom: 0;
    content: '';
    display: block;
    height: 15px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 100%);
    width: 23px;
    @include triangle-bottom($color-blue);
  }
  &__main {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
    @include font-smoothing;
  }
  //.c-heading-c(sp)
  @include media-sp {
    padding: .8em;
    &__main {
      font-size: 2rem;
    }
  }
}

/* .c-heading-d
----------------------- */
.c-heading-d {
  $root: &;
  align-items: center;
  display: flex;
  justify-content: center;
  &::before,
  &::after {
    background: $color-navy-light2;
    content: '';
    display: block;
    flex: 0 1 7.5em;
    height: 1px;
  }
  &__main {
    color: $color-navy;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 .5em;
    text-align: center;
    white-space: nowrap;
    @include font-smoothing;
  }
  &--mb {
    margin-bottom: 55px;
  }
  //.c-heading-d(sp)
  @include media-sp {
    &::before,
    &::after {
      flex: 1 1 auto;
    }
    &__main {
      font-size: 2.6rem;
    }
  }
}

/* .c-heading-e
----------------------- */
.c-heading-e {
  $root: &;
  background: $color-navy;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.3;
  padding: .2em;
  text-align: center;
  @include font-smoothing;
}

/* .c-heading-f
----------------------- */
/*
.c-heading-f.c-heading-f--mb1
  h2.c-heading-f__main ビル経営のメリット・デメリット
*/
.c-heading-f {
  $root: &;
  background: $color-blue-exlight3;
  padding: .7em 1em .8em 1.5em;
  position: relative;
  &::before {
    background: $color-blue;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 6px;
  }
  &__main {
    @include font-smoothing;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
  }
  &--mb1 {
    margin-bottom: 2.4em;
  }
  //.c-heading-f(sp)
  @include media-sp {
    padding: .5em 1em .6em 1.2em;
    &__main {
      font-size: 2rem;
    }
    &--mb1 {
      margin-bottom: 1.5em;
    }
  }
}
