
/* ==============================================
hover
============================================== */

/*
* .c-hover-color //**
* .c-hover-arrow-move //**
* .c-hover-uline
* .c-hover-scale //**
* .c-hover-bg //**
* .c-hover-opacity
* .c-hover-img
*/


/* .c-hover-color
----------------------- */
.c-hover-color {
  $color: $color-red;
  transition: color .2s ease-out;
  .c-arrow-a {
    transition: border-color .2s ease-out;
  }
  .c-arrow-line,
  .c-arrow-line::before,
  .c-arrow-line::after {
    transition: background .2s ease-out;
  }
  svg {
    transition: fill .2s ease-out;
  }
  &:hover {
    color: $color;
    .c-arrow-a {
      border-color: $color;
    }
    .c-arrow-line {
      background: $color;
      &::before,
      &::after {
        background: $color;
      }
    }
    svg {
      fill: $color;
    }
  }
}

/* .c-hover-arrow-move //**
----------------------- */
.c-hover-arrow-move {
  $root: &;
  &:hover {
    #{$root} {
      &__arrow {
        &:last-child {
          transform: translateX(30%);
        }
      }
    }
  }
  &__arrow {
    transition: transform .2s ease-out;
  }
}

/* .c-hover-uline
----------------------- */
.c-hover-uline {
  display: block;
  position: relative;
  &::after {
    background-color: currentColor;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    transition: width .2s ease-out;
    width: 0;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
  &.ext-center {
    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &.ext-right {
    &::after {
      left: auto;
      right: 0;
    }
  }
  &.ext {
    &-pos1 {
      &::after {
        bottom: .3em;
      }
    }
  }
  //.c-hover-uline(sp)
  @include media-sp {
    position: static;
    &::after {
      content: none;
    }
  }
}

/* .c-hover-scale //**
----------------------- */
.c-hover-scale {
  transition: transform .2s ease-out;
  &:hover {
    transform: scale(1.1)
  }
}

/* .c-hover-bg //**
----------------------- */
.c-hover-bg {
  transition: background .2s ease-out;
  &:hover {
    background: $color-gray-light;
  }
  &--gray-exlight {
    @include hover-bgcolor($color-gray-exlight);
  }
  &--navy-dark {
    @include hover-bgcolor($color-navy-dark);
  }
  &--blue {
    @include hover-bgcolor($color-blue);
  }
  &--blue-exlight {
    @include hover-bgcolor($color-blue-exlight);
  }
  &--orange-exlight {
    @include hover-bgcolor($color-orange-exlight);
  }
}

/* .c-hover-opacity
----------------------- */
.c-hover-opacity {
  transition: opacity .3s;
  &:hover {
    opacity: .7;
  }
}

/* .c-hover-img
----------------------- */
.c-hover-img {
  &:hover {
    img {
      animation: hoverImg .7s ease-out forwards;
    }
  }
}
@keyframes hoverImg {
  50% {
    opacity: .7;
  }
  100% {
    opacity: 1;
  }
}
