
/* ==============================================
hr
============================================== */

/*
* .c-hr
*/


/* .c-hr
----------------------- */
.c-hr {
  background: $color-text;
  border: none;
  height: 1px;
  margin: 0;
  &--dashed {
    background: linear-gradient(90deg, rgba(#fff,0) 50%, rgba($color-gray-exlight2,1) 50%, rgba($color-gray-exlight2,1) 100%) repeat-x;
    background-size: 8px 100%;
  }
}
