
/* ==============================================
icon
============================================== */

/*
* example
* .c-icon
* .c-icon-a //**
* .c-icon-b //**
* .c-icon-c
* .c-icon-d //**
* .c-icon-e //**
* .c-icon-user //**
* .c-icon-login //**
* .c-icon-search //**
* .c-icon-favorite //**
* .c-icon-flag //**
* .c-icon-shopping //**
* .c-icon-option //**
* .c-icon-delivery //**
* .c-icon-round
* .c-icon-square //**
* .c-icon-circle //**
* .c-icon-check //**
* .c-icon-func //**
* .c-icon-blank
* .c-icon-plus //**
* .c-icon-cross //**
* .c-icon-loud //**
* .c-icon-hyphen
* .c-icon-tel
* .c-icon-doc
* .c-icon-clock
*/


/* example
-----------------------
svg.c-icon.c-icon--right.c-icon-blank(class="")
  use(xlink:href=`${svgPath}svg-icons.svg#ico_blank_01`)

*/

/* .c-icon
----------------------- */
.c-icon {
  display: inline-block;
  pointer-events: none;
  position: relative;
  vertical-align: middle;
  &--right {
    margin-left: .4em;
  }

  /* .c-icon(sp) */
  @media only screen and (max-width: #{$brkw-sp}px) {
  }
}

/* .c-icon-a //**
----------------------- */
.c-icon-a {
  $size: '30px';
  height: #{$size};
  width: #{$size};
  &.white {
    fill: white;
  }
  &.red {
    fill: $color-red;
  }
  &.s-20 {
    height: 20px;
    width: 20px;
  }
}

/* .c-icon-b //**
----------------------- */
/*
span.c-icon.c-icon-b.c-icon-b--dark Q
span.c-icon.c-icon-b.c-icon-b--light A
*/
.c-icon-b {
  $size: 50;
  $color: $color-blue-light;
  align-items: center;
  background: #ddd;
  border-radius: 50%;
  display: flex;
  font-size: 3rem;
  height: #{$size}px;
  justify-content: center;
  width: #{$size}px;
  @include arial();
  &--blue {
    background-color: $color;
    color: #fff;
  }
  &--red {
    background-color: $color-red;
    color: #fff;
  }
  &.s-50 {
    height: 50px;
    width: 50px;
  }
}

/* .c-icon-c
----------------------- */
/*
span.c-icon.c-icon-b.c-icon-b--dark Q
span.c-icon.c-icon-b.c-icon-b--light A
*/
.c-icon-c {
  text-align: center;
  &__text {
    font-weight: 500;
    margin-top: .5em;
  }
}

/* .c-icon-d //**
----------------------- */
.c-icon-d {
  $sizeH: '60px';
  height: #{$sizeH};
  &.red {
    fill: $color-red;
  }
}

/* .c-icon-e //**
----------------------- */
.c-icon-e {
  $size: '160px';
  height: #{$size};
  width: #{$size};
}

/* .c-icon-user //**
----------------------- */
.c-icon-user {
  $sizeH: '28px';
  $sizeW: '20px';
  height: #{$sizeH};
  width: #{$sizeW};
  &.white {
    fill: white;
  }
}

/* .c-icon-login //**
----------------------- */
.c-icon-login {
  $sizeH: '28px';
  $sizeW: '28px';
  height: #{$sizeH};
  width: #{$sizeW};
  &.white {
    fill: white;
  }
}

/* .c-icon-search //**
----------------------- */
.c-icon-search {
  $sizeH: '20px';
  $sizeW: '20px';
  height: #{$sizeH};
  width: #{$sizeW};
  &.white {
    fill: white;
  }
}

/* .c-icon-favorite //**
----------------------- */
.c-icon-favorite {
  $sizeH: 30;
  $sizeW: 30;
  cursor: pointer;
  display: block;
  height: #{$sizeH}px;
  position: relative;
  transition: transform .1s ease-out;
  width: #{$sizeW}px;
  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  .c-icon-a {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    &.red {
      display: none;
    }
  }
  &.is-selected {
    .c-icon-a {
      display: none;
      &.red {
        display: block;
      }
    }
  }
  &:hover {
    transform: scale(1.15);
  }
}

/* .c-icon-flag //**
----------------------- */
.c-icon-flag {
  $root: &;
  $sizeH: 30;
  $sizeW: 30;
  $color: $color-text;
  &__content {
    align-items: center;
    background: $color;
    color: #fff;
    display: inline-flex;
    height: #{$sizeH}px;
    justify-content: center;
    position: relative;
    width: #{$sizeW}px;
    &::before,
    &::after {
      border-color: transparent;
      border-style: solid;
      border-width: calc((#{$sizeH}px / 3) / 2) calc(#{$sizeH}px / 4);
      bottom: 0;
      content: '';
      display: block;
      position: absolute;
      transform: translateY(100%);
    }
    &::before {
      border-left-color: $color;
      border-top-color: $color;
      left: 0;
    }
    &::after {
      border-right-color: $color;
      border-top-color: $color;
      right: 0;
    }
  }
  &--yellow {
    $color: $color-yellow;
    #{$root} {
      &__content {
        background: $color;
        &::before,
        &::after {
        }
        &::before {
          border-left-color: $color;
          border-top-color: $color;
        }
        &::after {
          border-right-color: $color;
          border-top-color: $color;
        }
      }
    }
  }
  &--gray {
    $color: $color-gray-light;
    #{$root} {
      &__content {
        background: $color;
        &::before,
        &::after {
        }
        &::before {
          border-left-color: $color;
          border-top-color: $color;
        }
        &::after {
          border-right-color: $color;
          border-top-color: $color;
        }
      }
    }
  }
  &--ocher {
    $color: $color-ocher;
    #{$root} {
      &__content {
        background: $color;
        &::before,
        &::after {
        }
        &::before {
          border-left-color: $color;
          border-top-color: $color;
        }
        &::after {
          border-right-color: $color;
          border-top-color: $color;
        }
      }
    }
  }
}

/* .c-icon-shopping //**
----------------------- */
.c-icon-shopping {
  $root: &;
  $sizeH: 36;
  $sizeW: 40;
  $sizeHSP: 27;
  $sizeWSP: 30;
  $color: $color-text;
  fill: $color;
  height: #{$sizeH}px;
  width: #{$sizeW}px;
  //.c-icon-shopping(sp)
  @include media-sp {
    height: #{$sizeHSP}px;
    width: #{$sizeWSP}px;
  }
}

/* .c-icon-option //**
----------------------- */
.c-icon-option {
  $root: &;
  $sizeH: 134;
  $sizeW: 220;
  $sizeHSP: 110;
  $sizeWSP: 180;
  height: #{$sizeH}px;
  max-width: #{$sizeW}px;
  width: 100%;
  //.c-icon-shopping(sp)
  @include media-sp {
    height: #{$sizeHSP}px;
    width: #{$sizeWSP}px;
  }
}

/* .c-icon-delivery //**
----------------------- */
.c-icon-delivery {
  $root: &;
  $sizeH: 183;
  $sizeW: 300;
  $sizeHSP: 183;
  $sizeWSP: 300;
  height: #{$sizeH}px;
  max-width: #{$sizeW}px;
  width: 100%;
  //.c-icon-shopping(sp)
  @include media-sp {
    height: #{$sizeHSP}px;
    width: #{$sizeWSP}px;
  }
}

/* .c-icon-round
----------------------- */
.c-icon-round {
  &__inner {
    align-items: center;
    background: $color-gray-exlight;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding-top: 100%;
    position: relative;
    width: 100%;
  }
  &__icon {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

/* .c-icon-square //**
----------------------- */
/*
.c-icon-square.c-icon-square--red.s-40.s-30-sp.u-mr20.u-mr10-sp
  span.c-icon-square__content.u-fz30.u-fz20-sp.u-text-roboto 1
*/
.c-icon-square {
  align-items: center;
  background: $color-red;
  color: #fff;
  display: flex;
  justify-content: center;
  &.s-18 {
    height: 18px;
    width: 18px;
  }
  &.s-40 {
    height: 40px;
    width: 40px;
  }
  &.s-50 {
    height: 50px;
    width: 50px;
  }
  &--white {
    background: white;
  }
  &--border {
    border: 1px solid $color-gray-dark;
  }
  //.c-icon-square(sp)
  @include media-sp {
    &.s-16-sp {
      height: 16px;
      width: 16px;
    }
    &.s-30-sp {
      height: 30px;
      width: 30px;
    }
  }
}

/* .c-icon-circle //**
----------------------- */
/*
span.c-icon-circle.c-icon-circle--blue.u-mr3.s-18
  span.c-icon-circle__content.u-text-indent-init.u-fz13 1
*/
.c-icon-circle {
  align-items: center;
  background: $color-text;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  &__content {
    color: #fff;
    display: block;
    position: relative;
    top: -.03em;
  }
  &.s-18 {
    height: 18px;
    width: 18px;
  }
  &--blue {
    background: $color-blue-light;
  }
  &--red {
    background: $color-red-exlight;
  }
  &--green-light {
    background: $color-green-light2;
  }
  &--border {
    background: #fff;
    border: 1px solid $color-text;
    overflow: hidden;
    &.c-blue {
      border-color: $color-blue-light;
    }
  }
  //.c-icon-circle(sp)
  @include media-sp {
    &.s-16-sp {
      height: 16px;
      width: 16px;
    }
  }
}

/* .c-icon-check //**
----------------------- */
/*
span.c-icon-check.c-icon-check--white.s-h10.s-w7.s-bdr2
*/
.c-icon-check {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: block;
  height: 10px;
  transform: rotate(45deg);
  width: 5px;
  @for $i from 5 through 20 {
    &.s-h#{$i} { height: #{$i}px; }
  }
  @for $i from 5 through 20 {
    &.s-w#{$i} { width: #{$i}px; }
  }
  @for $i from 1 through 8 {
    &.s-bdr#{$i} { border-width: #{$i}px; }
  }
  &--white {
    border-color: white;
  }
  //.c-icon-circle(sp)
  @include media-sp {
    @for $i from 5 through 20 {
      &.s-h#{$i}-sp { height: #{$i}px; }
    }
    @for $i from 5 through 20 {
      &.s-w#{$i}-sp { width: #{$i}px; }
    }
    @for $i from 1 through 8 {
      &.s-bdr#{$i}-sp { border-width: #{$i}px; }
    }
  }
}

/* .c-icon-func //**
----------------------- */
.c-icon-func {
  &.s-40 {
    height: 40px;
    width: 40px;
  }
  //.c-icon-func(sp)
  @include media-sp {
    &.s-30-sp {
      height: 30px;
      width: 30px;
    }
  }
}

/* .c-icon-blank
----------------------- */
.c-icon-blank {
  fill: $color-gray;
  height: 10px;
  width: 12px;
  &.c-icon--right {
    margin-left: .2em;
  }
}

/* .c-icon-plus //**
----------------------- */
.c-icon-plus {
  position: relative;
  display: block;
  width: 20px; /**/
  height: 20px; /**/
  &::before , &::after {
    // border-radius: 1px;
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 2px; /**/
    background: $color-blue; /**/
    content: '';
    transform: translateY(-50%);
  }
  &::after {
    transition: transform 0.2s ease-out;
    transform: translateY(-50%) rotate(90deg);
  }
  &--white {
    /**/
    &::before , &::after {
      background: #ffffff;
    }
  }
  [aria-expanded=true] & {
    &::after {
      transform: translateY(-50%) rotate(0deg);
    }
  }
}

/* .c-icon-cross //**
----------------------- */
.c-icon-cross {
  $size: 30;
  $borderW: 4;
  position: relative;
  width: #{$size}px;
  height: #{$size}px;
  &::before , &::after {
    left: 50%;
    position: absolute;
    top: 50%;
    width: 100%;
    height: #{$borderW}px;
    background: white;
    content: "";
  }
  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &--15 {
    width: 15px;
    height: 15px;
  }
  &--40 {
    width: 40px;
    height: 40px;
  }
  &--white {
    &::before,
    &::after {
      background: #fff;
    }
  }
}

/* .c-icon-loud //**
----------------------- */
.c-icon-loud {
  $borderW: 3;
  $borderWSP: 2;
  $color: $color-red;
  &::before,
  &::after {
    background: $color;
    content: '';
    display: inline-block;
    height: 1em;
    width: #{$borderW}px;
  }
  &::before {
    height: .6em;
    margin-right: .15em;
    transform: rotate(-50deg);
  }
  &::after {
    transform: rotate(-30deg);
  }
  &--invert {
    transform: scaleX(-1);
  }
  &--text {
    &::before,
    &::after {
      background: $color-text;
    }
  }
  //.c-icon-loud(sp)
  @include media-sp {
    &::before,
    &::after {
      width: #{$borderWSP}px;
    }
  }
}

/* .c-icon-hyphen
----------------------- */
.c-icon-hyphen {
  align-items: center;
  display: inline-flex;
  position: relative;
  top: -.1em;
  &::before {
    background: $color-blue;
    content: '';
    display: inline-block;
    height: 2px;
    margin: 0 .6em;
    width: .7em;
  }
}

/* .c-icon-tel
----------------------- */
.c-icon-tel {
  height: 32px;
  margin: 0 .3em;
  top: 0;
  width: 29px;
}

/* .c-icon-doc
----------------------- */
.c-icon-doc {
  // aspect-ratio: 4 / 5;
  height: 20px;
  top: 0;
  width: 16px;
}

/* .c-icon-clock
----------------------- */
.c-icon-clock {
  height: 15px;
  width: 15px;
  &--gray {
    fill: $color-gray;
  }
  @for $i from 10 through 20 {
    &.s-#{$i} {
      height: #{$i}px;
      width: #{$i}px;
    }
  }
  //.c-icon-clock(sp)
  @include media-sp {
    @for $i from 10 through 20 {
      &.s-#{$i}-sp {
        height: #{$i}px;
        width: #{$i}px;
      }
    }
  }
}
