
/* ==============================================
input
============================================== */

/*
* .c-input //**
* .c-input-text //**
* .c-input-select
* .c-input-radio
* .c-input-checkbox //**
* .c-input-textarea
*/


/* .c-input
----------------------- */
$inputPad: '1em';
$inputHeight: '48px';
.c-input {
  background: white;
  border: 1px solid $color-text;
  border-radius: .2em;
  font-size: 1.6rem;
  min-height: #{$inputHeight};
  padding: 0 #{$inputPad};
  &::placeholder {
    color: $color-gray;
  }
  &:focus,
  &:focus-visible {
    @include focus-style-light;
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $color-blue-exlight inset;
  }
  &:disabled {
    opacity: 1;
  }
  &--full {
    width: 100%;
  }
  &--mid {
    width: 320px;
  }
  &--error {
    background: $color-red-light !important;
  }
  &[aria-invalid="true"],
  [data-invalid="true"] & {
    background: $color-red-light !important;
  }
  //.c-input(sp)
  @include media-sp {
    &.w-full-sp {
      width: 100%;
    }
    &.w-auto-sp {
      width: auto;
    }
  }
}

/* .c-input-text //**
----------------------- */
.c-input-text {
  $root: &;
  &--left {
    margin-right: .7em;
  }
  &--right {
    margin-left: .7em;
  }
}

/* .c-input-select
----------------------- */
.c-input-select {
  $root: &;
  display: inline-block;
  position: relative;
  .c-input {
    color: $color-text;
    height: #{$inputHeight};
    padding-right: 60px;
  }
  &__icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  &--full {
    width: 100%;
    .c-input {
      width: 100%;
    }
  }
  &--w2 {
    .c-input {
      min-width: 400px;
    }
  }
  //.c-input-select(sp)
  @include media-sp {
    display: block;
    .c-input {
      min-width: 100%;
    }
    &--w2 {
      width: 100%;
      .c-input {
        min-width: 100%;
      }
    }
  }
}

/* .c-input-radio
----------------------- */
.c-input-radio {
  $root: &;
  $radioSize: '24px';
  $radioSizeSP: '24px';
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  height: #{$inputHeight};
  &__input {
    background: #fff;
    border: 2px solid rgba($color-text, .2);
    border-radius: 50%;
    box-sizing: border-box;
    flex-shrink: 0;
    height: #{$radioSize};
    left: 0;
    padding: 0;
    position: relative;
    width: #{$radioSize};
  }
  &__check {
    border: 1px solid $color-gray-light;
    border-radius: 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  input {
    &:checked {
      + .c-input-radio__check {
        background: $color-blue !important;
        display: block;
        height: 62%;
        left: 50%;
        top: 50%;
        width: 62%;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
      }
    }
    &:focus,
    &:focus-visible {
      + .c-input-radio__check {
        @include focus-style-light;
      }
    }
  }
  &--inversion {
    #{$root} {
      &__input {
        border: none;
      }
    }
    input {
      &:checked {
        + .c-input-radio__check {
          border: none;
          height: 100%;
          width: 100%;
          &::after {
            background: white;
            border-radius: 50%;
            content: '';
            display: block;
            height: 45%;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 45%;
          }
        }
      }
    }
  }
  //.c-input-radio(sp)
  @include media-sp {
    &__input {
      height: #{$radioSizeSP};
      width: #{$radioSizeSP};
    }
  }
}

/* .c-input-checkbox //**
----------------------- */
.c-input-checkbox {
  $root: &;
  $checkSize: '24px';
  $bdrColor: $color-text;
  $chkColor: $color-blue-light;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  &__input {
    border-radius: 0;
    flex-shrink: 0;
    height: #{$checkSize};
    left: 0;
    min-height: auto;
    padding: 0;
    position: relative;
    transition: background .2s ease-out;
    width: #{$checkSize};
    &:focus-within {
      @include focus-style-light;
    }
  }
  input {
    &:checked {
      + #{$root}__input {
        #{$root}__check {
          border-right: 3px solid $chkColor;
          border-bottom: 3px solid $chkColor;
          display: block;
          height: 60%;
          left: 50%;
          top: 50%;
          width: 40%;
          position: absolute;
          transform: translate(-50%, -65%) rotate(45deg);
        }
      }
      + #{$root}__input--inversion {
        background: $chkColor;
        border: none;
        #{$root}__check {
          border-color: white;
        }
      }
    }
  }
  .c-input-text {
    transition: color .2s ease-out;
  }
  &--center {
    justify-content: center;
  }
  &--button {
    border: 1px solid $bdrColor;
    border-radius: .2em;
    padding: 7px 13px 7px 7px;
    width: 100%;
    input {
      &:checked {
        + .c-input-checkbox__input {
          + .c-input-checkbox__bg {
            background: $chkColor;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
          }
        }
      }
    }
  }
  &:hover {
    .c-input {
      background: $color-blue-exlight;
      &-text {
        color: $color-blue-light;
      }
    }
  }
}

/* .c-input-textarea
----------------------- */
.c-input-textarea {
  line-height: 1.75;
  padding-top: #{$inputPad};
  padding-bottom: #{$inputPad};
  resize: none;
  &--1l {
    padding-top: .5em;
    padding-bottom: .5em;
  }
  &--2 {
    background: #fff;
  }
  //.c-input-textarea(sp)
  @include media-sp {
    &--1l {
      padding-top: .75em;
    }
  }
}
