
/* ==============================================
label
============================================== */

/*
* .c-label-a //**
* .c-label-b
* .c-label-c //**
* .c-label-d //**
* .c-label-e //**
* .c-label-f //**
* .c-label-circle-a //**
*/


/* .c-label-a //**
----------------------- */
/*
.c-label-a.c-label-a--iblock
  p.c-label-a__text メリット
    span.c-label-a__num 2
.c-label-a.c-label-a--invert.c-label-a--iblock.c-label-a--mid
  p.c-label-a__text.s-16.s-14-sp.u-text-mid トランクルームの運営
*/
.c-label-a {
  $root: &;
  background: $color-blue;
  border-radius: 1.5em;
  color: #fff;
  display: block;
  min-width: 100px;
  line-height: 1;
  padding: .3em 1em .4em;
  text-align: center;
  &__text {
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: center;
    @for $i from 8 through 20 {
      &.s-#{$i} { font-size: #{$i}px; }
    }
  }
  &__num {
    font-size: 2.4rem;
    margin-left: .1em;
  }
  &--iblock {
    display: inline-block;
  }
  &--invert {
    background: $color-blue-exlight3;
    color: $color-blue;
  }
  &--mid {
    padding: .6em 1em .8em;
  }
  //.c-label-a(sp)
  @include media-sp {
    &__text {
      @for $i from 8 through 20 {
        &.s-#{$i}-sp { font-size: #{$i}px; }
      }
    }
  }
}

/* .c-label-b
----------------------- */
/*
p.c-label-b ラベル
*/
.c-label-b {
  $root: &;
  background: white;
  border: 1px solid $color-text;
  color: $color-text;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;
  padding: .4em .5em;
  white-space: nowrap;
  &--required {
    border-color: $color-red;
    color: $color-red;
  }
}

/* .c-label-c //**
----------------------- */
/*
.c-label-c
  p.c-label-c__text オーナー様の声
*/
.c-label-c {
  $root: &;
  background: $color-blue;
  border-radius: .2em;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  padding: .2em .5em;
  &__text {
    line-height: 1.3;
  }
  &--red {
    background: $color-red;
  }
}

/* .c-label-d //**
----------------------- */
/*
span.c-label-d PDF
*/
.c-label-d {
  $root: &;
  background: white;
  border: 1px solid $color-red;
  border-radius: .2em;
  color: $color-red;
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1;
  padding: .2em .2em .2em .25em;
  text-align: center;
  vertical-align: middle;
}

/* .c-label-e //**
----------------------- */
/*
span.c-label-e 3
*/
.c-label-e {
  $root: &;
  $color: $color-red;
  $size: '50';
  align-items: center;
  background: $color;
  color: #fff;
  display: inline-flex;
  font-size: 3rem;
  font-weight: 600;
  height: #{$size}px;
  justify-content: center;
  width: #{$size}px;
  //.c-label-e(sp)
  @include media-sp {
    &.s-30-sp {
      height: 30px;
      width: 30px;
    }
  }
}

/* .c-label-f //**
----------------------- */
/*
.c-label-f
  p.c-label-f__text テキスト
*/
.c-label-f {
  $root: &;
  background: $color-text;
  padding: .4em;
  text-align: center;
  &__text {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    @include font-smoothing;
  }
  //.c-label-e(sp)
  @include media-sp {
    &.s-30-sp {
      height: 30px;
      width: 30px;
    }
  }
}

/* .c-label-circle-a //**
----------------------- */
/*
.c-label-circle-a
  .c-label-circle-a__heading
*/
.c-label-circle-a {
  $root: &;
  $bdrColor: $color-red;
  $size: 160;
  $offset: 20;
  align-items: center;
  background: white;
  border: 4px solid $bdrColor;
  border-radius: 50%;
  display: inline-flex;
  height: #{$size}px;
  justify-content: center;
  position: relative;
  width: #{$size}px;
  &::before {
    border: 2px solid $color-red-light2;
    border-radius: 50%;
    content: '';
    display: block;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(93%);
    width: 100%;
    .ie &,
    .safari &,
    .android & {
      height: 93%;
      transform: translate(-50%, -50%);
      width: 93%;
    }
  }
  //.c-label-e(sp)
  @include media-sp {
  }
}
