
/* ==============================================
link
============================================== */

/*
* .c-link-s //**
* .c-link-a
* .c-link-b
* .c-link-uline
* .c-link-logout
*/


/* .c-link-s //**
----------------------- */
/*
.c-link-s
  a.c-link-s__target.c-hover-color(href="")
    .c-link-s__icon
      span.c-arrow.c-arrow-a
    p.c-link-s__text.u-fz13 ログイン・新規登録
*/
.c-link-s {
  $root: &;
  position: relative;
  &__target {
    align-items: center;
    color: $color-text;
    display: inline-flex;
    &[disabled] {
      color: $color-gray-light;
      pointer-events: none;
      .c-arrow-line {
        background: $color-gray-light;
        &::after {
          background: $color-gray-light;
        }
      }
    }
    &:hover {
      #{$root} {
        &__icon {
          &.move-right {
            transform: translateX(30%);
          }
        }
      }
    }
  }
  &__icon {
    align-items: center;
    display: flex;
    transition: transform .2s ease-out;
    &:first-child {
      margin-right: .4em;
    }
    &:last-child {
      margin-left: .4em;
    }
  }
  &.icon-abs-right {
    #{$root} {
      &__icon {
        &:last-child {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: .5em;
        }
      }
    }
  }
  &.icon-abs-left {
    #{$root} {
      &__icon {
        &:first-child {
          left: .5em;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

/* .c-link-a
----------------------- */
.c-link-a {
  $root: &;
  $figH: 85px;
  $figHSP: 55px;
  text-align: center;
  &__target {
    &:hover {
      #{$root} {
        &__icon {
          transform: translateY(10px);
        }
      }
    }
  }
  &__text {
    color: $color-text;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
    @include font-smoothing();
  }
  &__fig {
    margin-top: 1.5em;
  }
  &__icon {
    display: flex;
    justify-content: center;
    margin-top: .8em;
    transition: transform .2s ease-out;
  }
  &__desc {
    margin-top: 1em;
    text-align: left;
  }
  &__button {
    margin-top: 1em;
  }
  &--button {
    height: 100%;
    #{$root} {
      &__target {
        height: 100%;
        padding-bottom: 57px;
        position: relative;
      }
      &__button {
        bottom: 0;
        position: absolute;
        width: 100%;
      }
    }
  }
  //.c-link-a(sp)
  @include media-sp {
    &__content {
      display: flex;
      margin-top: .5em;
      #{$root} {
        &__fig {
          flex: 0 0 150px;
          margin-right: 20px;
        }
      }
    }
    &__fig {
      margin-top: .9em;
    }
    &__icon {
      margin-top: .5em;
    }
  }
}

/* .c-link-b
----------------------- */
.c-link-b {
  $root: &;
  display: inline-block;
  text-align: center;
  &__thumb {
    align-items: center;
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    height: 100px;
    justify-content: center;
    width: 100px;
  }
  &__text {
    align-items: center;
    color: $color-text;
    display: flex;
    justify-content: center;
    margin-top: .5em;
    .c-arrow-a {
      margin-right: .5em;
    }
  }
}

/* .c-link-uline
----------------------- */
/*
a.c-link-uline(href="")
  | 業種比較
  span.c-arrow.c-arrow-a.u-ml3
*/
.c-link-uline {
  $root: &;
  // color: currentColor;
  color: $color-blue;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
  .c-arrow-a {
    position: relative;
    top: -.1em;
  }
}

/* .c-link-logout
----------------------- */
.c-link-logout {
  $root: &;
  align-items: center;
  color: $color-text;
  display: inline-flex;
  font-size: 1.4rem;
  .logout-icon {
    margin-left: .3em;
  }
  &:hover {
    color: $color-blue;
    .logout-icon {
      g {
        stroke: $color-blue;
      }
    }
  }
  &--white {
    color: white;
    .logout-icon {
      g {
        stroke: currentColor;
      }
    }
  }
}
