
/* ==============================================
list
============================================== */

/*
* .c-list-a //**
* .c-list-b
* .c-list-c
*/


/* .c-list-a //**
----------------------- */
/*
ul.c-list-a
  li.c-list-a__item ●□□□□■□□□□■
  li.c-list-a__item ●□□□□■□□□□■
*/
.c-list-a {
  $root: &;
  margin-left: 1em;
  text-indent: -1em;
  @for $i from 10 through 35 {
    &.s-#{$i} {
      margin-left: #{$i}px;
      text-indent: #{$i * -1}px;
    }
  }
  &--icon {
    #{$root} {
      &__item {
        align-items: center;
        display: flex;
      }
    }
  }
  &--2 {
    margin-left: 2em;
    text-indent: -2em;
    &#{$root}--noindent {
      margin-left: 0;
      text-indent: 0;;
    }
  }
  &--3 {
    margin-left: 3em;
    text-indent: -3em;
  }
  //.c-list-a(sp)
  @include media-sp {
    @for $i from 10 through 30 {
      &.s-#{$i}-sp {
        margin-left: #{$i}px;
        text-indent: #{$i * -1}px;
      }
    }
  }
}

/* .c-list-b
----------------------- */
.c-list-b {
  margin-left: 2em;
  text-indent: -2em;
  &__num {
    color: $color-blue;
    display: inline-block;
    font-weight: 600;
    margin-right: .8em;
    text-align: right;
    width: 1.3em;
  }
}

/* .c-list-c
----------------------- */
.c-list-c {
  $root: &;
  margin-left: 1em;
  text-indent: -1em;
  &__item {
    &::before {
      color: $color-purple-light;
      content: '●';
      font-size: .7em;
      margin-right: .5em;
      vertical-align: .1em;
    }
  }
  &--col {
    display: flex;
    #{$root} {
      &__list {
        padding: 1em;
        &:first-child {
          padding-left: 2em;
        }
        &:not(:last-child) {
          margin-right: 2em;
        }
      }
    }
  }
  &--bg-blue-exlight {
    background: $color-blue-exlight;
  }
  //.c-list-c(sp)
  @include media-sp {
    &--col {
      margin-left: 0;
    }
  }
}
