
/* ==============================================
logo
============================================== */

/*
* .c-logo-site
* .c-logo-square //**
* .c-logo-a
*/


/* .c-logo-site
----------------------- */
.c-logo-site {
  $root: &;
  display: block;
  &__wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  &__logo {
    flex: 0 0 auto;
  }
  &__statement {
    color: #000;
    font-size: 1.2rem;
    line-height: 1.3;
    margin-bottom: 3px;
  }
  &--2 {
    #{$root} {
      &__statement {
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
  }
  //.c-logo-site(sp)
  @include media-sp {
  }
}

/* .c-logo-square //**
----------------------- */
.c-logo-square {
  $root: &;
  align-items: center;
  background: $color-text;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 60px;
  &.c-red {
    background: $color-red;
  }
  &.s-75 {
    height: 75px;
    width: 75px;
  }
  &.s-90 {
    height: 90px;
    width: 90px;
  }
  //.c-logo-square(sp)
  @include media-sp {
    &.s-50-sp {
      height: 50px;
      width: 50px;
      svg {
        height: 38px;
        width: 39px;
      }
    }
    &.s-60-sp {
      height: 60px;
      width: 60px;
      svg {
        height: 48px;
        width: 49px;
      }
    }
    &.s-80-sp {
      height: 80px;
      width: 80px;
      svg {
        height: 56px;
        width: 53px;
      }
    }
  }
}

/* .c-logo-a
----------------------- */
.c-logo-a {
  $root: &;
  &__target {
    display: block;
    text-align: center;
  }
  &__text {
    color: #fff;
    font-size: 1.2rem;
  }
}
