
/* ==============================================
media
============================================== */

/*
* mixins
* .c-media-a
* .c-media-b
* .c-media-c
*/


/* mixins
----------------------- */
@mixin media ($type) {
  $root: $type;
  &__target {
    display: block;
    &:hover {
      #{$root} {
        &__media {
          img {
            transform: translateX(-50%) scale(1.05);
          }
        }
      }
    }
  }
  &__media {
    overflow: hidden;
    padding-top: 230 / 346 * 100%;
    position: relative;
    img,
    iframe {
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      transition: transform .2s ease-out;
      width: 100%;
    }
    iframe {
      width: 100%;
    }
  }
  &__thumb {
    height: 100%;
    object-fit: contain;
  }
  &--video {
    #{$root} {
      &__media {
        &::before,
        &::after {
          content: '';
          display: block;
          z-index: 1;
          position: absolute;
        }
        &::before {
          background-color: rgba(black, .45);
          height: 100%;
          left: 0;
          top: 0;
          width: 100%;
        }
        &::after {
          background-image: url(/assets/img/ico_play_01.svg);
          height: 70px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 70px;
        }
      }
      &__thumb {
        object-fit: cover;
      }
    }
  }
  &--video-aspect {
    #{$root} {
      &__media {
        padding-top: 56.25%;
      }
    }
  }
  &--link {
    #{$root} {
      &__target {
        &[href=''] {
          pointer-events: none;
        }
      }
    }
  }
}

/* .c-media-a
----------------------- */
.c-media-a  {
  $root: &;
  @include media('.c-media-a');
  &__media {
    background: $color-gray-light;
  }
  &__caption {
    color: $color-text;
    margin-top: .5em;
  }
  &--expand-img {
    #{$root} {
      &__media {
        &::after {
          background: url(/assets/img/ico_expand_01.svg) no-repeat;
          content: '';
          bottom: 15px;
          display: block;
          height: 33px;
          position: absolute;
          right: 15px;
          width: 33px;
        }
      }
    }
  }
  &--no-img {
    #{$root} {
      &__target {
        &:hover {
          #{$root}__media {
            &::before {
              transform: scale(1.08);
            }
          }
        }
      }
      &__media {
        &::before {
          background: url(/assets/img/logo_site_04.svg) no-repeat center;
          content: '';
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          transition: transform .2s ease-out;
          top: 0;
          width: 100%;
        }
      }
    }
  }
  //.c-media-a(sp)
  @include media-sp {
    &--expand-img {
      #{$root} {
        &__target {
          pointer-events: none;
        }
        &__media {
          &::after {
            content: none;
          }
        }
      }
    }
  }
}

/* .c-media-b
----------------------- */
.c-media-b {
  $root: &;
  height: 100%;
  @include media($root);
  &__target {
    height: 100%;
  }
  &__fig {
    background: $color-blue-light;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }
  &__caption {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px 30px;
  }
  &__p {
    color: $color-blue;
    line-height: 1.8;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  &--download {
    #{$root} {
      &__fig {
        background: $color-gray-light;
        padding-top: 30px;
        transition: background .2s ease-out;
        &:hover {
          background: $color-blue-light;
        }
      }
      &__media {
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        padding: 0 30px;
        text-align: center;
      }
      &__thumb {
        position: static;
        transform: none !important;
      }
    }
  }
}

/* .c-media-c
----------------------- */
.c-media-c {
  $root: &;

}
