
/* ==============================================
padding
============================================== */

/*
* .c-pad-a
*/


/* .c-pad-a
----------------------- */
.c-pad-a {
  $root: &;
  padding: 40px;
  //.c-pad-a(sp)
  @include media-sp {
    padding: 30px 15px;
  }
}
