
/* ==============================================
pagetop
============================================== */

/*
* .c-pagetop
*/


/* .c-pagetop
----------------------- */
.c-pagetop {
  $root: &;
  &__button {
    align-items: center;
    background: $color-gray-dark;
    border-radius: 50%;
    display: inline-flex;
    height: 60px;
    justify-content: center;
    transition: transform .2s ease-out;
    width: 60px;
  }
  &:hover {
    #{$root} {
      &__button {
        transform: translateY(-4px);
      }
    }
  }
  &.is-fixed {
    position: fixed;
  }
  //.c-pagetop(sp)
  @include media-sp {
    &__button {
      height: 50px;
      width: 50px;
    }
  }
}
