
/* ==============================================
par（paragraph）
============================================== */

/*
* .c-par-a
*/


/* .c-par-N(em)
----------------------- */
// PC
@for $i from 1 through 5 {
  .c-par-#{$i}em {
    &:not(:last-child) {
      margin-bottom: 1em * $i;
    }
  }
}
@for $i from 0 through 5 {
  .c-par-#{$i}5em {
    &:not(:last-child) {
      margin-bottom: $i + .5em;
    }
  }
}
// SP
@include media-sp {
  @for $i from 1 through 5 {
    .c-par-#{$i}em-sp {
      &:not(:last-child) {
        margin-bottom: 1em * $i;
      }
    }
  }
  @for $i from 0 through 5 {
    .c-par-#{$i}5em-sp {
      &:not(:last-child) {
        margin-bottom: $i + .5em;
      }
    }
  }
}
