
/* ==============================================
plate
============================================== */

/*
* .c-plate-a //**
* .c-plate-b //**
*/


/* .c-plate-a //**
----------------------- */
.c-plate-a {
  background: white;
  // border-radius: .4em;
  @include box-shadow-c;
  &--white {
    background: #fff;
  }
  &--navy {
    background: $color-navy-exlight;
  }
  //.c-plate-a(sp)
  @include media-sp {
    &--sp-full {
      border-radius: 0;
      @include cnt-mgn-left;
      @include cnt-mgn-right;
    }
  }
}

/* .c-plate-b //**
----------------------- */
.c-plate-b {
  background: white;
  border: 1px solid $color-gray-exlight3;
  // border-radius: .4em;
  &--navy {
    background: $color-navy-exlight;
  }
  //.c-plate-a(sp)
  @include media-sp {
    &--sp-full {
      border-radius: 0;
      @include cnt-mgn-left;
      @include cnt-mgn-right;
    }
  }
}
