
/* ==============================================
progress
============================================== */

/*
* .c-progress-a
* .c-progress-b //**
*/


/* .c-progress-a
----------------------- */
.c-progress-a {
  $root: &;
  &__list {
    font-size: 2.4rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }
  &__item {
    display: flex;
    &[aria-current=step] {
      #{$root} {
        &__text {
          color: $color-blue;
          font-weight: 600;
        }
      }
    }
    &:not(:last-child) {
      &::after {
        color: #999;
        content: '＞';
        font-weight: 200;
        margin: 0 1em;
      }
    }
  }
  &__text {
    font-family: NotoSerifJP, YuMincho, 'Yu Mincho', serif;
  }
  //.c-progress(sp)
  @include media-sp {
    &--spcol {
      #{$root} {
        &__list {
          align-items: center;
          flex-direction: column;
          font-size: 1.8rem;
        }
        &__item {
          align-items: center;
          flex-direction: column;
          &:not(:last-child) {
            &::after {
              line-height: 1;
              margin: .2em 0;
              transform: rotate(90deg);
            }
          }
        }
      }
    }
  }
}

/* .c-progress-b //**
----------------------- */
.c-progress-b {
  $root: &;
  $margin: 90;
  $circle: 62;
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    &:not(:last-child) {
      margin-right: #{$margin}px;
      #{$root} {
        &__num {
          &::after {
            background: $color-gray-light;
            content: '';
            display: block;
            height: 6px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(100%, -50%);
            width: #{$margin + $circle}px;
            z-index: -1;
          }
        }
      }
    }
    &[aria-current=step] {
      #{$root} {
        &__shoulder {
          color: $color-blue;
        }
        &__num {
          background: $color-blue;
        }
        &__text {
          color: $color-text;
        }
      }
    }
  }
  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  &__shoulder {
    color: $color-gray-light;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1;
    margin-bottom: .5em;
  }
  &__num {
    align-items: center;
    background: $color-gray-light;
    border-radius: 50%;
    color: white;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    height: #{$circle}px;
    justify-content: center;
    position: relative;
    width: #{$circle}px;
  }
  &__text {
    color: $color-gray-light;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1em;
    @include font-smoothing;
  }
  //.c-progress-b(sp)
  @include media-sp {
    $margin: 55;
    $circle: 40;
    &__item {
      &:not(:last-child) {
        margin-right: #{$margin}px;
        #{$root} {
          &__num {
            &::after {
              height: 4px;
              width: #{$margin + $circle}px;
            }
          }
        }
      }
    }
    &__shoulder {
      font-size: 1.2rem;
    }
    &__num {
      font-size: 1.8rem;
      height: #{$circle}px;
      width: #{$circle}px;
    }
    &__text {
      font-size: 1.5rem;
      margin-top: .5em;
    }
  }
}
