
/* ==============================================
signature
============================================== */

/*
* .c-signature-a
*/


/* .c-signature-a
----------------------- */
/*
.c-signature-a.c-signature-a--right
  .c-signature-a__content
    p.c-signature-a__p 〇〇株式会社
    dl.c-dlist-b
      dt.c-dlist-b__term 制定日：
      dd.c-dlist-b__desc ２００５年３月２０日
*/
.c-signature-a {
  &__content {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1.75;
    text-align: left;
  }
  &__p {
    &:not(:last-child) {
      // margin-bottom: 1em;
    }
  }
  &--right {
    text-align: right;
  }
}
