
/* ==============================================
text
============================================== */

/*
* .c-text-lead //**
* .c-text-body //**
* .c-text-notes //**
* .c-text-marker //**
*/


/* .c-text-lead /**
----------------------- */
.c-text-lead {
  $root: &;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1em;
  line-height: 1.5;
  &--white {
    color: #fff;
  }
  &--mb {
    margin-bottom: 1.8em;
  }
  &--mb1 {
    margin-bottom: 2.4em;
  }
  &--mb2 {
    margin-bottom: 3em;
  }
  //.c-text-lead(sp)
  @include media-sp {
    font-size: 1.6rem;
    letter-spacing: .025em;
    line-height: 2;
    &--mb {
      margin-bottom: 2.5em;
    }
    &--sp-left {
      text-align: left;
    }
  }
}

/* .c-text-body //**
----------------------- */
/*
.c-text-body
  p.c-text-body__p 本文テキスト
*/
.c-text-body {
  font-size: 1.8rem;
  line-height: 1.5;
  &__p {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  &--mb1 {
    margin-bottom: 3em;
  }
  //.c-text-body(sp)
  @include media-sp {
    font-size: 1.6rem;
  }
}

/* .c-text-notes //**
----------------------- */
.c-text-notes {
  $root: &;
  font-size: 1.6rem;
  //.c-text-notes(sp)
  @include media-sp {
    font-size: 1.4rem;
  }
}

/* .c-text-marker //**
----------------------- */
.c-text-marker {
  display: inline;
  @include marker(
    $data: (
      borderSize: 17,
      fontSize: 18,
      lineHeight: 1.5,
      color: $color-yellow,
      paddingBottom: 0
    )
  );
  &--1 {
    @include marker(
      $data: (
        borderSize: 3,
        fontSize: 20,
        lineHeight: 1.5,
        color: $color-orange,
        paddingBottom: 2
      )
    )
  }
}
