
/* ==============================================
title
============================================== */

/*
* .c-title
* .c-title-a
* .c-title-b
*/


/* .c-title
----------------------- */
.c-title {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* .c-title-a
----------------------- */
.c-title-a {
  @include serif;
  &__sub {
    color: $color-blue;
    display: block;
    font-size: 2.8rem;
    line-height: 1.5;
    margin-top: .4em;
  }
  &__main {
    color: $color-blue;
    display: block;
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.1;
  }
  //.c-title-a(sp)
  @include media-sp {
    &__sub {
      font-size: vpsp-vw(16);
    }
    &__main {
      font-size: vpsp-vw(24);
    }
  }
}

/* .c-title-b
----------------------- */
.c-title-b {
  $root: &;
  color: #fff;
  text-align: center;
  &__sub1 {
    @include serif;
    font-size: 2.5rem;
  }
  &__main {
    @include serif;
    font-size: 9rem;
    line-height: 1;
    margin-bottom: .15em;
  }
  &__sub2 {
    font-size: 3rem;
    font-weight: 500;
  }
  //.c-title-b(sp)
  @include media-sp {
    &__sub1 {
      margin-bottom: .3em;
    }
    &__main {
      font-size: 6.5rem;
      margin-bottom: .3em;
    }
    &__sub2 {
      font-size: 1.8rem;
    }
  }
}
