
/* ==============================================
toggler
============================================== */

/*
* .c-toggler
*/


/* .c-toggler
----------------------- */
.c-toggler {
  $root: &;
  // background: $color-blue;
  border: none;
  height: 100%;
  transition: background .2s ease-out;
  width: 100%;
  &__icon {
    height: 28px; //**
    position: relative;
    width: 30px; //**
    span {
      background: white; //**
      // border-radius: 2px;
      height: 4px; //**
      position: absolute;
      width: 100%;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-child(3) {
        bottom: 0;
        right: 0;
        width: 50%;
      }
    }
  }
  &__text {
    color: #fff;
    font-size: .9rem;
    margin-top: 4px;
    &::before {
      content: 'メニュー';
    }
    &.is-open {
      &::before {
        content: '閉じる';
      }
    }
  }
  span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform .2s ease-out; //**
  }
  &[aria-expanded=true] {
    .c-toggler {
      &__icon {
        span {
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(1),
          &:nth-child(3) {
            top: 50%;
          }
          &:nth-child(1) {
            transform: rotate(45deg);
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
            width: 100%;
          }
        }
      }
      &__text {
        .default {
          display: none;
        }
      }
    }
  }
  &[aria-expanded=false] {
    .c-toggler {
      &__text {
        .expanded {
          display: none;
        }
      }
    }
  }
  &:hover {
    #{$root}__icon {
      transform: scale(1.2);
    }
  }
}
