
/* ==============================================
video
============================================== */

/*
* .c-video-a
*/


/* .c-video-a
----------------------- */
.c-video-a {
  $root: &;
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
  &__inner {
    height: 0;
    line-height: 0;
    padding-top: 56.25%;
    position: relative;
    &::before,
    &::after {
      border-width: 42px 56px;
      border-style: solid;
      border-color: transparent;
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
    }
    &::before {
      border-top-color: $color-blue;
      border-left-color: $color-blue;
      left: -10px;
      top: -10px;
    }
    &::after {
      border-bottom-color: $color-yellow;
      border-right-color: $color-yellow;
      bottom: -10px;
      right: -10px;
    }
  }
  &__video {
    cursor: pointer;
  }
  iframe,
  video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &--modal {
    #{$root} {
      &__inner {
        height: auto;
        padding-top: 0;
       }
       &__img {
         cursor: pointer;
       }
    }
  }
  //.c-video-a(sp)
  @include media-sp {
    padding: 0 vpsp-vw(10);
    &__inner {
      &::before,
      &::after {
        border-width: vpsp-vw(23) vpsp-vw(30);
      }
    }
  }
}
