
mixin button-b(data)
  .c-button-b.c-button-b--icon-abs.icon-right(class=data.modifier)
    a.c-button-b__target(href=data.href target=`_${data.target}`)
      p.c-button-b__text
        | !{data.text}
        if data.target === 'blank'
          svg.c-icon.c-icon--right.c-icon-blank
            use(xlink:href=`${svgPath}svg-icons.svg#ico_blank_01`)
      .c-button-b__icon.right.move-right
        span.c-arrow.c-arrow-a
