
mixin faqlist(article)
  .p-faqlist-b
    each item, index in article.faqlist
      //- 初期表示 3つ
      if index < 3
        .p-faqlist-b__unit
          dl.p-faqlist-b__list.c-acc.c-acc-2
            dt.p-faqlist-b__item.p-faqlist-b__item--term.c-acc__tab
              .p-faqlist-b__childitem.c-acc__child
                .p-faqlist-b__icon
                  span.c-icon.c-icon-b.c-icon-b--blue Q
                p.p-faqlist-b__termtext !{item.q}
                .p-faqlist-b__toggler
                  span.c-icon.c-icon-plus
            dd.p-faqlist-b__item.p-faqlist-b__item--desc.c-acc__panel
              .p-faqlist-b__childitem.c-acc__child
                .p-faqlist-b__icon
                  span.c-icon.c-icon-b.c-icon-b--red A
                .p-faqlist-b__termtext.c-gutter-v10px !{item.a}
      //- 3つ表示した後
      else if index === 3
        .p-faqlist-b__more.c-acc.c-acc-4
          .c-acc__panel
            .c-acc__child
              each item, index in article.faqlist
                //- 4つ目以降を表示
                if index >= 3
                  .p-faqlist-b__unit
                    dl.p-faqlist-b__list.c-acc.c-acc-2
                      dt.p-faqlist-b__item.p-faqlist-b__item--term.c-acc__tab
                        .p-faqlist-b__childitem.c-acc__child
                          .p-faqlist-b__icon
                            span.c-icon.c-icon-b.c-icon-b--blue Q
                          p.p-faqlist-b__termtext !{item.q}
                          .p-faqlist-b__toggler
                            span.c-icon.c-icon-plus
                      dd.p-faqlist-b__item.p-faqlist-b__item--desc.c-acc__panel
                        .p-faqlist-b__childitem.c-acc__child
                          .p-faqlist-b__icon
                            span.c-icon.c-icon-b.c-icon-b--red A
                          .p-faqlist-b__termtext.c-gutter-v10px !{item.a}
          .p-faqlist-b__more-button.c-link-s.c-acc__tab
            button.button-open.c-link-s__target.u-color-blue-light.c-hover-color
              span.c-link-s__text.u-fz18.u-fz16-sp.u-text-mid もっと見る
              span.c-link-s__icon.u-rel.u-top1.u-ml8
                span.c-arrow.c-arrow-a.c-arrow-a--down.c-arrow-a--blue-light.s-10.b-3
            button.button-close.c-link-s__target.u-color-blue-light.c-hover-color
              span.c-link-s__text.u-fz18.u-fz16-sp.u-text-mid 閉じる
              span.c-link-s__icon.u-rel.u-top3.u-ml8
                span.c-arrow.c-arrow-a.c-arrow-a--up.c-arrow-a--blue-light.s-10.b-3
