
mixin heading-a(data)
  .c-heading-a(class=data.modifier)
    if data.mark
      .c-heading-a__mark
        +srcset(data.mark)
    .c-heading-a__text
      #{data.tag}.c-heading-a__main !{data.main}

mixin heading-b(data)
  .c-heading-b(class=data.modifier)
    if data.mark
      .c-heading-b__mark
        +srcset(data.mark)
    .c-heading-b__text
      #{data.tag}.c-heading-b__main
        span.c-text-marker !{data.main}
