
mixin hero-a(data)
  .l-hero-a#hero
    .l-hero-a__inner
      .l-hero-a__content.c-cntw
        .l-hero-a__text
          .l-hero-a__heading
            .c-heading-s
              h1.c-heading-s__main.s-44.s-24-sp.u-text-align-c-sp !{pageTitle}

mixin hero-b(data)
  .l-hero-b#hero(class=data.modifier)
    .l-hero-b__inner
      .l-hero-b__content.c-cntw
        .l-hero-b__text
          .l-hero-b__heading
            .c-heading-s.c-heading-s--white
              if pageSubTitle
                p.c-heading-s__sub !{pageSubTitle}
              h1.c-heading-s__main.s-40 !{pageTitle}
