
mixin label-c(data)
  .c-label-c(class=data.modifier)
    p.c-label-c__text(class=data.fzClass) #{data.text}

mixin label-c-require()
  .c-label-c.c-label-c--red
    p.c-label-c__text.u-fz12.u-fz11-sp 必須
