
mixin nav-d(data)
  .p-nav-d
    .c-heading-s.u-text-align-c.u-mb35.u-mb20-sp
      h3.c-heading-s__main.s-24.s-18-sp !{data.heading}
    .c-grid.c-grid--4cols-colnav.c-grid--1col-colnav-sp
      .c-grid__wrap
        each item in data.menu
          .c-grid__col
            .c-button-b.c-button-b--thin-sp.c-button-b--icon-abs.icon-right
              a.c-button-b__target(href=item.href aria-current=item.current)
                p.c-button-b__text !{item.text}
                .c-button-b__icon.right.move-right
                  span.c-arrow.c-arrow-a
