
mixin picture(data)
  picture(class=data.class.picture)
    if data.sp.artDirection
      source(media=`(max-width: ${data.brkPoint}px)` srcset=`${imgPath}${data.name}_sp.${data.sp.ext}` width=data.sp.width height=data.sp.height)
    img(
      class=data.class.img
      src=`${imgPath}${data.name}.${data.ext}`
      srcset=data.srcset ? srcset=`${imgPath}${data.name}@2x.${data.ext} 2x` : false
      width=data.width
      height=data.height
      loading=data.loading
      decoding="async"
      alt=data.alt
    )
