
mixin srcset(img)
  img(class=`${img.class}` src=`${imgPath}${img.name}.${img.ext}` srcset=`${imgPath}${img.name}@2x.${img.ext} 2x` width=img.width height=img.height loading=img.loading decoding=img.decoding alt=img.alt)

mixin srcset-color
  img(class=`${imgColor.class}` src=`${imgPath}${img.name}_color.${img.ext}` srcset=`${imgPath}${img.name}_color@2x.${img.ext} 2x` width=img.width height=img.height loading=img.loading alt=img.alt)
