mixin svg(svgClass, icon, label, width, height)
  svg(class=svgClass role="img" aria-label=label width=width height=height)
    use(xlink:href=`${svgPath}svg-icons.svg#${icon}`)

mixin svgAttr(svgClass, icon, label, width, height)
  svg(class=svgClass role="img" aria-label=label width=width height=height)
    use(xlink:href=`${svgPathAttr}svg-icons-attr.svg#${icon}`)
