
//-_layout
include ./includes/_breadcrumbs
include ./includes/_vars
include ./mixins/_hero

block vars

doctype html
html(lang='ja')
  head(prefix=`og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# ${pageType}: https://ogp.me/ns/${pageType}#`)
    include ./includes/_meta
    block stylesheets
    include ./includes/_gtm

  body(class=`${pageId} ${pageCategory}` itemscope itemtype="http://schema.org/WebPage")
    include ./includes/_gtm-ns
    .l-wrapper#wrapper

      include ./includes/_header

      main.l-main#main(itemprop='mainContentOfPage', itemscope, itemtype='https://schema.org/WebPageElement')
        if (pageId !== 'index')
          .c-cntw.l-breadcrumbs-wrap
            +breadcrumbs(breadcrumbs)
        block hero
        .l-container
          block content

      .l-footer-wrap#footer-wrap
        include ./includes/_footer

    script(src=`${relPath}assets/js/bundle.js`)