extends ./_layout

block vars
  -
    var pageId = 'index'
        pageCategory = ''
        pageType = 'website'
        title = ''
        description = 'ディスクリプション'
        //- keywords = 'キーワード'
        url = '/'
        ogTitle = `${siteName} | ${author}`
        ogDescription = description
        ogImage = `${imgPath}ogp.jpg`
        relPath = './'

block stylesheets
  //- link(rel="stylesheet" href=`${assetsPath}css/top.css`)

block hero
  include ./includes/_hero-top

block content
  section.l-section.u-pt40.u-pt20-sp
    .l-section__content.c-cntw
      .l-section__heading.u-mb55.u-mb35-sp
        .c-heading-c
          h2.c-heading-c__main
            span.u-color-orange-light.u-iblock 見出し
            span.u-iblock 見出し
      .l-section-2
        p コンテンツ
